.announcement-bar {
  background: #ffffff;
  color: #051c42;
}

.announcement-bar .message {
  padding: 13px 15px;
  font-size: 18px;
  color: #051c42;
  text-transform: initial;
  letter-spacing: 0;
  font-weight: 400;
}

.announcement-bar .message a {
  color: #051c42;
}

.announcement-bar .message .text {
  position: relative;
  top: 2px;
}

.announcement-bar .message b {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  -webkit-text-decoration-color: #b4bac6;
          text-decoration-color: #b4bac6;
}

.announcement-bar .message .button {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 130px;
  min-width: 126px;
  padding: 8px 15px 10px;
  display: none;
  text-transform: none;
}

.halo-block-slideshow {
  line-height: 1;
  font-size: 0;
}

.halo-block-slideshow .halo-row-carousel {
  line-height: 1;
}

.halo-block-slideshow .halo-row-carousel .bannerCarousel-slide {
  display: none;
}

.halo-block-slideshow .halo-row-carousel .bannerCarousel-slide:first-child {
  display: block;
}

.halo-block-slideshow .halo-row-carousel .slick-dots {
  position: absolute;
  bottom: 4px;
  width: 100%;
}

.halo-block-slideshow .halo-row-carousel .slick-dots li button {
  background: transparent;
  border-color: #ffffff;
}

.halo-block-slideshow .halo-row-carousel .slick-dots li.slick-active button {
  border-color: #ffffff;
  background: #ffffff;
}

.halo-block-slideshow .halo-row-carousel.slick-initialized .bannerCarousel-slide {
  display: block;
}

.halo-block-custom-image {
  padding: 20px 0 20px;
}

.halo-block-custom-image .halo-row-item .img-box {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.halo-block-custom-image .halo-row-item .img-box img {
  margin: 0 auto;
}

.halo-block-custom-image .halo-row-item .content-box {
  padding: 15px;
}

.halo-block-custom-image .halo-row-item .content-box .title,
.halo-block-custom-image .halo-row-item .content-box .link_title {
  font-size: 18px;
  font-weight: 600;
  color: #051c42;
  letter-spacing: 0;
  margin: 0;
}

.halo-block-custom-image .halo-row-item:hover .content-box .title,
.halo-block-custom-image .halo-row-item:hover .content-box .link_title {
  color: #234bbb;
}

.halo-block-custom-image .slick-arrow {
  top: calc(50% - 20px);
}

.halo-block-banner-tab {
  padding: 0 0 14px;
}

.halo-block-banner-tab .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin-bottom: 25px;
}

.halo-block-banner-tab .nav-tabs .nav-link {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #051c42;
  position: relative;
  text-transform: capitalize;
  padding: 13px 15px;
  line-height: 1.5;
  margin: 0 15px;
  border: none;
  border: 1px solid #051c42;
  min-width: 198px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.halo-block-banner-tab .nav-tabs .nav-link.active {
  border-color: #e1732c;
  background: #e1732c;
  color: #ffffff;
}

.halo-block-banner-tab .nav-tabs .nav-link:hover {
  border-color: #e1732c;
  background: #e1732c;
  color: #ffffff;
}

.halo-block-banner-tab .banner-tab-content > .tab-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.halo-block-banner-tab .banner-tab-content > .tab-pane.active {
  height: auto;
  overflow: visible;
}

.halo-block-banner-tab .banner-tab-content .img-box img {
  margin: 0 auto;
}

.halo-block-banner-tab .banner-tab-content .content-box {
  padding: 17px 15px 14px;
  max-width: 240px;
  margin: 0 auto;
}

.halo-block-banner-tab .banner-tab-content .content-box .title,
.halo-block-banner-tab .banner-tab-content .content-box .link_title {
  font-size: 16px;
  letter-spacing: 0;
  color: #051c42;
  font-weight: 600;
}

.halo-block-three-banner {
  padding: 0px 0px 24px;
}

.halo-block-three-banner .halo-row-item .content-box {
  padding: 15px 15px 26px;
}

.halo-block-three-banner .halo-row-item .content-box .title,
.halo-block-three-banner .halo-row-item .content-box a {
  font-size: 18px;
  color: #051c42;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0;
}

.halo-block-icon-with-text .halo-block-header {
  margin-bottom: 22px;
}

.halo-block-icon-with-text .content-box {
  width: 100%;
  max-width: 1200px;
}

.halo-block-icon-with-text .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.halo-block-icon-with-text .wrapper-item {
  text-align: center;
}

.halo-block-icon-with-text .wrapper-item .icon {
  margin: 0 auto 15px;
  width: 100%;
  max-width: 80px;
}

.halo-block-icon-with-text .wrapper-item .icon img {
  margin: 0 auto;
}

.halo-block-icon-with-text .wrapper-item .content-box {
  width: 100%;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.halo-block-icon-with-text .wrapper-item .content-box .title {
  font-size: 20px;
  margin-bottom: 13px;
  font-weight: 700;
  color: #051c42;
  letter-spacing: 0;
}

.halo-block-icon-with-text .wrapper-item .content-box .desc {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: .02em;
  color: #051c42;
}

.halo-block-icon-with-text .wrapper-item .content-box .link {
  width: 100%;
  font-size: 16px;
  max-width: 178px;
  margin: 12px auto 0;
  font-weight: 700;
  color: #051c42;
}

.halo-block-icon-with-text .banner-action {
  margin: 17px 0px 15px;
}

.halo-block-icon-with-text .banner-action .link {
  font-size: 16px;
  color: #051c42;
}

.halo-block-brands {
  padding: 38px 0 35px;
}

.halo-block-brands .halo-row-item {
  margin-bottom: 10px;
}

.halo-block-brands .halo-row-item .wrapper-content {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 8px;
  border-radius: 6px;
}

.halo-block-brands .halo-row-item .img-box {
  margin: 10px 15px 30px;
}

.halo-block-brands .halo-row-item .img-box img {
  margin: 0 auto;
}

.halo-block-brands .halo-row-item .box-content .link {
  color: #051c42;
  font-size: 16px;
  font-weight: 400;
}

.halo-block-brands .halo-row-item:hover .box-content .link {
  color: #234bbb;
}

.halo-block-brands .halo-row-item:hover .box-content .link span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.halo-block-four-banner {
  padding: 23px 0px 40px;
}

.halo-block-four-banner .halo-row-item {
  margin-bottom: 10px;
}

.halo-block-four-banner .halo-row-item.halo-row-2item {
  padding: 0;
}

.halo-block-custom-text {
  padding: 0 0 34px;
}

.halo-block-custom-text .halo-block-content {
  font-size: 16px;
  line-height: 28px;
  color: #051c42;
  text-align: center;
}

.halo-block-custom-text .halo-block-content b {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.halo-block-custom-text .halo-block-content .footer-action {
  padding: 14px 0px;
}

.halo-block-custom-text .halo-block-content .footer-action .link {
  font-size: 16px;
  line-height: 28px;
  color: #051c42;
  font-weight: 700;
}

.halo-block-custom-service {
  position: relative;
  background-image: url(../../../images/banners/home/home-8/banner-23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 50px;
  padding-bottom: 70px;
}

.halo-block-custom-service .halo-block-header .title {
  padding-bottom: 10px;
}

.halo-block-custom-service .content-box .img-box {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 26px;
}

.halo-block-custom-service .content-box .img-box .view-abs a {
  border-radius: 50%;
  border-color: #e1732c;
}

.halo-block-custom-service .content-box .img-box .view-abs a::before, .halo-block-custom-service .content-box .img-box .view-abs a::after {
  background-color: #e1732c;
}

.halo-block-custom-service .content-box .title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.halo-block-custom-service .content-box .desc {
  line-height: 28px;
  margin-bottom: 17px;
}

.halo-block-custom-service .content-box .link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #051c42;
  letter-spacing: 0;
}

.halo-block-instagram {
  margin: 53px 0px 40px;
}

.halo-block-instagram .halo-block-header .title {
  margin-bottom: 13px;
}

.halo-block-instagram .view-abs {
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  -webkit-transition: transform .3s linear .1s;
}

.halo-block-instagram .view-abs a {
  border-color: #051c42;
}

.halo-block-instagram .view-abs a::before, .halo-block-instagram .view-abs a::after {
  background-color: #051c42;
}

.halo-block-instagram .instagram-button {
  margin: 33px 0px 33px;
}

.halo-block-instagram .instagram-button .link {
  font-size: 18px;
  color: #051c42;
  font-weight: 700;
  letter-spacing: 0;
}

.halo-product-block {
  margin: 0;
}

.halo-product-block .halo-block-header {
  margin-bottom: 35px !important;
}

.halo-product-block .product-item {
  margin-top: 0 !important;
}

@media (max-width: 767px) {
  .halo-block-banner-tab .nav-tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .halo-block-banner-tab .nav-tabs .nav-link {
    min-width: 150px;
    padding: 10px 15px;
    margin: 0px 5px;
  }
}

@media (min-width: 768px) {
  .announcement-bar .message {
    padding: 5px 15px;
  }
  .announcement-bar .message .button {
    display: inline-block;
  }
  .halo-block-icon-with-text {
    padding: 3px 0 32px;
  }
  .halo-block-icon-with-text .image {
    min-height: 300px;
  }
  .halo-block-brands .row {
    margin-left: -7.5px !important;
    margin-right: -7.5px !important;
  }
  .halo-block-brands .row .halo-row-item {
    margin-bottom: 15px;
    padding-left: 7.5px !important;
    padding-right: 7.5px !important;
  }
  .halo-block-four-banner .halo-row-item {
    margin-bottom: 0;
  }
  .halo-block-four-banner .halo-row-item .halo-row-2item {
    margin-bottom: 20px;
    padding: 0;
  }
}

@media (min-width: 1250px) {
  .halo-block-icon-with-text .halo-block-content .content-box--absolute {
    top: calc(50% - 40px);
  }
  .halo-block-icon-with-text .wrapper-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .halo-block-icon-with-text .wrapper-item .icon {
    margin: 0;
  }
  .halo-block-icon-with-text .wrapper-item .content-box {
    text-align: left;
    margin-left: 5px;
  }
  .halo-block-four-banner .halo-row-item .halo-row-2item {
    margin-bottom: 30px;
  }
  .halo-block-custom-text {
    padding: 34px 0px 60px;
  }
  .halo-block-custom-text .halo-block-content {
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .halo-block-custom-image .halo-row-item .view-abs .view {
    border: 1px solid #e1732c;
    border-radius: 50%;
  }
  .halo-block-custom-image .halo-row-item .view-abs .view::before, .halo-block-custom-image .halo-row-item .view-abs .view::after {
    background-color: #e1732c;
  }
  .halo-block-banner-tab .halo-row-item:hover .view-abs .view {
    border: 1px solid #e1732c;
    border-radius: 3px;
  }
  .halo-block-banner-tab .halo-row-item:hover .view-abs .view::before, .halo-block-banner-tab .halo-row-item:hover .view-abs .view::after {
    background-color: #e1732c;
  }
  .halo-block-banner-tab .halo-row-item:hover .content-box .title,
  .halo-block-banner-tab .halo-row-item:hover .content-box .link_title {
    color: #234bbb;
  }
}
/*# sourceMappingURL=demo-8.css.map */