$font-size: 12px;
$line-height: 22px;
$color-text: #232323;
$page_title_color: #232323;
$body-background: #ffffff;
$font-family: 'Poppins';
$border-checkbox: #d0d0d0;
$color-input: #3c3c3c;
$border_input: #cbcbcb;
$border-color: #ebebeb;
$link-color-hover: #232323;
$anchor-transition: all ease .3s;
$color-link: #232323;
$scrollbar-background: #e0e0e0;
$scrollbar-thumb-background: #aeaeae;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-black: 900;