.header-8{
    .header-top{
        background: #234bbb;
        padding: 17px 0px 23px;
        .header-top--wrapper{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        .header-top--left{
            flex: 0 0 calc(16% - 10px);
            max-width: calc(16% - 10px);
            display: block;
            position: relative;
            .header__heading{
                position: relative;
                top: 4px;
            }
        }
        .header-top-center{
            position: relative;
            flex: 0 0 calc(48.666667% + 20px);
            max-width: calc(48.666667% + 20px);
            margin-top: 5px;
            .search-bar{
                border-radius: 5px;
                .input-group-field{
                    padding: 15px 20px 15px;
                    font-size: 18px;
                    color: #808080;
                    letter-spacing: 0;
                    width: calc(100% - 42px);
                }
                .icon-search{
                    padding: 0;
                    width:42px;
                    svg{
                        width: 27px;
                        height: 27px;
                        fill: #234bbb;
                    }
                }
            }
            .quickSearchResultsWrap{
                width:100%;
                border-radius: 5px;
                overflow: hidden;
                padding: 0;
                .quickSearchResult{
                    padding: 30px 30px 30px;
                    max-height: calc(80vh - 150px);
                    overflow-x: hidden;
                    overflow-y: auto;
                }
                &.show{
                    top: calc(100% + 10px);
                }
            }
        }
        .header-top--right{
            flex: 0 0 calc(33.3333% - 10px);
            max-width: calc(33.3333% - 10px);
            .header__group{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .customer-service-text{
                font-size: 16px;
                text-align: left;
                margin-right: 2px;
                position: relative;
                top: 9px;
                color: #ffffff;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: #ffffff;
                    position: relative;
                    top: -3px;
                }
            }
            .header__icon{
                position: relative;
                text-align: center;
                svg{
                    width: 30px;
                    height: 30px;
                    margin: 0;
                    position: relative;
                    top: 2px;
                    fill:#ffffff;
                }
                & > span{
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 600;
                    display: block!important;
                    height: auto;
                    margin-top: 10px;
                    margin-left: 0;
                    letter-spacing: 0;
                    color:#ffffff;
                }
                .cart-count-bubble{
                    position: absolute;
                    right: 4px;
                    top: -7px;
                    width:24px;
                    height: 24px;
                    line-height: 24px;
                    background: #f7c947;
                    span{
                        color: #234bbb;
                    }
                }
                & + .header__icon{
                    margin-left: 27px;
                }
            }
        }
    }
    .header-bottom{
        background: #234bbb;
        .header-bottom--wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu-dropdown{
            padding: 30px 0 16px;
        }
        .list-menu{
            .menu-lv-1{
                .menu-lv-1__action{
                    font-size: 18px;
                    letter-spacing: 0;
                    font-weight: 700;
                    text-transform: capitalize;
                    padding: 11px 22px 15px;
                    color: #ffffff;
                }
                .label{
                    font-size: 14px;
                    border-radius: 3px;
                    line-height: 22px;
                    height: 22px;
                    padding: 0 12px;
                    right: -10px;
                    top: -13px;
                    &.new-label{
                        color: #0a6cdc;
                        background-color: #d2e7ff;
                    }
                    &.hot-label{
                        background: #feedbd;
                        color: #fd9427;
                    }
                    &.sale-label{
                        background: #ffd8d7;
                        color: #e10600;
                    }
                    &::before{
                        display: none;
                    }
                }
            }
            .site-nav-title{
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                color: #051c42;
                margin: 0 0 6px;
            }
            .site-nav-link{
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0;
                color: #051c42;
                padding: 6px 0;
                &:hover{
                    color: #234bbb;
                } 
            }
            .product-card{
                .card-vendor{
                    font-size: 16px;
                    font-weight: 600;
                    color: #051c42;
                    letter-spacing: 0;
                }
                .card-title{
                    font-size: 16px;
                    color: #051c42;
                    letter-spacing: 0;
                    padding: 3px 0px 0px;
                }
                .card-price{
                    justify-content: center;
                    span{
                        font-size: 16px;
                    }
                }
                .card-swatch{
                    .item{
                        margin: 0px 7.5px;
                    }
                }
            }
            .megamenu_style_2{
                .site-nav-banner{
                    .site-nav-banner--item {
                        width: 100%;
                        .banner{
                            margin-bottom: 20px;
                        }
                    }
                }
                .wrapper-mega-banner{
                    .content-box{
                        .sub-title{
                            font-size: 16px;
                            color: #051c42;
                            font-weight: 400;
                        }
                        .title{
                            font-size: 30px;
                            color: #051c42;
                        }
                        .link{
                            font-size: 16px;
                            color: #234bbb;
                        }
                    }
                    .col-brands{
                        .title{
                            font-size: 16px;
                            color: #051c42;
                            font-weight: 600;
                        }
                        .azbrandstable{
                            a{
                                font-size: 16px;
                                color: #051c42;
                                font-weight: 500;
                            }
                        }
                        .link-brands{
                            font-size: 16px;
                            color: #234bbb;
                        }
                    }
                }
            }
        }
        .list-menu--disclosure{
            li{
                a{
                    color: #051c42;
                    font-size: 16px;
                    letter-spacing:0;
                    &:hover{
                        color: #234bbb;
                    }
                }
            }
        }

        .header-language_currency{
            display: inline-block;
            position: relative;
            text-align: right;
            top: -1px;
            padding: 0;
            .halo-language_currency{
                .disclosure__button {
                    padding: 0;
                    .icon {
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: -1px;
                        svg{
                            width: 16px;
                            height: 16px;
                            
                        }
                    }
                    .text {
                        font-size: 16px;
                        font-weight: 400;
                        color: #ffffff;
                        margin-left: 10px;
                        margin-right: 10px;
                        & + svg{
                            fill: #ffffff;
                            width: 11px;
                            height: 11px;
                        }
                        &.text-language{
                            position: relative;
                            &::after{
                                position: absolute;
                                content: "/";
                                top: 0px;
                                right: -14px;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            .dropdown-language_currency{
                display: flex;
                justify-content: center;
                background: #fafafa;
                position: absolute;
                right: 0;
                top: 10px;
                opacity: 0;
                z-index: -1;
                overflow: hidden;
                transition: all .5s ease;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
                width: 100%;
                min-width: 300px;
                border-radius: 5px;
                padding-bottom: 19px;
                &.show {
                    top: calc(100% + 11px);
                    opacity: 1;
                    z-index: 9;
                }
                .dropdown-item{
                    width: 50%;
                    padding: 0;
                    text-align: left;
                    &:hover{
                        background: transparent;
                    }
                }
                .title{
                    font-size: 16px;
                    line-height: 24px;
                    color: #051c42;
                    padding: 13px 30px 13px;
                    font-weight: 600;
                    background: #fafafa;
                    margin-bottom: 10px;
                }
                .text{
                    position: relative;
                    color: #051c42;
                    font-size: 14px;
                    font-weight: 400;
                }
                .currency-item {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000000;
                    line-height: 22px;
                    letter-spacing: .02em;
                    padding: 7px 15px 8px 30px;
                    display: flex;
                    align-items: center;
                    .icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 6px;
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &.active {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                        span{
                            font-weight: 600;
                        }
                    }
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
                .disclosure__list{
                    background: transparent;
                }
                .disclosure__link {
                    display: flex;
                    align-items: center;
                    padding: 7px 15px 4px 30px;
                    text-decoration: none;
                    line-height: 1.8;
                    .icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 6px;
                        position: relative;
                        top: -1px;
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &.disclosure__link--active {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                        span{
                            font-weight: 700;
                        }
                    }
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    } 
}

.header-mobile{
    background: #234bbb;
    .header-mobile--icon{
        .mobileMenu-toggle{
            color: #ffffff;
            .mobileMenu-toggle__Icon{
                background-color: #ffffff;
                &::before,
                &::after{
                    background-color: #ffffff;
                }
            }
        }
        svg{
            fill: #ffffff;
        }
        .cart-count-bubble{
            background-color: #f7c947!important;
            span{
                color: #234bbb;
            }
        }
        &.item-mobile-logo{
            .header__heading-link{
                max-width: 100px;
            }
        }
        &.icon-mobile-search{
            padding-right: 10px;
        }
    } 
}