.footer-3 { 
    overflow: hidden;
    background-color:#000000;
    .footer-block-newsletter {
        width: 100%;
    }
    .footer-block__newsletter-form {
        max-width: 600px;
        .newsletter-form__button {
            color: #ffffff;
            background-color: #000000;
            border: none;
            width: 150px;
            min-width: 150px;
            margin: 0;
            font-size: 18px;
            font-weight:400;
            &:hover {
                border: none;
                background-color: #000000;
            }
        }
    }
    .footer-col-left {
        text-align: center;
        border-right: 1px solid #2d2d2d;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input[type=checkbox] + .form-label--checkbox:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            border: 1px solid #dbdbdb;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 0;
        }
        input[type=checkbox] + .form-label--checkbox:after {
            content: "";
            width: 15px;
            height: 9px;
            top: 11px;
            left: 7px;
        }
        .form-label--checkbox {
            color: #808080;
            font-size: 14px;
            line-height:30px;
            font-weight:400;
            padding: 5px 100px 0 50px;
            margin-top: 16px;
            a {
                color: #808080;
                font-size: 14px;
                line-height:30px;
                font-weight:400;
                text-decoration: underline;
                text-underline-offset: 0.2rem;
            }
        }
        .footer-block__list-social {
            .title {
                font-size: 16px;
                color: #ffffff;
                font-weight: 400;
                margin-bottom: 28px;
            }
            .list-social {
                .list-social__item {
                    margin:0 28px 0 0;
                }
                .list-social__link {
                    background-color: transparent;
                    border: none;
                    padding:0;
                    &::before{
                        box-shadow: 0 0 0 2px #ffffff !important;
                    }
                    &:hover{
                        box-shadow: none;
                    }
                    svg {
                        width:23px;
                        height:23px;
                        fill: #ffffff;
                    }
                }
            }
        }
        .footer-block__heading {
            font-size:16px; 
            color: #ffffff;
            font-weight:400;
            padding-top:5px;
            padding-bottom: 24px;
        }
        .newsletter-form {
            .newsletter-form__field-wrapper {
                border: 1px solid #fff;
                .field {
                    margin: 8px;
                }
                .field__input {
                    color: #797979;
                    background-color: #1a1a1a;
                    border: 1px solid #1a1a1a;
                    font-size: 16px;
                    width: 100%;
                    padding-top: 23px;
                    padding-bottom: 23px;
                    line-height: 22px;
                }
            }  
        } 
    }
    .footer-col-right {
        display: flex;
        align-items: center;
        justify-content:center;
        .row {
            width: 100%;
            
        }
    }   
    &.footer {
        .footer-block__newsletter-form {
            margin: 0 auto;
        }
    }
    .footer-top {
        padding: 60px 10px 22px 10px;
    }
    .footer-bottom {
        padding-top: 14px;
        padding-bottom: 30px;
        border-top: none;
        text-align: center;
        .copyright__content {
            color: #505050;
            font-weight: 400;
            letter-spacing:0;
            font-size: 11px;
        }
    }
    .footer-block__heading {
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 500;
        padding-bottom: 12px;
        margin: 0;
        color: #ffffff;
        margin-bottom: 0;
    }
    .footer-link {
        font-size: 14px;
        font-weight:400;
        color: #ffffff;
        letter-spacing: 0;
    }
}
@media(max-width: 991px){
    .footer-3{
        .footer-col-left{
            border-right: none;
        }
    }
}
@media (max-width: 767px) {
    .footer-3 {
        .footer-col-left {
            .footer-block-newsletter {
                .footer-block__heading {
                    border: none;
                    &::before,
                    &::after {
                        display:none;
                    }
                }
            }
            .form-label--checkbox {
                padding: 5px 50px 0 50px;
            }
            .footer-block__list-social {
                .list-social {
                    .list-social__item {
                        margin: 0 25px 6px 0;
                    }
                }
            }
        }
    }
}

@media( max-width:551px){
    .footer-3 {
        .footer-block__newsletter-form {
            .newsletter-form__field-wrapper{
                flex-wrap: nowrap;
                .field{
                    padding: 8px;
                    margin-bottom: 0!important;
                }
            }
            .newsletter-form__button{
                width: 150px!important;
            }
        }
    }
}