.article-template .halo-article-content .article-title {
  font-size: 18px;
  line-height: 28px;
  color: #232323;
  font-weight: 600;
  margin-bottom: 6px;
}

.article-template .halo-article-content .article-title span {
  text-underline-offset: 0.4rem;
}

.article-template .halo-article-content .blog-info {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  margin-bottom: 30px;
}

.article-template .halo-article-content .blog-info .blog-author,
.article-template .halo-article-content .blog-info .blog-comment {
  margin-left: 10px;
}

.article-template .halo-article-content .article-details .article-img {
  margin-bottom: 30px;
}

.article-template .halo-article-content .article-details .desc {
  margin-bottom: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #3c3c3c;
  line-height: 24px;
}

.article-template .halo-article-content .article-details .actions .button {
  width: 100%;
  max-width: 168px;
}

.article-template .halo-article-content .column-list .halo-row-item {
  width: 100%;
}

.article-template .halo-article-content .column-list .halo-row-item .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: .02em;
  color: #232323;
}

.article-template .halo-article-content .column-list .halo-row-item ul, .article-template .halo-article-content .column-list .halo-row-item ol {
  margin-left: 25px;
}

.article-template .halo-article-content .column-list .halo-row-item ul li, .article-template .halo-article-content .column-list .halo-row-item ol li {
  padding-left: 2px;
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  list-style-type: disc;
}

.article-template .halo-article-content .column-list .halo-row-item ul li + li, .article-template .halo-article-content .column-list .halo-row-item ol li + li {
  margin-top: 5px;
}

.article-template .halo-article-content .column-list .halo-row-item ol li {
  list-style-type: auto;
  padding-left: 5px;
}

.article-template .halo-article-content .halo-product-block {
  margin-bottom: 68px;
}

.article-template .halo-article-content .halo-product-block .article-header .title {
  font-size: 14px;
  letter-spacing: .02em;
  color: #232323;
  padding-bottom: 18px;
}

.article-template .halo-article-content .halo-product-block .slick-arrow {
  top: -57px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border: none;
  background: transparent;
  padding: 4px !important;
}

.article-template .halo-article-content .halo-product-block .slick-arrow.slick-next {
  right: 2px;
}

.article-template .halo-article-content .halo-product-block .slick-arrow.slick-prev {
  left: inherit;
  right: 42px;
}

.article-template .halo-article-content .halo-product-block .slick-arrow:hover svg {
  fill: #232323;
}

.article-template .articleBlockQuote {
  margin-top: 47px;
}

.article-template .articleBlockQuote .title {
  color: #3c3c3c;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: .02em;
}

.article-template .articleBlockQuote .articleBlockQuote-content {
  color: #3c3c3c;
  font-size: 12px;
}

.article-template .articleBlockQuote .articleBlockQuote-content.has-bg {
  padding: 20px;
  background-color: #fafafa;
}

.article-template .articleBlockQuote + .articleBlockQuote {
  margin-top: 40px;
}

.article-template .article-tag {
  margin-bottom: 20px;
}

.article-template .article-tag .article-tag-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-template .article-tag .article-tag-row .tag-header {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.article-template .article-tag .article-tag-row .tag-header svg {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.article-template .article-tag .article-tag-row .tag-header span {
  display: inline-block;
  vertical-align: middle;
  color: #232323;
  font-weight: 500;
}

.article-template .article-tag .article-tag-row .tag-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.article-template .article-tag .article-tag-row .tag-list .item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 10px;
  background-color: #f6f7f8;
  padding: 5px 10px 6px;
  border-radius: 2px;
}

.article-template .article__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 60px;
}

.article-template .article__pagination .article__pagination--item {
  display: block;
  width: 100%;
  max-width: 170px;
}

.article-template .article__pagination .article__pagination--item.article__pagination--prev {
  margin-right: auto;
  padding-right: 10px;
}

.article-template .article__pagination .article__pagination--item.article__pagination--next {
  margin-left: auto;
  padding-left: 10px;
}

.article-template .article__pagination .article__pagination--item .button {
  text-align: center;
}

.article-template .article-comment {
  margin-bottom: 100px;
}

.article-template .article-comment .comment-header {
  margin-bottom: 30px;
}

.article-template .article-comment .title {
  display: block;
  text-transform: capitalize;
  border-top: 1px solid #787878;
  padding-top: 30px;
  margin-top: 0;
  font-weight: 600;
  font-size: 18px;
  color: #232323;
  letter-spacing: .02em;
}

.article-template .article-comment .article-template__comments {
  margin-bottom: 40px;
}

.article-template .article-comment .article-template__comments .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-template .article-comment .article-template__comments .comment-item .comment-user {
  width: 80px;
  height: 80px;
  margin: 7px 40px 0 0;
  border-radius: 50%;
  background-color: #3989c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-template .article-comment .article-template__comments .comment-item .comment-user svg {
  width: 42px;
  height: 42px;
  fill: #fff;
  position: relative;
  right: -1px;
}

.article-template .article-comment .article-template__comments .comment-item .comment-content {
  width: calc(100% - 120px);
}

.article-template .article-comment .article-template__comments .comment-item .comment-content .comment-created-at {
  color: #999;
  margin-bottom: 10px;
}

.article-template .article-comment .article-template__comments .comment-item .comment-content .comment-body {
  color: #3c3c3c;
}

.article-template .article-comment .article-template__comments .comment-item + .comment-item {
  margin-top: 20px;
}

.article-template .article-comment .comment-form .article-template__comment-fields .form-field {
  margin-bottom: 20px;
}

.article-template .article-comment .comment-form .article-template__comment-warning {
  color: #999;
  padding: 15px 0px 20px;
}

.article-template .article-comment .comment-form .button {
  width: 100%;
  max-width: 240px;
  text-align: center;
}

.article-template .halo-custom-banner {
  margin: 25px 0px 25px;
}

.article-template .halo-custom-banner .halo-row-item .wrapper-content {
  border: 1px solid #232323;
  width: 100%;
  height: 100%;
}

.article-template .halo-custom-banner .halo-row-item .banner-title {
  font-size: 30px;
  letter-spacing: .02em;
  margin-bottom: 20px;
}

.article-template .halo-custom-banner .halo-row-item .desc {
  font-size: 12px;
  letter-spacing: .02em;
  color: #3c3c3c;
  line-height: 22px;
  margin: 0 auto 30px;
  max-width: 320px;
}

.article-template .halo-custom-banner .halo-row-item .button {
  width: 100%;
  max-width: 217px;
}

.article-template .halo-sub-banner .halo-row-item .banner-title {
  margin-bottom: 28px;
}

.article-template .halo-sub-banner .halo-row-item .banner-title a {
  font-size: 12px;
  letter-spacing: .05em;
  font-weight: 500;
  color: #ffffff;
}

.article-template .halo-sub-banner .halo-row-item .actions .button {
  width: 100%;
  max-width: 370px;
  display: block;
  margin: 0 auto;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.article-template .halo-sub-banner .halo-row-item .actions .button + .button {
  margin-top: 15px;
}

.article-template .halo-sub-banner .halo-row-item .actions .button:hover {
  background: #ffffff;
  color: #232323;
}

.article-template .block-banner-gallery {
  padding: 32px 0px 52px;
}

.article-template .block-banner-gallery .row > * {
  padding: 0;
}

.article-template .block-banner-gallery .block-header .title {
  font-size: 14px;
  letter-spacing: .02em;
  color: #232323;
  padding-bottom: 18px;
  font-weight: 600;
}

.article-template .block-banner-gallery .slick-arrow {
  top: -57px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border: none;
  background: transparent;
  padding: 4px !important;
}

.article-template .block-banner-gallery .slick-arrow.slick-next {
  right: 2px;
}

.article-template .block-banner-gallery .slick-arrow.slick-prev {
  left: inherit;
  right: 42px;
}

.article-template .block-banner-gallery .slick-arrow:hover svg {
  fill: #232323;
}

.article-template .block-banner-gallery .slick-dots {
  top: 23px;
  position: relative;
}

.article-template .block-banner-gallery .halo-row-item {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.article-template .block-banner-gallery .halo-row-item .icon {
  width: 50px;
  height: 50px;
  background-color: #232323;
  stroke: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 10px));
          transform: translate(-50%, calc(-50% + 10px));
  padding: 14px;
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.article-template .block-banner-gallery .halo-row-item .icon svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.article-template .block-banner-gallery .halo-row-item:hover .icon {
  z-index: 5;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.article-template.article-2 .halo-custom-banner {
  margin-bottom: 40px;
}

.article-template.article-2 .articleBlockQuote {
  margin-top: 42px;
}

@media (max-width: 767px) {
  .halo-custom-banner .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .halo-custom-banner .halo-row-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .halo-custom-banner .halo-row-item .content-box {
    position: relative;
    padding: 35px 0px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .halo-custom-banner .halo-row-item .content-box .button {
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  .article-template .article-template__comments .comment-item .comment-user {
    display: none !important;
  }
  .article-template .article-template__comments .comment-item .comment-content {
    width: 100% !important;
  }
}

@media (min-width: 551px) {
  .article-template .halo-article-content .column-list .halo-row-item {
    width: 50%;
  }
  .article-template .article-comment .comment-form .article-template__comment-fields {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }
  .article-template .article-comment .article-template__comments {
    margin-bottom: 65px;
  }
  .article-template .article-comment .article-template__comments .comment-item + .comment-item {
    margin-top: 50px;
  }
  .article-template .articleBlockQuote .articleBlockQuote-content.has-bg {
    padding: 30px 35px;
  }
}
/*# sourceMappingURL=article.css.map */