@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skin-8 {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .button {
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
}

.skin-8 .button.button-1 {
  color: #051c42;
  border-color: #051c42;
  background: #ffffff;
}

.skin-8 .button.button-1:hover {
  color: #ffffff;
  border-color: #e1732c;
  background: #e1732c;
}

.skin-8 .button.button-2 {
  color: #ffffff;
  border-color: #e1732c;
  background: #e1732c;
}

.skin-8 .button.button-2:hover {
  color: #051c42;
  border-color: #051c42;
  background: #ffffff;
}

.skin-8 .button.button-3 {
  color: #ffffff;
  border-color: #234bbb;
  background: #234bbb;
}

.skin-8 .button.button-3:hover {
  color: #234bbb;
  border-color: #234bbb;
  background: #ffffff;
}

.skin-8 .desc {
  font-size: 16px;
  line-height: 26px;
  color: #051c42;
  letter-spacing: 0;
}

.skin-8 a,
.skin-8 link,
.skin-8 label {
  color: #051c42;
  font-size: 16px;
  letter-spacing: 0;
}

.skin-8 .slick-arrow {
  border-color: #234bbb;
  border-width: 2px;
  padding: 7px !important;
}

.skin-8 .slick-arrow svg {
  fill: #234bbb;
  top: -7.5px;
}

.skin-8 .slick-arrow:hover {
  background: #ffffff;
  border-color: #e1732c;
}

.skin-8 .slick-arrow:hover svg {
  fill: #e1732c;
}

.skin-8 .slick-dots {
  margin-top: 30px;
}

.skin-8 .slick-dots li button {
  border-color: #d0d0d0;
  width: 10px;
  height: 10px;
  background: transparent;
}

.skin-8 .slick-dots li.slick-active button {
  background: #051c42;
  border-color: #051c42;
}

.skin-8 .link-underline:hover .text {
  text-underline-offset: 0.3rem;
}

.skin-8 .text-underline .text {
  text-underline-offset: 0.3rem;
}

.skin-8 .halo-block-header {
  position: relative;
}

.skin-8 .halo-block-header .title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-block-header .title span {
  width: 100%;
  background: transparent;
}

.skin-8 .halo-block-header .title::before {
  display: none;
}

.skin-8 .halo-block-header .view_all {
  font-size: 16px;
  color: #234bbb;
  letter-spacing: 0;
  font-weight: 400;
}

.skin-8 .halo-block-header.style-2 {
  text-align: center;
}

.skin-8 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .product-card .product-card-bottom {
  padding: 15px 0px 15px;
}

.skin-8 .product-card .card-title {
  display: inline;
  font-size: 16px;
  line-height: 24px;
  color: #051c42;
  letter-spacing: 0;
}

.skin-8 .product-card .card-vendor-title {
  line-height: 24px;
  padding: 1px 0px 4px;
}

.skin-8 .product-card .card-vendor-title a {
  display: inline;
  font-size: 16px;
  line-height: 24px;
  color: #051c42;
  letter-spacing: 0;
}

.skin-8 .product-card .card-vendor-title a.card-vendor {
  font-weight: 600;
}

.skin-8 .product-card .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 2px;
}

.skin-8 .product-card .card-price .price-item .text {
  color: #878787;
  position: relative;
  top: 2px;
}

.skin-8 .product-card .card-price .price-item .money {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .product-card .card-price.price__sale .price-item--regular span {
  color: #878787;
  font-weight: 400;
}

.skin-8 .product-card .card-price.price__sale .price__last span {
  color: #e10600;
  font-weight: 700;
}

.skin-8 .product-card .card-action {
  position: relative;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skin-8 .product-card .card-action form {
  width: 100%;
}

.skin-8 .product-card .card-action form .button {
  width: 100%;
  border-color: #051c42;
  color: #051c42;
}

.skin-8 .product-card .card-action .wishlist-icon {
  width: 45px;
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background: #f5f5f5;
  position: relative;
  display: none;
}

.skin-8 .product-card .card-action .wishlist-icon svg {
  fill: #0f254a;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skin-8 .product-card .card-action .wishlist-icon.wishlist-added {
  background: #ffe5e5;
}

.skin-8 .product-card .card-action .wishlist-icon:hover {
  background: #ffe5e5;
}

.skin-8 .card__badge {
  top: 0;
}

.skin-8 .card__badge .badge {
  font-size: 14px;
  letter-spacing: 0;
  padding: 5px 16px;
  border-radius: 3px;
}

.skin-8 .card__badge .badge.sale-badge {
  background: #ffd8d7;
  color: #e10600;
}

.skin-8 .card__badge .badge.sold-out-badge {
  background: #f5f5f5;
  color: #666666;
}

.skin-8 .card__badge.badge-left {
  left: 0;
}

.skin-8 .card__badge.badge-right {
  right: 0;
}

.skin-8 .productView-rating .spr-icon.spr-icon-star::before {
  color: #ffc50d;
}

.skin-8 .productView-rating .spr-icon.spr-icon-star-empty::before {
  color: #f0f0f0;
}

.skin-8 .productView-rating .count-review {
  font-size: 14px;
  color: #878787;
  padding-left: 3px;
  position: relative;
  top: -1px;
}

.skin-8 .quickSearchResultsWrap .search-block-title span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .quickSearchResultsWrap .list-item .item .link {
  font-size: 16px;
  color: #051c42;
  padding: 9px 14px 9px 9px;
}

.skin-8 .quickSearchResultsWrap .product-card .card-action .button {
  width: 100% !important;
}

.skin-8 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .no-products .text {
  font-size: 10px !important;
}

.skin-8 .form-input,
.skin-8 .field__input {
  font-size: 14px;
  color: #808080;
  padding: 10px 12px 11px;
}

.skin-8 .form-label,
.skin-8 .field__label {
  font-size: 16px;
  color: #051c42;
}

.skin-8 .background-overlay,
.skin-8 .background-overlay-popup {
  background-color: rgba(35, 35, 35, 0.4);
}

.skin-8 .halo-sidebar .halo-sidebar-header .title {
  color: #051c42;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}

.skin-8 .halo-sidebar .auth-actions .auth-link {
  font-size: 16px;
  color: #051c42;
  text-underline-offset: 0.3rem;
}

.skin-8 .halo-cart-sidebar .previewCartItem-name {
  font-size: 16px;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 14px;
}

.skin-8 .halo-cart-sidebar .previewCartItem-price {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-cart-sidebar .previewCartItem-edit:hover svg {
  fill: #e1732c;
}

.skin-8 .halo-cart-sidebar .slick-arrow.slick-next {
  right: 0;
}

.skin-8 .halo-cart-sidebar .slick-arrow svg {
  top: -6.5px;
}

.skin-8 .halo-cart-sidebar .product-card .product-card-bottom {
  padding: 0px 0px 0px 20px;
}

.skin-8 .halo-popup .halo-popup-title {
  letter-spacing: 0 !important;
}

.skin-8 .halo-popup .halo-popup-header .halo-popup-close {
  background: #051c42;
}

.skin-8 .previewCartInfo .item {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .previewCartInfo .previewCartTotals-value {
  font-size: 18px;
  font-weight: 700;
}

.skin-8 .previewCartCheckbox input[type=checkbox] + label,
.skin-8 .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 16px;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 18px;
  letter-spacing: 0;
  color: #051c42;
  font-weight: 600;
}

.skin-8 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-8 .halo-edit-cart-popup .product-edit-itemCenter .card-price .money {
  font-size: 16px;
}

.skin-8 .halo-edit-cart-popup .product-edit-action {
  padding: 0px 50px 50px;
}

.skin-8 .halo-edit-cart-popup .product-edit-action .button {
  border-radius: 5px;
}

.skin-8 .halo-edit-cart-popup .add-more {
  color: #051c42;
  font-size: 14px;
  letter-spacing: 0;
}

.skin-8 .productView-variants .form__label {
  font-size: 16px;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .productView-variants .form__label {
  font-size: 16px;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .productView-variants [data-header-option] {
  font-size: 15px;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .productView-variants .product-form__label {
  width: 40px;
  height: 40px;
  line-height: 38px;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .productView-variants .product-form__label .text {
  font-size: 15px;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .product-title {
  font-size: 18px;
  font-weight: 600;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .card-price .price-item .money {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #051c42;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .card-price.price__sale .price-item--regular span {
  color: #878787;
  font-weight: 400;
}

.skin-8 .halo-quickshop-popup .halo-productView-right .card-price.price__sale .price__last span {
  color: #e10600;
  font-weight: 700;
}

.skin-8 .previewCartItem-qty .quantity {
  border-radius: 5px;
}

.skin-8 .halo-notify-popup .button {
  border-radius: 0;
}

.skin-8 .halo-notify-popup .form-field .form-label {
  font-weight: 400;
  letter-spacing: 0;
}

.skin-8 .halo-notification-popup .halo-popup-content .product-image {
  max-width: 90px;
}

.skin-8 .halo-notification-popup .halo-popup-content a {
  color: #051c42 !important;
  font-weight: 500;
}

.skin-8 .halo-notification-popup .halo-popup-content .product-content {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-8 .halo-newsletter-popup .halo-popup-content .button {
  border-radius: 0;
}

.skin-8 .halo-newsletter-popup .list-social .list-social__link svg {
  fill: #051c42;
}

.skin-8 .halo-sidebar_search .search-bar .input-group-field {
  font-size: 16px;
  color: #808080;
}

.skin-8 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-1__action {
  font-size: 16px !important;
  color: #051c42 !important;
}

.skin-8 .halo-sidebar_menu .site-nav-mobile .nav-title-mobile {
  background: #e6e6e6 !important;
}

.skin-8 .halo-sidebar_menu .site-nav-mobile .nav-title-mobile span {
  color: #051c42 !important;
  letter-spacing: 0 !important;
}

.skin-8 .halo-sidebar_menu .nav-currency-language .title {
  background: #e6e6e6;
  color: #051c42;
  letter-spacing: 0;
}

.skin-8 .halo-sidebar_menu .nav-currency-language .text {
  font-size: 16px !important;
  color: #051c42 !important;
}

.skin-8 .halo-sidebar_menu .nav-currency-language .currency-item .icon svg {
  position: relative;
  top: -5px;
}

.skin-8 .halo-productView .halo-productView-right .productView-title,
.skin-8 .halo-productView .halo-productView-right a {
  font-size: 20px;
  color: #051c42;
}

.skin-8 .halo-productView .productView-thumbnail-wrapper .slick-arrow.slick-next {
  right: 0;
}

.skin-8 .halo-productView .productView-thumbnail-wrapper .slick-arrow.slick-prev {
  left: 0;
}

.skin-8 .halo-productView .button-checkout {
  padding-top: 14px;
  padding-bottom: 14px;
}

.skin-8 .halo-productView .previewCartGroup-top .productView-wishlist a {
  line-height: 22px;
}

.skin-8 .productView-rating .spr-badge-caption,
.skin-8 .review-rating .spr-badge-caption,
.skin-8 .productView-soldProduct .text,
.skin-8 .productView-information .productView-subtotal .text,
.skin-8 .productView-information .productView-subtotal .money,
.skin-8 .productView-information .productView-more .text {
  font-size: 16px;
  color: #051c42;
}

.skin-8 .productView-variants .product-form__label .text {
  font-size: 14px;
  color: #051c42;
}

.skin-8 .productView-countDown .num {
  font-size: 16px;
  color: #051c42;
  min-width: 70px;
}

@media (min-width: 768px) {
  .skin-8 .halo-block-header {
    margin-bottom: 33px;
  }
  .skin-8 .halo-block-header .title {
    font-size: 40px;
  }
  .skin-8 .halo-block-header .view_all {
    position: absolute;
    right: 0;
    bottom: -13px;
    z-index: 9;
  }
  .skin-8 .halo-block-header .view_all:hover {
    color: #e1732c;
  }
  .skin-8 .halo-block-header.style-2 {
    padding-bottom: 11px;
    border-bottom: 1px solid #051c42;
    margin-bottom: 35px;
    text-align: left;
  }
  .skin-8 .halo-block-header.style-2 .title {
    font-size: 30px;
  }
  .skin-8 .halo-block-header.style-2 .title span {
    padding-left: 0px;
  }
  .skin-8 .halo-block-header.style-2 .view_all {
    bottom: auto;
    top: 16px;
  }
}

@media (min-width: 1025px) {
  .skin-8 .product-card .card-vendor-title:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  .skin-8 .product-card .card-vendor-title:hover a {
    color: #234bbb;
  }
  .skin-8 .product-card .card-action .button {
    width: calc(100% - 50px) !important;
  }
  .skin-8 .product-card .card-action .button:hover {
    background: #e1732c;
    color: #ffffff;
    border-color: #e1732c;
  }
  .skin-8 .product-card .card-action .wishlist-icon {
    width: 0;
    min-width: 0;
    opacity: 0;
    visibility: hidden;
    display: block;
  }
  .skin-8 .product-card:hover .card-action .button {
    width: calc(100% - 10px) !important;
  }
  .skin-8 .product-card:hover .card-action .wishlist-icon {
    width: 45px;
    min-width: 45px;
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1600px) {
  .skin-8 .slick-arrow.slick-next {
    right: -60px;
  }
  .skin-8 .slick-arrow.slick-prev {
    left: -60px;
  }
}
/*# sourceMappingURL=skin-8.css.map */