.header-3 {
  background: #ffffff;
}

.header-3 .header-top {
  background-color: #000000;
  padding: 0;
}

.header-3 .header-top .header-language_currency {
  position: absolute;
  right: 40px;
  top: 35px;
  width: 100%;
  max-width: 212px;
  background-color: #ffffff;
  z-index: 99;
  padding-bottom: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.header-3 .header-top .header-language_currency .down-icon svg {
  position: relative;
  top: -6px;
}

.header-3 .header-top .header-language_currency .text {
  font-size: 11px;
  letter-spacing: 0;
  font-weight: 500;
}

.header-3 .header-top .header-language_currency.open {
  display: block;
  top: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.header-3 .header-top .header-language_currency .halo-language svg {
  width: 16px;
  height: 16px;
}

.header-3 .header-top .header-language_currency .halo-language .localization-form .disclosure__link {
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.header-3 .header-top .header-language_currency .halo-language .localization-form .disclosure__link .icon {
  margin-right: -3px;
}

.header-3 .header-top .header-language_currency .halo-language .dropdown-language {
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  padding: 0 11px;
}

.header-3 .header-top .header-language_currency .halo-language .dropdown-language.show {
  top: 100%;
  left: 0;
}

.header-3 .header-top .header-language_currency .halo-language .dropdown-language .currency-menu .currency-item.text {
  font-size: 11;
  letter-spacing: .05em;
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 6px;
}

.header-3 .header-top .header-language_currency .halo-language .dropdown-language .currency-menu .currency-item .text {
  line-height: 21px;
}

.header-3 .header-top .header-language_currency .halo-language .disclosure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-3 .header-top .header-language_currency .halo-language .disclosure::before {
  content: "";
  width: 1px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e6e6e6;
}

.header-3 .header-top .header-language_currency .halo-language .disclosure .text {
  margin-right: 6px;
}

.header-3 .header-top .header-language_currency .halo-language .disclosure .disclosure__list .disclosure__item.text {
  font-size: 11px;
  letter-spacing: .05em;
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 6px;
}

.header-3 .header-top .header-language_currency .halo-language .disclosure .disclosure__list .disclosure__item .disclosure__link .text {
  line-height: 21px;
}

.header-3 .header-top .header-language_currency .halo-currency .btn-group .icon {
  top: 1px;
}

.header-3 .header-top .header-language_currency .halo-currency .down-icon svg {
  position: relative;
  top: -5px;
}

.header-3 .header-top .header-language_currency .halo-currency .currency-menu .icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.header-3 .header-top .header-language_currency .halo-currency .currency-item {
  padding: 3px 15px;
}

.header-3 .header-top .header-language_currency .halo-currency .text {
  margin: 0 3px 0 0;
  position: relative;
  top: -1px;
}

.header-3 .header-top .header-language_currency .halo-currency .halo-dropdown {
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  width: calc(100% + 7px);
  margin-left: -5px;
}

.header-3 .header-top .header-language_currency .halo-currency .halo-dropdown.show {
  top: 100%;
  left: 0;
}

.header-3 .header-top .header-language_currency .halo-currency .wrapper-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-top .header-language_currency .halo-currency,
.header-3 .header-top .header-language_currency .halo-language {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 103px;
}

.header-3 .header-top .header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-top .header-top-wrapper .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-top .header-top-wrapper .content-left a {
  padding: 19px 22px !important;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-size: 0;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list li.separation {
  display: block;
  width: 1px;
  height: 30px;
  line-height: 30px;
  padding: 0.5px;
  background-color: #4d4d4d;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list li.is-active {
  background: #ffffff;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list li.is-active .text {
  color: #000000;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list li:hover {
  background: #ffffff;
}

.header-3 .header-top .header-top-wrapper .content-left .header__list li:hover .text {
  color: #000000;
}

.header-3 .header-top .header-top-wrapper .content-left .link {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
}

.header-3 .header-top .header-top-wrapper .content-left .link.men {
  background: #3854b0;
}

.header-3 .header-top .header-top-wrapper .content-left .link.kids {
  background-color: #fa7758;
}

.header-3 .header-top .header-top-wrapper .content-left a {
  padding: 16px 24px;
}

.header-3 .header-top .header-top-wrapper .content-left a.logo-text {
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0;
}

.header-3 .header-top .header-top-wrapper .content-left .text {
  color: #ffffff;
  position: relative;
}

.header-3 .header-top .header-top-wrapper .content-left .hidde-before .text::before {
  width: 0;
  height: 0;
}

.header-3 .header-top .header-top-wrapper .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 30px;
}

.header-3 .header-top .header-top-wrapper .content-right .customer-links svg,
.header-3 .header-top .header-top-wrapper .content-right .nav-wishlist svg,
.header-3 .header-top .header-top-wrapper .content-right .cart svg,
.header-3 .header-top .header-top-wrapper .content-right .live-help svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
  fill: #ffffff;
}

.header-3 .header-top .header-top-wrapper .content-right .cus-ser-text {
  font-size: 14px;
  font-weight: 400;
  margin-right: 68px;
}

.header-3 .header-top .header-top-wrapper .content-right .cus-ser-text a {
  color: #ffffff;
  font-size: 12px;
}

.header-3 .header-top .header-top-wrapper .content-right .cus-ser-text .underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.header-3 .header-top .header-top-wrapper .content-right .nav-wishlist,
.header-3 .header-top .header-top-wrapper .content-right .cart {
  position: relative;
}

.header-3 .header-top .header-top-wrapper .content-right .nav-wishlist .wishlist-quantity,
.header-3 .header-top .header-top-wrapper .content-right .cart .wishlist-quantity {
  position: absolute;
  top: 0px;
  right: 7px;
  width: 22px;
  height: 22px;
  background-color: #8463d8;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  color: #ffffff;
}

.header-3 .header-top .header-top-wrapper .content-right .nav-wishlist .wishlist-quantity .text,
.header-3 .header-top .header-top-wrapper .content-right .cart .wishlist-quantity .text {
  position: relative;
  top: -5px;
  font-size: 14px;
}

.header-3 .header-top .global {
  cursor: pointer;
}

.header-3 .header-top .live-help .button-3 {
  text-transform: capitalize;
}

.header-3 .header-top .live-help .button-3 svg {
  margin-right: 14px !important;
}

.header-3 .header-top .live-help .button-3:hover svg {
  fill: #000000;
  stroke: #000000;
}

.header-3 .header-bottom {
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
}

.header-3 .header-bottom .header-bottom--wrapper {
  padding: 0px 15px;
}

.header-3 .header-bottom .menu-dropdown {
  border-top: 1px solid #e0e0e1;
  padding: 30px 0 2px;
}

.header-3 .header-bottom .menu-lv-1:hover > a:hover {
  color: #000000;
}

.header-3 .header-bottom .quickSearchProduct .search-block-title {
  padding-left: 135px;
}

.header-3 .header-bottom .megamenu_style_2 .product-card .product-card-bottom {
  padding: 10px 0 0 10px;
}

.header-3 .header-bottom .product-card .product-card-bottom {
  padding: 10px 0px 0px;
}

.header-3 .header-bottom .product-card .product-card-bottom .product-card-information .card-vender {
  line-height: 17px;
}

.header-3 .header-bottom .product-card .product-card-bottom .product-card-information .card-price {
  line-height: 22px;
}

.header-3 .header-bottom .product-card .card-swatch {
  margin-top: 15px;
}

.header-3 .header-bottom .product-card .card-swatch .swatch {
  line-height: 0;
}

.header-3 .header-bottom .custom-magamenu-1 .hola-row-item-left {
  padding-left: 160px;
  padding-top: 20px;
}

.header-3 .header-bottom .wrapper-mega-banner-style-2::before {
  content: " ";
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  bottom: 0;
  z-index: -1;
  background-color: transparent;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 1px;
}

.header-3 .header-bottom .header-bottom--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-3 .header-bottom .header__inline-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-bottom .menu-lv-1__action {
  color: #202020;
  padding: 24px 13px 24px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands {
  padding-top: 9px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands .title {
  font-size: 12px;
  font-weight: 400;
  color: #232323;
  margin-bottom: 12px;
  letter-spacing: .05em;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands .azbrandstable {
  line-height: 0;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands .azbrandstable li {
  width: 26px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands .azbrandstable li a {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 26px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands .link-brands {
  margin-top: 3px;
  font-size: 12px;
  color: #202020;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .sub-title {
  font-size: 16px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .link {
  font-size: 16px;
}

.header-3 .header-bottom .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-3 .header-bottom .logo-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 57px;
}

.header-3 .header-bottom .logo-home .img-box {
  width: 68px;
}

.header-3 .header-bottom .logo-home .img-box img {
  width: 68px;
  height: auto;
}

.header-3 .header-bottom .header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 270px;
  position: static;
}

.header-3 .header-bottom .header-search .product-card .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-block-title .text {
  font-weight: 500;
  letter-spacing: .05em;
  color: #202020;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .title {
  font-weight: 500 !important;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .wrapper-quickSearchResult .row {
  margin: 0 -15px;
}

.header-3 .header-bottom .header-search .search-bar {
  border: none;
}

.header-3 .header-bottom .header-search .search-bar .input-group-field {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 11px 0 9px 12px;
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header-3 .header-bottom .header-search .search-bar .icon-search {
  width: 40px;
  height: 40px;
  background-color: #202020;
  border: 1px solid #202020;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header-3 .header-bottom .header-search .search-bar .icon-search svg {
  width: 20px;
  height: 20px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: auto;
  visibility: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending {
  padding: 0 140px;
  position: relative;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .title {
  font-size: 12px;
  letter-spacing: .05em;
  color: #202020;
  font-weight: 600;
  margin: 28px 0 16px 0;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .title .halo-search-close {
  position: absolute;
  right: 0;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .title .halo-search-close svg {
  width: 17px;
  height: 17px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item {
  border: 1px solid #808080;
  background-color: #ffffff;
  margin-right: 16px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item:hover {
  background-color: #f5f5f5;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item .link {
  background-color: #ffffff;
  padding: 8px 10px 8px 7px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item .link:hover {
  background-color: #f5f5f5;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item .link .text {
  display: block;
  margin: 0 0 0 4px;
  color: #202020;
  font-weight: 400;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .header-search__trending .list-item .item .link svg {
  fill: #000000;
  stroke: #000000;
  margin-left: 14px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .quickSearchResult {
  position: relative;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .quickSearchResult .halo-sidebar-close {
  position: absolute;
  top: -25px;
  right: 15px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .quickSearchResult .halo-sidebar-close svg {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  fill: #000000;
  margin-left: 5px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .quickSearchProduct .halo-product-block {
  margin-top: 11px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-block-title {
  border-bottom: none;
  padding-bottom: 0;
  margin: 42px 0 0 0;
  padding-left: 140px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap.show {
  top: 65px;
  z-index: 9;
  visibility: visible;
  pointer-events: auto;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8f8;
  padding: 31px 0;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-keywords #keywords {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  font-size: 30px;
  font-weight: 400;
  color: #bcbcbc;
  width: 705px;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-keywords .icon-search-keywords {
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
}

.header-3 .header-bottom .header-search .quickSearchResultsWrap .search-keywords .icon-search-keywords svg {
  fill: #202020;
  width: 30px;
  height: 30px;
}

.header-3 .header-bottom .header-search .product-item:nth-child(n+5) {
  margin-top: 0;
}

.header-3 .header-bottom .product-card .card-swatch .swatch-label {
  width: 20px;
  height: 20px;
}

.header-3 .header-bottom .product-card .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-3 .header-bottom .container-header-style-3 {
  margin-top: 35px;
}

.header-3 .header-bottom .container-header-style-3 .row {
  padding-right: 100px;
}

.header-3 .header-bottom .container-header-style-3 .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-3 .header-bottom .container-header-style-3 .product-card img {
  width: 128px;
  height: auto;
  margin-right: 6px;
}

.header-3 .header-bottom .row-header-product {
  padding-top: 20px;
}

.header-3 .header-bottom .row-header-product .image-adapt img {
  width: 170px;
  height: 255px;
}

.header-3 .header-bottom .megamenu_style_2 .site-nav {
  margin-bottom: 0;
}

.header-3 .header-bottom .megamenu_style_2 .row-style_2 {
  margin: 0 10px;
  padding-right: 140px;
}

.header-3 .header-bottom .megamenu_style_2 .row-style_2 .banner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-3 .header-bottom .megamenu_style_2 .img-box {
  position: relative;
}

.header-3 .header-bottom .megamenu_style_3 .custom-shop {
  margin-top: 24px;
  padding-top: 1px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner {
  bottom: -5px;
  display: block;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .img-box {
  width: 100%;
  max-width: 192px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  margin-bottom: 10px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .line {
  width: 60px;
  height: 1px;
  background-color: #202020;
  margin: 0 auto;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .title {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: .1em;
  color: #202020;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 5px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .halo-col-product .text-center .link {
  font-size: 12px;
  font-weight: 400;
  color: #202020;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner::before {
  background-color: transparent;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 1px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .row {
  margin: 0 -5px;
}

.header-3 .header-bottom .megamenu_style_3 .wrapper-mega-banner .col-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 65px;
}

.header-3 .header-bottom .megamenu-3 .halo-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-3 .header-bottom .megamenu-style-menu4 .megamenu_style_2 .site-nav {
  margin-bottom: 0;
}

.header-3 .header-mobile .header-mobile--top {
  background: #000000;
}

.header-3 .header-mobile .header-mobile--top .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-size: 0;
  margin-right: 0px;
}

.header-3 .header-mobile .header-mobile--top .header__list li.separation {
  display: block;
  width: 1px;
  height: 30px;
  line-height: 30px;
  padding: 0.5px;
  background-color: #4d4d4d;
}

.header-3 .header-mobile .header-mobile--top .header__list li.is-active {
  background: #ffffff;
}

.header-3 .header-mobile .header-mobile--top .header__list li.is-active .text {
  color: #000000;
}

.header-3 .header-mobile .header-mobile--top .header__list li:hover {
  background: #ffffff;
}

.header-3 .header-mobile .header-mobile--top .header__list li:hover .text {
  color: #000000;
}

.header-3 .header-mobile .header-mobile--top .link {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
}

.header-3 .header-mobile .header-mobile--top .link.men {
  background: #3854b0;
}

.header-3 .header-mobile .header-mobile--top .link.kids {
  background-color: #fa7758;
}

.header-3 .header-mobile .header-mobile--top a {
  padding: 16px 24px;
}

.header-3 .header-mobile .header-mobile--top a.logo-text {
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0;
}

.header-3 .header-mobile .header-mobile--top .text {
  color: #ffffff;
  position: relative;
}

.header-3 .header-mobile .header-mobile--wrapper {
  padding: 5px 0px;
}

.header-3 .header-mobile .header__iconItem .header__icon--cart .cart-count-bubble {
  background-color: #000000;
}

@media (max-width: 1200px) {
  .header-3 .header-bottom .header-search__form {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header-3 .header-top .content-right {
    display: none;
  }
  .header-3 .header-bottom {
    display: none;
  }
  .header-3 .header-mobile--center {
    margin-left: 35px;
  }
}

@media (max-width: 992px) {
  .header-3 .content-left .text.logo {
    position: relative;
    top: 1px;
  }
}

@media (max-width: 767px) {
  .header-3 .header-top .content-left {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: block;
  }
  .header-3 .header-top .content-left .text {
    display: inline-block;
  }
  .header-3 .header-top .content-left .text.logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 65px;
  }
  .header-3 .header-mobile {
    width: 100%;
  }
  .header-3 .header-mobile .header-mobile--left {
    width: 50%;
  }
  .header-3 .header-mobile .header-mobile--right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1600px) {
  .header-3 .header-bottom .header-bottom--wrapper {
    padding: 0px 30px;
  }
}
/*# sourceMappingURL=header-3.css.map */