.announcement-bar{
    background: #f8f8f8;
    .message{
        font-size: 12px;
        letter-spacing: .02em;
        color: #ef6454;
        padding:7px 15px;
        a{
            color: #ef6454; 
        }
    }
}

.header-page{
    background: #ffffff;
    .container{
        position: initial;
    }
    .menu-dropdown{
        border-top: 1px solid #efefef;
        padding: 28px 0 17px;
    }
    .header-wrapper{
        display: none;
    }
    .header__logo {
        position: relative;
        top:-1px;
        img{
            max-width: 72px;
        }
    }
    .header-center{
        .menu-lv-item{
            .menu-lv-1__action{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: .02em;
                color:#232323;
                text-transform: capitalize;
                padding: 33px 18px 27px;
                .label{
                    right: -4px;
                    top: 18px;
                }
            }
        }
    }
    .header-right{
        padding-bottom: 6px;
        .header__iconItem {
            .header__icon{
                width: 22px;
                height: 22px;
                margin: 0px 13px;
                svg{
                    width:100%;
                    height:100%;
                    fill: #232323;
                }
                &.header__icon--cart{
                    width: 25px;
                    height: 25px;
                }
                &.hamburger-icon{
                    width: 24px;
                    height: 24px;
                    position: relative;
                    margin-right: 0;
                    margin-left: 7px;
                    .icon-line{
                        background-color: #232323;
                        width: 24px;
                        height: 2px;
                        margin: 3px 0;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        &::before,
                        &::after {
                            background-color: #232323;
                            width: 24px;
                            height: 2px;
                            margin: 3px 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                            content: "";
                            transition: transform .3s;
                            transition-delay: .2s;
                        }
                        &::before{
                            top: 5px;
                        }
                        &::after{
                            top: 12px;
                        }
                    }
                    &:hover{
                        transform: scale(1.05);
                    }
                }
                .cart-count-bubble{
                    position: absolute;
                    right: -9px;
                    top: -10px;
                    background: #232323;
                    .text-count{
                        color:#ffffff;
                        font-size:12px;
                        letter-spacing: 0;
                        top: 1px;
                    }
                }
            }
        }
    }
}

.halo-search-popup{
    .halo-popup-wrapper{
        .halo-popup-content {
            .input-group-field{
                font-size: 12px;
            }
        }
        .quickSearchResultsWrap {
            .search-block-title {
                .text {
                    font-size: 14px;
                    letter-spacing: .02em;
                    color: #232323;
                    font-style: normal;
                    font-weight: 700;
                }
            }
            .list-item {
                .link{
                    padding: 9px 20px 8px 12px;
                    color: #232323;
                    font-size: 12px;
                    background: #f2f2f2;
                    border-radius: 4px;
                }
            }
        }
    }
}

.halo-sidebar_language_currency {
    .halo-sidebar-wrapper{
        .nav-currency-language {
            .title{
                font-style: normal;
                font-weight: 700;
                color: #232323;
            }
            .wrapper-currencies {
                .currency-item {
                    .text{
                        color: #232323;
                    }
                }
            }
        }
    }
}
@media(min-width:1025px){
    .header-page{
        .header-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-items: center;
            padding: 0;
        }
    }
}

@media(min-width:1200px){
    .header-page{
        .header-left{
            width: 140px;
        }
    }
}