@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Medium.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Black.woff") format("woff"), url("../../../fonts/spartan/Spartan-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-ExtraBold.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-ExtraBold.woff") format("woff"), url("../../../fonts/spartan/Spartan-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Bold.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Bold.woff") format("woff"), url("../../../fonts/spartan/Spartan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-ExtraLight.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-ExtraLight.woff") format("woff"), url("../../../fonts/spartan/Spartan-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Medium.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Medium.woff") format("woff"), url("../../../fonts/spartan/Spartan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Light.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Light.woff") format("woff"), url("../../../fonts/spartan/Spartan-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Regular.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Regular.woff") format("woff"), url("../../../fonts/spartan/Spartan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-Thin.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-Thin.woff") format("woff"), url("../../../fonts/spartan/Spartan-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("../../../fonts/spartan/Spartan-SemiBold.woff2") format("woff2"), url("../../../fonts/spartan/Spartan-SemiBold.woff") format("woff"), url("../../../fonts/spartan/Spartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.skin-3 {
  font-family: 'Spartan';
  line-height: 34px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
}

.skin-3 .halo-block {
  margin-bottom: 30px;
}

.skin-3 .halo-block.margin-0 {
  margin-bottom: 0;
}

.skin-3 .halo-block.margin-20 {
  margin-bottom: 20px;
}

.skin-3 .halo-block-header .title {
  margin: 0;
}

.skin-3 .halo-block-header .text {
  width: 100%;
  background: transparent;
}

.skin-3 .desc {
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 400;
  color: #505050;
}

.skin-3 .slick-dots {
  margin-top: 15px;
}

.skin-3 .slick-dots button {
  border: 1px solid #707979;
  background: #707979;
}

.skin-3 .slick-dots li.slick-active button {
  background: rgba(255, 255, 255, 0);
  border-color: #505656;
}

.skin-3 .slick-arrow {
  width: 55px;
  height: 55px;
  -webkit-box-shadow: 0 2px 3.4px 0.6px #0003;
          box-shadow: 0 2px 3.4px 0.6px #0003;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.skin-3 .slick-arrow svg {
  position: relative;
  top: 0;
  fill: currentColor;
  stroke: currentColor;
  width: 20px;
  height: 20px;
}

.skin-3 .slick-arrow:hover {
  background: #8463d8;
  border: 1px solid #8463d8;
}

.skin-3 .halo-block-header {
  margin-bottom: 13px !important;
}

.skin-3 .halo-block-header .title {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 500;
  color: #202020;
}

.skin-3 .halo-block-header .title:before {
  display: none;
}

.skin-3 .button {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 400;
  padding: 14px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skin-3 .button.button-2 {
  background-color: #8463d8;
  border-color: #8463d8;
  color: #ffffff;
}

.skin-3 .button.button-2:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.skin-3 .button.button-1 {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-3 .button.button-1:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.skin-3 .button.button-3 {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.skin-3 .button.button-3:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.skin-3.quickshop-popup-show .halo-quickshop-popup {
  z-index: 999;
}

.skin-3 .halo-quickshop-popup .halo-productView-right .product-title {
  line-height: 26px;
}

.skin-3 .halo-quickshop-popup .previewCartItem-qty .quantity {
  padding: 13px 14px 13px 20px;
}

.skin-3 .halo-quickshop-popup .previewCartItem-qty .btn-quantity {
  height: 50px;
  top: 2px;
}

.skin-3 .quickSearchResultsWrap .list-item {
  margin: 0;
}

.skin-3 .product-card .card__badge {
  top: 0;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skin-3 .product-card .card__badge .badge {
  border-radius: 0;
  padding: 5px 11px;
  font-size: 11px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0;
}

.skin-3 .product-card .card__badge .badge.new-badge {
  background-color: #ffffff;
  color: #202020;
}

.skin-3 .product-card .card__badge .badge svg {
  height: 18px;
  width: auto;
  fill: #ffffff;
  margin: 0 -3px;
}

.skin-3 .product-card .card__badge .badge + .badge {
  margin-top: 0;
}

.skin-3 .product-card .productView-countDown.style-3 .num,
.skin-3 .product-card .productView-countDown.style-3 span {
  color: #505050;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-3 .product-card .card-quickview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skin-3 .product-card .card-quickview .product-icon {
  background: #ffffff;
  padding: 12px 11px 12px 14px;
  color: #202020;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.skin-3 .product-card .card-quickview .product-icon svg {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.skin-3 .product-card .card-swatch {
  margin: 16px 0px 0px;
}

.skin-3 .product-card .product-card-information .wrapper-vender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skin-3 .product-card .product-card-information .card-vender {
  width: auto;
}

.skin-3 .product-card .product-card-information .card-vender a {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  color: #202020;
}

.skin-3 .product-card .product-card-information .card-vender:hover {
  color: #232323;
}

.skin-3 .product-card .product-card-information .card-title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  color: #505050;
}

.skin-3 .product-card .product-card-information .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skin-3 .product-card .product-card-information .card-price .price-item .money {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #202020;
}

.skin-3 .product-card .product-card-information .card-price.price__sale {
  font-size: 14px;
  margin: -3px 0 -9px 0;
  font-weight: 600;
}

.skin-3 .product-card .product-card-information .card-price.price__sale .price-item--regular span {
  color: #808080;
  font-size: 12px;
}

.skin-3 .product-card .product-card-information .card-price.price__sale .price__last span {
  color: #ed4649;
  font-weight: 600;
  font-size: 16px;
  margin-right: 6px;
}

.skin-3 .product-card .wrapper-flashSale .wrapper-countDown .countdown-progress {
  background: #f8f8f8;
  width: 100%;
  max-width: 100%;
  margin: -4px 0px 2px;
}

.skin-3 .product-card .wrapper-flashSale .wrapper-countDown .countdown-progress .progress-meter {
  background: #ffc700;
  height: 10px;
  -webkit-animation: 2s linear 0s infinite progress-bar-stripes;
          animation: 2s linear 0s infinite progress-bar-stripes;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-transition: .9s linear;
  transition: .9s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skin-3 .product-card .wrapper-flashSale .wrapper-countDown .countdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -5px;
}

.skin-3 .product-card .wrapper-flashSale .wrapper-countDown .countdown-content .only {
  color: #ed4649;
}

.skin-3 .product-card .card-swatch {
  margin-top: 10px;
}

.skin-3 .product-card .card-swatch .swatch-label {
  width: 25px;
  height: 25px;
}

.skin-3 .product-card .product-card-bottom {
  padding: 6px 10px 0 10px;
}

.skin-3 .product-card .product-card-bottom .wrapper-countDown {
  margin-top: -7px;
}

.skin-3 .product-card .product-card-bottom .wrapper-countDown .totel {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-3 .product-card .productView-rating {
  margin-bottom: 0;
}

.skin-3 .product-card .productView-rating .spr-icon.spr-icon-star::before {
  color: #000000;
}

.skin-3 .product-card .productView-rating .spr-icon.spr-icon-star-empty::before {
  color: #cccccc;
}

.skin-3 .product-card .card-action {
  bottom: 15;
  background: transparent;
}

.skin-3 .product-card .card-action .card-action-bottom {
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
}

.skin-3 .product-card .card-action .card-product__group .card-icon {
  display: block;
  text-align: center;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 9px;
  line-height: 1;
  border-radius: 50%;
  font-size: 0;
  letter-spacing: 0;
  cursor: pointer;
  color: #232323;
}

.skin-3 .product-card .card-action .card-wrapper {
  padding-top: 16px;
  height: 100%;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}

.skin-3 .product-card .card-action .card-wrapper .card-wishlist {
  text-align: center;
  width: 50%;
  border-right: 1px solid #e6e6e6;
}

.skin-3 .product-card .card-action .card-wrapper .compare-product {
  margin: 0 auto;
}

.skin-3 .product-card .card-action .card-wrapper .card-wishlist {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skin-3 .product-card .card-action .card-wrapper .card-wishlist svg {
  width: 17px;
  height: 17px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.skin-3 .product-card .card-action .card-wrapper .compare-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 10px;
  margin: 0;
  width: 50%;
}

.skin-3 .product-card .card-action .card-wrapper .compare-product input[type=checkbox] + .form-label--checkbox:before {
  top: 2px;
}

.skin-3 .product-card .card-action .wishlist-icon .text {
  font-size: 12px;
}

.skin-3 .product-card .card-action .button {
  font-size: 16px;
  background: #ffffff;
  color: #202020;
  border-color: #808080;
}

.skin-3 .product-card .card-action .button:hover {
  background: #f5f5f5;
  color: #202020;
  border-color: #ededed;
  -webkit-box-shadow: 0 3px 8px #0003 inset;
          box-shadow: 0 3px 8px #0003 inset;
}

.skin-3 .halo-sidebar-wrapper .header-search__trending {
  padding: 0;
}

.skin-3 .halo-sidebar-wrapper .header-search__trending .list-item .item {
  background-color: #f7f7f7;
  color: #868686;
  border: 1px solid #f7f7f7;
}

.skin-3 .halo-sidebar-wrapper .header-search__trending .list-item .item .link {
  background-color: #f7f7f7;
}

.skin-3 .halo-sidebar-wrapper .header-search__trending .list-item .item .link:hover {
  background-color: #f7f7f7;
}

.skin-3 .halo-sidebar-wrapper .quickSearchProduct .search-block-title {
  padding-left: 0;
}

.skin-3 .cart-count-bubble {
  background-color: #8463d8 !important;
  color: #ffffff !important;
}

.skin-3 .halo-cart-sidebar .haloCalculatorShipping {
  padding: 0 40px;
}

.skin-3 .halo-cart-sidebar .previewCart-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.skin-3 .halo-cart-sidebar .previewCartGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.skin-3 .halo-cart-sidebar .previewCartGroup .button-1 {
  margin-top: 15px;
  background-color: #000000 !important;
}

.skin-3 .halo-cart-sidebar .previewCartGroup .button-1:hover {
  color: #ffffff !important;
}

.skin-3 .halo-cart-sidebar .previewCartItem {
  padding-bottom: 16px;
  border: none;
}

.skin-3 .halo-cart-sidebar .previewCartItem-image {
  width: 100px;
}

.skin-3 .halo-cart-sidebar .previewCartItem-options {
  padding: 0 21px 0 0;
}

.skin-3 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 12px;
  letter-spacing: -.02em;
  color: #808080;
  font-weight: 400;
}

.skin-3 .halo-cart-sidebar .previewCartItem-price {
  font-size: 14px;
}

.skin-3 .halo-cart-sidebar .previewCartCollection {
  border: 0;
}

.skin-3 .halo-cart-sidebar .previewCartCollection .previewCartTitle {
  margin: 0 0 10px;
}

.skin-3 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] + label {
  font-size: 13px;
}

.skin-3 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 13px;
}

.skin-3 .halo-cart-sidebar .previewCartItem-edit svg {
  fill: #878787;
  stroke: transparent;
  width: 16px;
  height: 15px;
}

.skin-3 .halo-cart-sidebar .previewCartItem-edit:hover svg {
  fill: #3b3b3b;
  stroke: #3b3b3b;
}

.skin-3 .halo-cart-sidebar .previewCartItem-remove {
  top: auto;
  height: 150px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.skin-3 .halo-cart-sidebar .previewCartItem-remove:hover {
  background-color: #f4f4f4;
}

.skin-3 .halo-cart-sidebar .previewCartItem-name {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.02em;
  color: #202020;
}

.skin-3 .halo-cart-sidebar .wrapper-cartCount {
  font-size: 14px;
  color: #202020;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-3 .halo-cart-sidebar .wrapper-cartCount .cartCount {
  font-size: 16px;
}

.skin-3 .halo-cart-sidebar .previewCartInfo .previewCartTotals {
  padding-bottom: 0px;
  margin-bottom: -6px;
  padding-top: 26px;
  border-top: 1px solid #ececec;
}

.skin-3 .halo-cart-sidebar .previewCartInfo .previewCartTotals .previewCartTotals-label {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -.02em;
  color: #505050;
}

.skin-3 .halo-cart-sidebar .previewCartInfo .previewCartTotals .previewCartTotals-value .money {
  font-size: 14px;
  font-weight: 600;
  color: #202020;
  letter-spacing: 0;
  line-height: 30px;
}

.skin-3 .halo-cart-sidebar .previewCartInfo .previewCartShipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 0;
}

.skin-3 .halo-cart-sidebar .previewCartInfo .previewCartShipping .item {
  color: #505050;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -.02em;
  line-height: 30px;
}

.skin-3 .halo-cart-sidebar .previewCartGroup {
  margin: 8px 0 0;
}

.skin-3 .halo-cart-sidebar .previewCartCollection {
  padding: 50px 0 0;
}

.skin-3 .halo-cart-sidebar .previewCartCarousel .product-card .product-card-bottom {
  padding: 13px 10px 0 20px;
}

.skin-3 .halo-cart-sidebar .button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

.skin-3 .halo-cart-sidebar .button.button-3 {
  border: 1px solid #000000 !important;
}

.skin-3 .halo-cart-sidebar .haloCalculatorShipping .progress {
  margin: 0 0 4px;
}

.skin-3 .halo-cart-sidebar .haloCalculatorShipping .progress .progress_shipping {
  height: 14px;
}

.skin-3 .halo-cart-sidebar .previewCartCollection .halo-product-block {
  padding-bottom: 0;
}

.skin-3 .halo-cart-sidebar .wrapper-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  color: #505050;
}

.skin-3 .halo-cart-sidebar .wrapper-message .value-progress-meter {
  line-height: 22px;
}

.skin-3 .halo-cart-sidebar.halo-sidebar .halo-sidebar-header {
  padding: 40px 40px 0;
}

.skin-3 .halo-cart-sidebar.halo-sidebar .halo-sidebar-header .title {
  font-size: 30px;
  letter-spacing: -.04em;
  font-weight: 500;
  color: #202020;
  margin-bottom: 0;
}

.skin-3 .halo-cart-sidebar.halo-sidebar .halo-sidebar-header .halo-sidebar-close {
  width: 40px;
}

.skin-3 .halo-ask-an-expert-popup .halo-popup-header .halo-popup-title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-3 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading {
  font-size: 14px;
  text-transform: capitalize;
}

.skin-3 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .text {
  font-size: 14px;
}

.skin-3 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  font-size: 14px;
}

.skin-3 .halo-ask-an-expert-popup .form-input,
.skin-3 .halo-ask-an-expert-popup .field__input {
  font-size: 14px;
}

.skin-3 .halo-ask-an-expert-popup label {
  font-size: 14px;
}

.skin-3 .halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .text {
  font-size: 14px;
}

.skin-3 .halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skin-3 .halo-newsletter-popup.halo-popup {
  top: auto;
  left: auto;
  right: -50px;
  bottom: 0;
  -webkit-transform: initial;
          transform: initial;
  max-width: 460px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.skin-3 .halo-newsletter-popup .halo-popup-header .halo-popup-close {
  top: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.skin-3 .halo-newsletter-popup .halo-popup-header .halo-popup-close:hover {
  background-color: #8463d8;
}

.skin-3 .halo-newsletter-popup .wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skin-3 .halo-newsletter-popup .halo-popup-content {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 81vh;
  vertical-align: top;
  height: 100%;
  padding: 30px;
  width: 100%;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .header-content {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .header-content .newsletter-popup-title {
  font-weight: 400;
  letter-spacing: -.04em;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .desc {
  color: #232323;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .newsletter {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .newsletter .newsletter-form .newsletter-form__field-wrapper .field__input {
  background-color: transparent;
  text-align: left;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .newsletter .newsletter-form .newsletter-form__field-wrapper .text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #808080;
  margin-top: 10px;
}

.skin-3 .halo-newsletter-popup .halo-popup-content .newsletter .newsletter-form .newsletter-form__field-wrapper .text .underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: #808080;
}

.skin-3.newsletter-show .halo-newsletter-popup {
  right: 0;
}

.skin-3 .toolbar--text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #a1a1a1;
}

.skin-3 .toolbar--text a {
  color: #a1a1a1;
}

.skin-3 .social-icons svg {
  width: 20px;
  height: 20px;
  fill: #a1a1a1;
  stroke: #a1a1a1;
  margin-top: 17px;
  margin-left: 10px;
}

.skin-3 .social-icons svg:hover {
  fill: #505050;
  stroke: #505050;
}

.skin-3 .halo-notification-popup {
  width: 100%;
  max-width: 410px;
  top: auto;
  left: 0;
  right: auto;
  bottom: 30px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.skin-3 .halo-notification-popup .halo-popup-wrapper {
  padding: 0 !important;
}

.skin-3 .halo-notification-popup .halo-popup-header .halo-popup-close {
  top: 5px;
  right: 5px;
  background: #ffffff;
}

.skin-3 .halo-notification-popup .halo-popup-header .halo-popup-close svg {
  fill: #000000;
  stroke: #000000;
}

.skin-3 .halo-notification-popup .halo-popup-header .halo-popup-close:hover {
  background: #8463d8;
}

.skin-3 .halo-notification-popup .halo-popup-header .halo-popup-close:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.skin-3 .halo-notification-popup .halo-popup-content .img-box img {
  width: 80px;
}

.skin-3 .halo-notification-popup .halo-popup-content .product-content .text {
  width: 100%;
  padding: 17px 0px 10px;
  display: block;
}

.skin-3.notification-show .halo-notification-popup {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  z-index: 9;
  bottom: 0;
}

.skin-3.notification-show .halo-notification-popup .halo-popup-wrapper {
  padding: 0;
  position: relative;
}

.skin-3 .productView-variants .product-form__label .text {
  padding-top: 1px;
}

.skin-3 .halo-quick-view-popup .previewCartCheckbox input[type=checkbox] + label {
  color: #505050;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content {
  padding: 0;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .halo-productView-right {
  padding: 40px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .halo-productView-right .productView-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #202020;
  margin-bottom: 4px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .card-price {
  margin: 18px 0;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .card-price .money {
  font-size: 30px;
  letter-spacing: 0;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .card-price .price-item--regular {
  position: relative;
  top: 2px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .card-price .price-item--regular .money {
  font-size: 24px;
  margin-left: 10px;
  letter-spacing: 0;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .desc {
  margin-bottom: 16px;
  line-height: 24px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .productView-variants .product-form__swatch {
  margin-bottom: 12px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .productView-variants .product-form__swatch .product-form__label {
  min-width: 68px;
  height: 104px;
  border-radius: 0;
  padding: 0;
  border: 0;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .productView-variants .product-form__swatch .product-form__label .text {
  font-size: 13px;
  padding-top: 2px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .productView-variants .product-form__swatch .product-form__label img {
  width: 68px;
  height: 104px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .productView-variants .product-form__label {
  border-radius: 0;
  min-width: 80px;
  height: 40px;
  line-height: 37px;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .product-form__inputs {
  position: relative;
}

.skin-3 .halo-quick-view-popup .halo-popup-wrapper .halo-popup-content .product-form__inputs .productView-perks {
  position: absolute;
  right: 0;
  top: 20px;
}

.skin-3 .halo-quick-view-popup .halo-popup-header .halo-popup-close {
  top: -27px;
  right: 0px;
  width: 60px;
  height: 20px;
  padding: 0px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skin-3 .halo-quick-view-popup .halo-popup-header .halo-popup-close:hover {
  background-color: transparent;
}

.skin-3 .halo-quick-view-popup .halo-popup-header .halo-popup-close:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}

.skin-3 .halo-quick-view-popup .halo-popup-header .text {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.skin-3 .halo-quick-view-popup .productView-rating .spr-icon.spr-icon-star::before {
  color: #bb7a2c;
}

.skin-3 .halo-quick-view-popup .productView-information .productView-more {
  margin-top: 18px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction {
  margin-top: -2px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartCheckbox {
  margin: 25px 0px 14px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-action .button {
  padding: 19px 15px;
  margin-left: 7px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .previewCartItem-qty {
  top: 8px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .previewCartItem-qty .quantity {
  padding: 18px 14px 18px 20px;
  text-align: center;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .previewCartItem-qty .btn-quantity {
  top: 6px;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a {
  display: block;
  width: 68px;
  height: 60px;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  padding: 12px;
  border-radius: 0;
}

.skin-3 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-bottom button {
  padding: 18px 0;
}

.skin-3 .halo-quick-view-popup .productView-information .list-unstyled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.skin-3 .halo-quick-view-popup .productView-information .list-unstyled li {
  margin-left: 18px;
}

.skin-3 .halo-quick-view-popup .productView-information .list-unstyled li img {
  height: 30px;
}

.skin-3 .halo-quick-view-popup .productView-information .list-unstyled .child {
  margin-left: 0;
}

.skin-3 .halo-quick-view-popup .productView-information .productView-info .productView-info-item {
  line-height: 22px;
}

.skin-3 .halo-quick-view-popup .productView-information .productView-info .productView-info-item span {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -.02em;
  font-weight: 400;
  color: #202020;
}

.skin-3 .halo-quick-view-popup .productView-information .productView-info .productView-info-item .productView-info-name {
  color: #808080;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: .02em;
}

.skin-3 .halo-quick-view-popup .halo-productView-left {
  margin-bottom: 20px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .productView-image {
  position: relative;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .row {
  margin-bottom: 30px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .text-zoom {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 140px;
  color: #ffffff;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .text-zoom svg {
  fill: #ffffff;
  stroke: #ffffff;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .text-zoom .content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 6px;
  border-radius: 5px;
  font-size: 14px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .text-zoom .content svg {
  width: 20px;
  height: 20px;
  position: relative;
  top: -3px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .slick-dots {
  background-color: rgba(0, 0, 0, 0.2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 1px;
  border-radius: 6px;
  position: absolute;
  top: 220px;
  left: 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .slick-dots li {
  margin: 0 3px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .slick-dots li button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .slick-dots li:not(.slick-active) button {
  background: rgba(255, 255, 255, 0);
}

.skin-3 .halo-quick-view-popup .halo-productView-left .content-ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ececec;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .content-ask a {
  font-size: 14px;
  color: #202020;
  font-weight: 500;
}

.skin-3 .halo-quick-view-popup .halo-productView-left .content-ask svg {
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
  top: -1px;
}

.skin-3 .halo-quick-view-popup .productView-rating .spr-badge-caption {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  color: #202020;
  margin: 0;
  text-transform: lowercase;
}

.skin-3 .halo-quick-view-popup .productView-meta {
  margin-top: -3px;
}

.skin-3 .halo-quick-view-popup .productView-soldProduct svg {
  width: 17px;
  height: 22px;
  fill: #ff7300;
  stroke: #ff7300;
}

.skin-3 .halo-quick-view-popup .productView-soldProduct .text {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-3 .halo-sidebar-right .previewCartCollection .halo-product-block .row .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.skin-3 .halo-sidebar-right .previewCartCollection .halo-product-block .row .slick-arrow.slick-prev {
  left: auto;
  right: 7px;
}

.skin-3 .halo-sidebar-right .previewCartCarousel .product-card .product-card-bottom {
  padding: 8px 10px 0 20px;
}

.skin-3 .halo-sidebar-right .previewCartCarousel .product-card .product-card-bottom .product-card-information .card-title {
  line-height: 17px;
}

.skin-3 .halo-sidebar-right .previewCartCarousel .product-card .product-card-bottom .product-card-information .card-price {
  margin-top: 6px;
}

.skin-3 .halo-sidebar-right .previewCartCarousel .product-card .product-card-bottom .card-swatch {
  margin: 9px 0 0 0;
}

.skin-3 .halo-sidebar-right .previewCartCarousel .product-card .product-card-bottom .card-swatch .swatch {
  margin-bottom: -8px;
}

.skin-3 .halo-sidebar-right .previewCart-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.skin-3 .halo-sidebar-right .previewCart {
  overflow: initial;
}

.skin-3 .halo-sidebar-right .slick-arrow {
  width: 30px;
  height: 30px;
}

.skin-3 .halo-sidebar-right .slick-arrow.slick-prev svg {
  left: -4px;
}

.skin-3 .halo-sidebar-right .slick-arrow svg {
  position: relative;
  top: -12px;
  left: -1px;
  stroke: currentColor;
  width: 16px;
  height: 16px;
}

.skin-3 .halo-sidebar-right .slick-arrow.slick-disabled {
  opacity: 0;
  z-index: -99;
}

.skin-3.size-chart-show .background-overlay {
  z-index: 9999;
}

.skin-3.compare-color-show .background-overlay {
  z-index: 9999;
}

.skin-3.ask-an-expert-show .background-overlay {
  z-index: 9999;
}

.skin-3.quick-view-show .background-overlay-popup {
  z-index: 99;
}

.skin-3 .background-overlay,
.skin-3 .background-overlay-popup,
.skin-3 .background-header-search {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.skin-3 .background-header-search {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25vh;
  cursor: pointer;
  display: block;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.skin-3.quickSearchResult-show {
  overflow: hidden;
}

.skin-3.quickSearchResult-show .background-header-search {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.skin-3 .halo-product-block .product-item:nth-child(n+5) {
  margin-top: 0;
}

.skin-3 .halo-edit-option-sidebar {
  background-color: #ffffff;
  max-width: 500px;
}

.skin-3 .halo-edit-option-sidebar .halo-product-block {
  margin-top: 0;
}

.skin-3 .halo-edit-option-sidebar .productView-variants .form__label {
  font-size: 16px;
}

.skin-3 .halo-edit-option-sidebar .productView-variants .product-form__label {
  font-size: 16px;
}

.skin-3 .halo-edit-option-sidebar .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-3 .halo-edit-option-sidebar .halo-sidebar-header {
  padding: 40px;
  background-color: #ffffff;
}

.skin-3 .halo-edit-option-sidebar .halo-sidebar-header .title {
  font-size: 30px;
  letter-spacing: -.04em;
  font-weight: 500;
  color: #202020;
}

.skin-3 .halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close {
  background-color: transparent !important;
}

.skin-3 .halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close svg {
  fill: #232323 !important;
}

.skin-3 .halo-edit-option-sidebar .halo-sidebar-wrapper {
  padding: 0 40px !important;
}

.skin-3 .halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemImage {
  border-radius: 0;
}

.skin-3 .halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation {
  margin-top: -10px;
}

.skin-3 .halo-edit-option-sidebar .product-form {
  margin-bottom: 17px;
}

.skin-3 .halo-edit-option-sidebar .product-form .product-form__label {
  min-width: 68px;
  height: 105px;
  border-radius: 0;
  border: 0;
}

.skin-3 .halo-edit-option-sidebar .product-form .product-form__label img {
  width: 68px;
  height: 105px;
}

.skin-3 .halo-edit-option-sidebar .product-size {
  margin-bottom: 31px;
}

.skin-3 .halo-edit-option-sidebar .product-size .product-form__label {
  min-width: 80px;
  height: 40px;
  border-radius: 0;
}

.skin-3 .halo-edit-option-sidebar .product-option .product-form__label {
  padding: 0 20px;
  height: 40px;
  border-radius: 0;
}

.skin-3 .halo-auth-sidebar .halo-sidebar-header .title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -.04em;
  padding-left: 10px;
  color: #202020;
}

.skin-3 .halo-auth-sidebar .form-input {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #202020;
}

.skin-3 .halo-auth-sidebar .auth-form {
  padding: 37px 40px;
}

.skin-3 .halo-auth-sidebar .form-label {
  font-size: 13px;
  color: #505050;
  font-weight: 400;
  letter-spacing: -.02em;
}

.skin-3 .halo-auth-sidebar .label,
.skin-3 .halo-auth-sidebar .link {
  font-size: 13px;
  letter-spacing: -.02em;
  font-weight: 400;
  color: #505050;
}

.skin-3 .halo-auth-sidebar .auth-sidebar .link {
  margin-top: 10px;
}

.skin-3 .halo-auth-sidebar .auth {
  margin: 10px 0 33px;
}

.skin-3 .halo-auth-sidebar input[type=email],
.skin-3 .halo-auth-sidebar input:empty {
  padding: 10px 12px 11px;
}

.skin-3 .halo-auth-sidebar .button {
  padding: 19px 12px 19px !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

.skin-3 .live_help_group .button {
  margin-top: 19px;
  padding: 8px 30px 9px;
  min-width: 190px;
}

.skin-3 .live_help_group .button:hover svg {
  fill: #000000 !important;
}

.skin-3 .live_help_group .title {
  line-height: 0;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .skin-3 .product-card .card-action .card-action-top {
    display: none;
  }
  .skin-3 .product-card .card-action .card-action-bottom .card-wrapper {
    display: none;
  }
  .skin-3 .card__badge {
    left: 0;
  }
}

@media (max-width: 767px) {
  .skin-3 .halo-edit-option-sidebar {
    max-width: calc(100% - 40px);
  }
  .skin-3 .halo-edit-option-sidebar .halo-sidebar-header .title {
    font-size: 30px;
  }
  .skin-3 .halo-edit-option-sidebar .halo-sidebar-wrapper {
    padding: 0 15px !important;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .skin-3 .halo-edit-option-sidebar .product-size .product-form__label {
    min-width: 55px;
  }
  .skin-3 .halo-edit-option-sidebar .product-option .product-form__label {
    padding: 0 10px;
  }
  .skin-3 .halo-sidebar-wrapper .header-search__trending .list-item .item {
    margin-right: 8px;
  }
  .skin-3 .halo-cart-sidebar .previewCartGroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .skin-3 .halo-cart-sidebar .previewCartInfo .previewCartShipping .previewCart-Text {
    margin-right: 56px;
  }
  .skin-3 .halo-cart-sidebar .previewCartInfo .previewCartShipping .item .desc {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 30px;
  }
  .skin-3 .halo-cart-sidebar .previewCartCarousel .product-card .product-card-bottom {
    margin-top: -12px;
    padding: 0 10px 0 20px;
  }
  .skin-3 .product-card .card-swatch {
    margin-bottom: 0;
  }
  .skin-3 .halo-change-option-sidebar .halo-sidebar-header {
    visibility: hidden;
  }
}

@media (max-width: 440px) {
  .skin-3 .product-card .product-card-information .wrapper-vender {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 552px) {
  .skin-3 .halo-sidebar.halo-cart-sidebar {
    max-width: 500px !important;
  }
}

@media (min-width: 1025px) {
  .skin-3 .slick-arrow.slick-disabled {
    opacity: 0;
  }
  .skin-3.quickSearchResult-show {
    padding-right: 10px;
  }
  .skin-3 .row {
    margin: 0 -10px;
  }
  .skin-3 .row .halo-row-item {
    padding: 0 10px;
  }
  .skin-3 .haloCalculatorShipping {
    padding: 0 40px !important;
  }
  .skin-3 .previewCart-wrapper {
    padding-left: 10px;
  }
  .skin-3 .halo-auth-sidebar .halo-sidebar-header .title {
    font-size: 30px;
  }
}

@media (min-width: 1670px) {
  .skin-3 .container.container-1640 {
    max-width: 1670px !important;
  }
  .skin-3 .container.container-1640 .row {
    margin: 0 -15px;
  }
}
/*# sourceMappingURL=skin-3.css.map */