body {
    &.pickup-sidebar-show {
        overflow: hidden;
        .halo-local-pick-up-sidebar {
            transform: translate(0);
            opacity: 1;
            visibility: visible;
        }
        .background-overlay {
            z-index: 99;
            opacity: 1;
            visibility: visible;
        }
    }
}
.halo-local-pick-up-sidebar{
    .halo-sidebar-wrapper{
        padding-left: 30px;
        padding-right: 30px;
    }
    .halo-sidebar-header{
        border:none;
    }
    .pickup-product-info{
        padding-top: 30px;
        padding-bottom: 18px;
        .pickup-product-title{
            font-size: 16px;
            font-weight: 600;
            color: #232323;
            line-height: 24px;
            padding-bottom: 10px;
            margin: 0;
        }
        .pickup-product-variant{
            span{
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #323232;
                text-transform: capitalize;
                letter-spacing: .02em;
                line-height: 22px;
            }
        }
    }
    .pickup-list{
        .pickup-list-item{
            padding: 22px 0px 10px;
            border-top: 1px solid #e5e5e5;
            margin: 0;
            .pickup-heading{
                font-size: 13px;
                font-weight: 600;
                line-height: 25px;
                text-transform: uppercase;
                color: #232323;
                margin: 0;
                padding-bottom: 6px;
            }
            .pickup-preview{
                padding-bottom: 10px;
                .icon{
                    position: relative;
                    top: -1px;
                    svg{
                        margin-right: 6px;
                        width: 17px;
                        height: 17px;
                        fill: #108043;
                    }
                }
            }
            .pickup-address{
                line-height: 24px;
            }
        }
    }
}
@media(min-width: 552px){
    .halo-local-pick-up-sidebar{
        max-width: 410px;
    }
}

@media (min-width:1025px) {
    body {
        &.pickup-sidebar-show {
            padding-right: 10px;
        }
    }
}