.page-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    max-width: calc(100% - 40px);
    opacity: 0;
    visibility: hidden;
    transform: translate(-101%);
    transition: opacity 0.5s, transform 350ms ease, visibility 350ms ease;
    background-color: #ffffff;
    .halo-sidebar-wrapper{
        padding: 30px 15px;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc( 100vh - 20px);
    }
    .sidebarBlock {
        margin-bottom: 38px;
    }
    .halo-sidebar-header {
        position: relative;
        padding: 24px 20px 0;
        background-color: #fff;
        padding: 9px 20px 9px;
        border-bottom: 1px solid #e6e6e6;
        .title {
            display: block;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: .02em;
            line-height: 22px;
            color: #232323;
            text-transform: uppercase;
        }
        .halo-page-sidebar-close {
            position: absolute;
            top: 0px ;
            background: #232323 ;
            right: -40px;
            width: 40px;
            height: 40px;
            font-size: 0;
            z-index: 10;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            pointer-events: auto;
            svg {
                display: block;
                width: 18px;
                height: 18px;
                fill: #ffffff;
                stroke: transparent;
            }
        }
    }
    .sidebarBlock-heading{
        font-size: 14px;
        letter-spacing: .05em;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 22px;
        color: #232323;
        border-bottom: 1px solid #e6e6e6;
        margin: 0;
        padding-bottom: 9px;
        margin-bottom: 13px;
        position: relative;
        cursor: pointer;
        .icon{
            position: absolute;
            right: 0;
            svg{
                fill: #232323;
                color: #232323;
            }
        }
        &.is-clicked{
            .icon{
                svg{
                    transform: scale(1) rotate(-180deg);
                }
            }
        }
    }
    .sidebarBlock-content{
        position: relative;
        overflow: hidden;
        .nav{
            margin: 0;
            li{
                margin: 0;
                position: relative;
                padding-right: 22px;
                cursor: pointer;
                width: 100%;
                a{
                    font-size: 13px;
                    display: inline-block;
                    font-weight: 500;
                    color: #3c3c3c;
                    padding: 7px 0 6px 0;
                    line-height: 22px;
                    position: relative;
                    transition: padding-left .5s linear;
                }
            }
        }
    }
    .facets__list{
        margin: 19px -4px 12px;
        display: flex;
        flex-wrap: wrap;
        max-height: 180px;
            overflow-y: auto;
        .facets__item{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin: 0 0 10px;
            padding-right: 5px;
            padding-left: 5px; 
        }
        .facet-checkbox{
            padding-left: 25px;
            &::before{
                top: 2px;
            }
            &::after{
                top: 5px;
            }
        }
    }
    .filter-color{
        .facets__list{
            .facets__item{
                padding-right: 4px!important;
                padding-left: 4px!important;
                margin-bottom: 6px!important;
                width: auto!important;
                input:checked{
                    & + .facet-checkbox{
                        border-color: #3c3c3c;
                        padding: 2px;
                    }  
                }
            }
            .facet-checkbox{
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                margin: 0 0 3px;
                border-radius: 50%;
                position: relative;
                font-size: 0;
                width: 34px;
                height: 34px;
                border: 1px solid #cbcbcb;
                background: transparent;
                padding: 0;
                opacity: 1;
                &::before{
                    display: none;
                }
                &::after{
                    top: 11px;
                    left: 12px;
                    z-index: 9;
                    border-color: #3c3c3c;
                }
                .pattern{
                    display: block;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 0;
                    letter-spacing: 0;
                    position: relative;
                    background-size: cover;
                }
                
            }
        }
    }
    .filter-size{
        .facets__item--rectangle{
            margin-bottom: 0!important;
            padding-right: 4px!important;
            padding-left: 4px!important;
            width: auto!important;
            input:checked{
                & + .facet-checkbox {
                    .text{
                        border-color: #232323;
                    }
                }
            }
        }
        .facet-checkbox{
            padding-left: 0!important;
            &::before,
            &::after{
                display: none;
            }
            .text{
                display: block;
                width: auto;
                min-width: 45px;
                padding: 3px 10px;
                font-size: 12px;
                font-weight: 400;
                text-transform: capitalize;
                color: #232323;
                background-color: #ffffff;
                text-align: center;
                transition: all ease .3s;
                border: 1px solid #dadada;
            }
        }
    }
    .filter-prices{
        width: 100%;
        .sidebarBlock-content{
            padding-bottom: 7px;
        }
        .price-container{
            display: flex;
            width:100%;
            margin: 14px 0px 18px;
            input{
                width: 100%;
                border: none;
                text-align: right;
                line-height: 45px;
            }
            .price-wrap-1, 
            .price-wrap-2 {
                border: 1px solid #dadada;
                padding: 0px 10px 0px;
                display: flex;
                margin-left: 0px;
                width: 85px;
                height: 40px;
                font-size: 12px;
                text-align: right;
                line-height: 40px;
                label{
                    line-height: 40px;
                }
            }
            .slide_price--to{
                width: 50px;
                text-align: center;
                line-height: 40px;
            }
        }
        .apply__button{
            width: 100%;
            max-width: 100%;
            text-align: center;
            padding: 9px 15px 9px;
        }
        .price-field{
            position: relative;
            width: 100%;
            height: 36px;
            box-sizing: border-box;
            padding-top: 15px;
            padding-left: 0px;
            input[type=range]{
                position: absolute;
                width: 100%;
                outline: 0;
                box-sizing: border-box;
                pointer-events: none;
                -webkit-appearance: none;
                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                }
                &:active,
                &:focus{
                    outline: 0;
                }
                &::-ms-track{
                    width: 100%;
                    height: 6px;
                    cursor: pointer;
                    background: #323232;
                    border-radius: 0;
                }
                &::-webkit-slider-thumb{
                    position: relative;
                    -webkit-appearance: none;
                    margin: 0;
                    border: 0;
                    outline: 0;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    border: 4px solid #232323;
                    margin-top: -6px;
                    background-color: #fff;
                    cursor: pointer;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 100;
                }
                &::-moz-range-thumb{
                    position: relative;
                    -webkit-appearance: none;
                    margin: 0;
                    border: 0;
                    outline: 0;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    border: 4px solid #232323;
                    margin-top: -6px;
                    background-color: #fff;
                    cursor: pointer;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 100;
                }
                &::-ms-thumb{
                    position: relative;
                    -webkit-appearance: none;
                    margin: 0;
                    border: 0;
                    outline: 0;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    border: 4px solid #232323;
                    margin-top: -6px;
                    background-color: #fff;
                    cursor: pointer;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 100;
                }
                &::-webkit-slider-runnable-track{
                    width: 100%;
                    height: 6px;
                    cursor: pointer;
                    background: #323232;
                    border-radius: 0;
                }
                &::-moz-range-track{
                    width: 100%;
                    height: 6px;
                    cursor: pointer;
                    background: #323232;
                    border-radius: 0;
                }
                &::-ms-track{
                    width: 100%;
                    height: 6px;
                    cursor: pointer;
                    background: #323232;
                    border-radius: 0;
                }
                
            }
            .price-wrap{
                display: flex;
                color: #242424;
                font-size: 14px;
                line-height: 1.2em;
                font-weight: 400;
                margin-bottom: 0px;
                .filter__price{
                    width: 30px;
                    text-align: right;
                    margin: 0;
                    padding: 0;
                    margin-right: 2px;
                    background:  0;
                    border: 0;
                    outline: 0;
                    color: #242424;
                    font-family: 'Karla', 'Arial', sans-serif;
                    font-size: 14px;
                    line-height: 1.2em;
                    font-weight: 400; 
                }
                .label{
                    text-align: right;
                    margin-top: 6px;
                    padding-left: 5px
                }
            }
            
            .price-title {
                margin-right: 5px;
            }
            .price-wrap_line {
                margin: 6px 0px 5px 5px;
            }
        }
    }
    .recent-articles{
        .article{
            padding-bottom: 16px;
            & + .article{
                border-top: 1px solid #e6e6e6;
                padding-top: 15px;
            }
            a{
                font-size: 12px;
                line-height:22px;
                font-weight: 500;
            }
            em{
                display: block;
                font-style: normal;
                color: #999999;
                font-size: 12px;
                line-height: 22px;
                font-weight: 400;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    .sidebar-product{
        .halo-product-block{
                margin: 30px auto 0px;
                width: 100%;
                max-width: 240px;
            .product-card-top{
                width: 100%;
                max-width: 140px;
                margin: 0 auto;
                .card__badge{
                    &.badge-left{
                        left: 0;
                        top: 0;
                    }
                }
            }

            .slick-arrow{
                top: 85px;
                transform: translateY(0);
                border: none;
                padding: 5px!important;
                background: transparent;
                svg{
                    fill:#232323;
                }
            }
            .product-card{
                .card-action{
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    bottom: 0;
                    position: relative;
                }
            }
        }
    }
    .sidebar-banner{
        padding-bottom: 6px;
        .img-box{
            & + .img-box{
                margin-top: 30px;
            }
        }
    }
    .sidebar-cms-custom{
        .desc{
            & + .desc{
                margin-top: 24px; 
            }
        }
    }
    .sidebar-refined-widgets{
        padding: 20px 15px 10px;
        width: 100%;
        .facets__clear-all{
            vertical-align: middle;
            margin-right: 18px;
            font-size: 12px;
            color: #3c3c3c;
            letter-spacing: .02em;
            margin-bottom: 12px;
            text-transform: capitalize;
        }
        .facets__list--refined{
            display: inline-block;
            vertical-align: middle;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;
            li{
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 10px 0;
                .active-facets__button{
                    display: block;
                    font-size: 12px;
                    font-weight:400;
                    letter-spacing: .02em;
                    color: #232323;
                    padding: 4px 12px;
                    border-radius: 3px;
                    background-color: #fafafa;
                    cursor: pointer;
                    transition: all ease .3s;
                    svg{
                        position: relative;
                        top: -1px;
                        margin-left: 3px;
                    }
                    &:hover{
                        background: #707070;
                        color: #ffffff;
                        svg{
                            fill:#ffffff;
                        }
                    }
                }
            }
        }
    }
    .facets__count{
        width: 21px;
        height: 21px;
        background: #232323;
        color: #ffffff;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        line-height: 21px;
        font-weight: 300;
        margin-left: 5px;
    }
    
    &.page-sidebar-left{
        left: 0;
        transform: translate(-101%);
    }
    &.page-sidebar-right{
        right:0;
        transform: translate(101%);
        .halo-sidebar-header {
            .halo-page-sidebar-close{
                right: inherit;
                left: -40px;
            }
        }
    }
    &.page-sidebar--vertical{
        .sidebar-refined-widgets{
            padding: 0;
            .sidebarBlock-heading{
                padding: 0;
                margin: 0;
                border:none;
                .facets__clear-all{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    margin: 0;
                }
            }
            .results-count{
                padding: 7px 0px 10px;
                .results{
                    font-size: 12px;
                    color: #707070;
                }
            }
        }
    }
    &.page-sidebar--horizontal{
        .halo-sidebar-wrapper{
            max-height: 80vh;
        }
    }
}
.sidebar-toogle{
    display: block;
    width: 40px;
    height: 40px;
    padding: 9px;
    background-color: #f5f5f5;
    margin: 0 0 15px;
    svg{
        width: 100%;
        height: 100%;
        stroke: transparent;
        fill: #808080;
    }
}
body{
    &.open-mobile-sidebar{
        overflow: hidden;
        .page-sidebar {
            transform: translate(0);
            opacity: 1;
            visibility: visible;
        }
        .background-overlay {
            z-index: 99;
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (min-width: 552px) {
    .halo-sidebar {
        max-width: 370px;
    }
    .page-sidebar {
        max-width: 300px;
    }
}

@media (min-width: 1025px) {
    .page-sidebar{
        position: sticky;
        top: 30px;
        left: unset!important;
        right: unset!important;
        bottom: unset;
        height: auto;
        transition: unset;
        transform: unset!important;
        z-index: inherit;
        background-color: transparent;
        display: inline-block;
        vertical-align: top;
        width: 210px;
        transform: translate(0);
        opacity: 1;
        visibility: visible;
        float: left;
        .halo-sidebar-wrapper{
            padding: 0;
            max-height: initial;
        }
        .halo-sidebar-header{
            display: none;
        }
        & + .page-content {
            width: calc(100% - 210px);
            padding-left: 30px;
            float: left;
        }
        &.page-sidebar-right{
            float: right;
            & + .page-content {
                padding-left: 0;
                padding-right: 30px;
            }
        }
    }
    .sidebar-toogle {
        display: none;
        margin-bottom: 0;
    }
}