/* ===  Sidebar === */
.halo-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0;
  height: 100%;
  z-index: 101;
  max-width: calc(100% - 40px);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility 350ms ease, -webkit-transform 350ms ease;
  transition: opacity .5s, visibility 350ms ease, -webkit-transform 350ms ease;
  transition: opacity .5s, transform 350ms ease, visibility 350ms ease;
  transition: opacity .5s, transform 350ms ease, visibility 350ms ease, -webkit-transform 350ms ease;
  background-color: #ffffff;
}

.halo-sidebar.halo-sidebar-right {
  right: 0;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.halo-sidebar.halo-sidebar-left {
  left: 0;
  -webkit-transform: translate(-101%);
          transform: translate(-101%);
}

.halo-sidebar .halo-sidebar-header {
  position: relative;
  padding: 24px 20px 0;
  background-color: #fff;
}

.halo-sidebar .halo-sidebar-header .title {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .02em;
  line-height: 22px;
  color: #232323;
  text-transform: uppercase;
}

.halo-sidebar .halo-sidebar-header .halo-sidebar-close {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 40px;
  height: 40px;
  font-size: 0;
  z-index: 10;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  pointer-events: auto;
  background-color: transparent;
}

.halo-sidebar .halo-sidebar-header .halo-sidebar-close svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #5a5a5a;
  stroke: transparent;
}

.halo-sidebar .halo-sidebar-wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 70px;
}

@media (max-width: 767px) {
  .halo-sidebar .halo-sidebar-header {
    padding: 9px 20px 9px;
    border-bottom: 1px solid #e6e6e6;
  }
  .halo-sidebar .halo-sidebar-close {
    top: 0px !important;
    background: #232323 !important;
  }
  .halo-sidebar .halo-sidebar-close svg {
    fill: #ffffff !important;
  }
  .halo-sidebar.halo-sidebar-left .halo-sidebar-close {
    right: -40px !important;
  }
  .halo-sidebar.halo-sidebar-right .halo-sidebar-close {
    left: -40px !important;
  }
}

@media (min-width: 1025px) {
  .halo-sidebar .halo-sidebar-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  max-width: calc(100% - 40px);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-101%);
          transform: translate(-101%);
  -webkit-transition: opacity 0.5s, visibility 350ms ease, -webkit-transform 350ms ease;
  transition: opacity 0.5s, visibility 350ms ease, -webkit-transform 350ms ease;
  transition: opacity 0.5s, transform 350ms ease, visibility 350ms ease;
  transition: opacity 0.5s, transform 350ms ease, visibility 350ms ease, -webkit-transform 350ms ease;
  background-color: #ffffff;
}

.page-sidebar .halo-sidebar-wrapper {
  padding: 30px 15px;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc( 100vh - 20px);
}

.page-sidebar .sidebarBlock {
  margin-bottom: 38px;
}

.page-sidebar .halo-sidebar-header {
  position: relative;
  padding: 24px 20px 0;
  background-color: #fff;
  padding: 9px 20px 9px;
  border-bottom: 1px solid #e6e6e6;
}

.page-sidebar .halo-sidebar-header .title {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .02em;
  line-height: 22px;
  color: #232323;
  text-transform: uppercase;
}

.page-sidebar .halo-sidebar-header .halo-page-sidebar-close {
  position: absolute;
  top: 0px;
  background: #232323;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 0;
  z-index: 10;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  pointer-events: auto;
}

.page-sidebar .halo-sidebar-header .halo-page-sidebar-close svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #ffffff;
  stroke: transparent;
}

.page-sidebar .sidebarBlock-heading {
  font-size: 14px;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 22px;
  color: #232323;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding-bottom: 9px;
  margin-bottom: 13px;
  position: relative;
  cursor: pointer;
}

.page-sidebar .sidebarBlock-heading .icon {
  position: absolute;
  right: 0;
}

.page-sidebar .sidebarBlock-heading .icon svg {
  fill: #232323;
  color: #232323;
}

.page-sidebar .sidebarBlock-heading.is-clicked .icon svg {
  -webkit-transform: scale(1) rotate(-180deg);
          transform: scale(1) rotate(-180deg);
}

.page-sidebar .sidebarBlock-content {
  position: relative;
  overflow: hidden;
}

.page-sidebar .sidebarBlock-content .nav {
  margin: 0;
}

.page-sidebar .sidebarBlock-content .nav li {
  margin: 0;
  position: relative;
  padding-right: 22px;
  cursor: pointer;
  width: 100%;
}

.page-sidebar .sidebarBlock-content .nav li a {
  font-size: 13px;
  display: inline-block;
  font-weight: 500;
  color: #3c3c3c;
  padding: 7px 0 6px 0;
  line-height: 22px;
  position: relative;
  -webkit-transition: padding-left .5s linear;
  transition: padding-left .5s linear;
}

.page-sidebar .facets__list {
  margin: 19px -4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 180px;
  overflow-y: auto;
}

.page-sidebar .facets__list .facets__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.page-sidebar .facets__list .facet-checkbox {
  padding-left: 25px;
}

.page-sidebar .facets__list .facet-checkbox::before {
  top: 2px;
}

.page-sidebar .facets__list .facet-checkbox::after {
  top: 5px;
}

.page-sidebar .filter-color .facets__list .facets__item {
  padding-right: 4px !important;
  padding-left: 4px !important;
  margin-bottom: 6px !important;
  width: auto !important;
}

.page-sidebar .filter-color .facets__list .facets__item input:checked + .facet-checkbox {
  border-color: #3c3c3c;
  padding: 2px;
}

.page-sidebar .filter-color .facets__list .facet-checkbox {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin: 0 0 3px;
  border-radius: 50%;
  position: relative;
  font-size: 0;
  width: 34px;
  height: 34px;
  border: 1px solid #cbcbcb;
  background: transparent;
  padding: 0;
  opacity: 1;
}

.page-sidebar .filter-color .facets__list .facet-checkbox::before {
  display: none;
}

.page-sidebar .filter-color .facets__list .facet-checkbox::after {
  top: 11px;
  left: 12px;
  z-index: 9;
  border-color: #3c3c3c;
}

.page-sidebar .filter-color .facets__list .facet-checkbox .pattern {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  letter-spacing: 0;
  position: relative;
  background-size: cover;
}

.page-sidebar .filter-size .facets__item--rectangle {
  margin-bottom: 0 !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
  width: auto !important;
}

.page-sidebar .filter-size .facets__item--rectangle input:checked + .facet-checkbox .text {
  border-color: #232323;
}

.page-sidebar .filter-size .facet-checkbox {
  padding-left: 0 !important;
}

.page-sidebar .filter-size .facet-checkbox::before, .page-sidebar .filter-size .facet-checkbox::after {
  display: none;
}

.page-sidebar .filter-size .facet-checkbox .text {
  display: block;
  width: auto;
  min-width: 45px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: #232323;
  background-color: #ffffff;
  text-align: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  border: 1px solid #dadada;
}

.page-sidebar .filter-prices {
  width: 100%;
}

.page-sidebar .filter-prices .sidebarBlock-content {
  padding-bottom: 7px;
}

.page-sidebar .filter-prices .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 14px 0px 18px;
}

.page-sidebar .filter-prices .price-container input {
  width: 100%;
  border: none;
  text-align: right;
  line-height: 45px;
}

.page-sidebar .filter-prices .price-container .price-wrap-1,
.page-sidebar .filter-prices .price-container .price-wrap-2 {
  border: 1px solid #dadada;
  padding: 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  width: 85px;
  height: 40px;
  font-size: 12px;
  text-align: right;
  line-height: 40px;
}

.page-sidebar .filter-prices .price-container .price-wrap-1 label,
.page-sidebar .filter-prices .price-container .price-wrap-2 label {
  line-height: 40px;
}

.page-sidebar .filter-prices .price-container .slide_price--to {
  width: 50px;
  text-align: center;
  line-height: 40px;
}

.page-sidebar .filter-prices .apply__button {
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 9px 15px 9px;
}

.page-sidebar .filter-prices .price-field {
  position: relative;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.page-sidebar .filter-prices .price-field input[type=range] {
  position: absolute;
  width: 100%;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  -webkit-appearance: none;
}

.page-sidebar .filter-prices .price-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.page-sidebar .filter-prices .price-field input[type=range]:active, .page-sidebar .filter-prices .price-field input[type=range]:focus {
  outline: 0;
}

.page-sidebar .filter-prices .price-field input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #323232;
  border-radius: 0;
}

.page-sidebar .filter-prices .price-field input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  border: 4px solid #232323;
  margin-top: -6px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.page-sidebar .filter-prices .price-field input[type=range]::-moz-range-thumb {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  border: 4px solid #232323;
  margin-top: -6px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.page-sidebar .filter-prices .price-field input[type=range]::-ms-thumb {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  border: 4px solid #232323;
  margin-top: -6px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.page-sidebar .filter-prices .price-field input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #323232;
  border-radius: 0;
}

.page-sidebar .filter-prices .price-field input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #323232;
  border-radius: 0;
}

.page-sidebar .filter-prices .price-field input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #323232;
  border-radius: 0;
}

.page-sidebar .filter-prices .price-field .price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #242424;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
}

.page-sidebar .filter-prices .price-field .price-wrap .filter__price {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #242424;
  font-family: 'Karla', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.page-sidebar .filter-prices .price-field .price-wrap .label {
  text-align: right;
  margin-top: 6px;
  padding-left: 5px;
}

.page-sidebar .filter-prices .price-field .price-title {
  margin-right: 5px;
}

.page-sidebar .filter-prices .price-field .price-wrap_line {
  margin: 6px 0px 5px 5px;
}

.page-sidebar .recent-articles .article {
  padding-bottom: 16px;
}

.page-sidebar .recent-articles .article + .article {
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
}

.page-sidebar .recent-articles .article a {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}

.page-sidebar .recent-articles .article em {
  display: block;
  font-style: normal;
  color: #999999;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

.page-sidebar .recent-articles .article:last-child {
  padding-bottom: 0;
}

.page-sidebar .sidebar-product .halo-product-block {
  margin: 30px auto 0px;
  width: 100%;
  max-width: 240px;
}

.page-sidebar .sidebar-product .halo-product-block .product-card-top {
  width: 100%;
  max-width: 140px;
  margin: 0 auto;
}

.page-sidebar .sidebar-product .halo-product-block .product-card-top .card__badge.badge-left {
  left: 0;
  top: 0;
}

.page-sidebar .sidebar-product .halo-product-block .slick-arrow {
  top: 85px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border: none;
  padding: 5px !important;
  background: transparent;
}

.page-sidebar .sidebar-product .halo-product-block .slick-arrow svg {
  fill: #232323;
}

.page-sidebar .sidebar-product .halo-product-block .product-card .card-action {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  bottom: 0;
  position: relative;
}

.page-sidebar .sidebar-banner {
  padding-bottom: 6px;
}

.page-sidebar .sidebar-banner .img-box + .img-box {
  margin-top: 30px;
}

.page-sidebar .sidebar-cms-custom .desc + .desc {
  margin-top: 24px;
}

.page-sidebar .sidebar-refined-widgets {
  padding: 20px 15px 10px;
  width: 100%;
}

.page-sidebar .sidebar-refined-widgets .facets__clear-all {
  vertical-align: middle;
  margin-right: 18px;
  font-size: 12px;
  color: #3c3c3c;
  letter-spacing: .02em;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 10px 0;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined li .active-facets__button {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .02em;
  color: #232323;
  padding: 4px 12px;
  border-radius: 3px;
  background-color: #fafafa;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined li .active-facets__button svg {
  position: relative;
  top: -1px;
  margin-left: 3px;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined li .active-facets__button:hover {
  background: #707070;
  color: #ffffff;
}

.page-sidebar .sidebar-refined-widgets .facets__list--refined li .active-facets__button:hover svg {
  fill: #ffffff;
}

.page-sidebar .facets__count {
  width: 21px;
  height: 21px;
  background: #232323;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  margin-left: 5px;
}

.page-sidebar.page-sidebar-left {
  left: 0;
  -webkit-transform: translate(-101%);
          transform: translate(-101%);
}

.page-sidebar.page-sidebar-right {
  right: 0;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.page-sidebar.page-sidebar-right .halo-sidebar-header .halo-page-sidebar-close {
  right: inherit;
  left: -40px;
}

.page-sidebar.page-sidebar--vertical .sidebar-refined-widgets {
  padding: 0;
}

.page-sidebar.page-sidebar--vertical .sidebar-refined-widgets .sidebarBlock-heading {
  padding: 0;
  margin: 0;
  border: none;
}

.page-sidebar.page-sidebar--vertical .sidebar-refined-widgets .sidebarBlock-heading .facets__clear-all {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

.page-sidebar.page-sidebar--vertical .sidebar-refined-widgets .results-count {
  padding: 7px 0px 10px;
}

.page-sidebar.page-sidebar--vertical .sidebar-refined-widgets .results-count .results {
  font-size: 12px;
  color: #707070;
}

.page-sidebar.page-sidebar--horizontal .halo-sidebar-wrapper {
  max-height: 80vh;
}

.sidebar-toogle {
  display: block;
  width: 40px;
  height: 40px;
  padding: 9px;
  background-color: #f5f5f5;
  margin: 0 0 15px;
}

.sidebar-toogle svg {
  width: 100%;
  height: 100%;
  stroke: transparent;
  fill: #808080;
}

body.open-mobile-sidebar {
  overflow: hidden;
}

body.open-mobile-sidebar .page-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.open-mobile-sidebar .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 552px) {
  .halo-sidebar {
    max-width: 370px;
  }
  .page-sidebar {
    max-width: 300px;
  }
}

@media (min-width: 1025px) {
  .page-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    left: unset !important;
    right: unset !important;
    bottom: unset;
    height: auto;
    -webkit-transition: unset;
    transition: unset;
    -webkit-transform: unset !important;
            transform: unset !important;
    z-index: inherit;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 210px;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
    float: left;
  }
  .page-sidebar .halo-sidebar-wrapper {
    padding: 0;
    max-height: initial;
  }
  .page-sidebar .halo-sidebar-header {
    display: none;
  }
  .page-sidebar + .page-content {
    width: calc(100% - 210px);
    padding-left: 30px;
    float: left;
  }
  .page-sidebar.page-sidebar-right {
    float: right;
  }
  .page-sidebar.page-sidebar-right + .page-content {
    padding-left: 0;
    padding-right: 30px;
  }
  .sidebar-toogle {
    display: none;
    margin-bottom: 0;
  }
}

body.auth-sidebar-show {
  overflow: hidden;
}

body.auth-sidebar-show .halo-auth-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.auth-sidebar-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.auth-form {
  padding: 22px 20px;
}

.auth-form .form-field + .form-field {
  margin-top: 14px;
}

.auth-actions {
  margin: 15px 0 0;
}

.auth-actions .button {
  width: 100%;
}

.auth-actions .auth-link {
  font-size: 12px;
  margin: 14px 0 22px;
  color: #3c3c3c;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.auth-actions .auth-link:hover {
  color: #232323;
}

@media (min-width: 1025px) {
  .auth-form {
    padding-left: 30px;
    padding-right: 30px;
  }
  body.auth-sidebar-show {
    padding-right: 10px;
  }
}

body.before-you-leave-show {
  overflow: hidden;
}

body.before-you-leave-show .halo-leave-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

body.before-you-leave-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-leave-sidebar .halo-sidebar-close {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 40px;
  font-size: 0;
  z-index: 10;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.halo-leave-sidebar .halo-sidebar-close svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #232323;
  stroke: transparent;
}

.halo-leave-sidebar .header-leave {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.halo-leave-sidebar .halo-sidebar-wrapper {
  background-color: #ffffff;
  max-height: 90vh;
  padding: 0;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner {
  position: relative;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner img {
  width: 100%;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content {
  padding: 20px 30px;
  color: #ffffff;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .button {
  width: 100%;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .title {
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .02em;
  color: #ffffff;
  margin: 0 0 12px;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .desc-1 {
  color: #ffffff;
  display: block;
  font-weight: 500;
  margin: 0 0 10px;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .desc-2 {
  color: #ffffff;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .heading-1 .text {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .heading-2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .02em;
  line-height: 22px;
  margin: 15px 0 13px;
}

.halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .button {
  border-color: #ffffff;
}

.halo-leave-sidebar .halo-sidebar-wrapper .content-title {
  padding: 18px 20px 0px 30px;
  border-bottom: 1px solid #ebebeb;
  font-size: 0;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.halo-leave-sidebar .halo-sidebar-wrapper .content-title .title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 30px 0 0;
}

.halo-leave-sidebar .halo-sidebar-wrapper .content-title .text {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: .02em;
  color: #232323;
}

.halo-leave-sidebar .halo-sidebar-wrapper .content-title .count {
  position: absolute;
  top: 50%;
  right: 0;
  min-width: 24px;
  min-height: 24px;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: calc(12px - 3px);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .02em;
  background-color: #232323;
  color: #ffffff;
}

.halo-leave-sidebar .product-card {
  margin: 30px;
}

.halo-leave-sidebar .product-card .swatch.list-unstyled {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.halo-leave-sidebar .button-leave {
  text-align: center;
}

.halo-leave-sidebar .button-leave .button {
  width: calc(100% - 60px);
}

@media (max-width: 767px) {
  .halo-leave-sidebar.halo-leave-sidebar .halo-sidebar-close {
    right: auto !important;
    left: -41px !important;
    padding: 0 11px !important;
  }
}

@media (max-width: 410px) {
  .halo-leave-sidebar .product-card {
    margin: 15px;
  }
  .halo-leave-sidebar .header-leave {
    padding: 5px 0;
  }
  .halo-leave-sidebar .header-leave .img-box {
    height: 30px;
    width: auto;
  }
  .halo-leave-sidebar .header-leave .img-box img {
    width: 100%;
    height: 100%;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .title {
    font-size: 24px;
    line-height: 28px;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .desc-1 {
    margin: 0;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .heading-1 {
    margin-bottom: 0;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .heading-1 .text {
    font-size: 18px;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .desc-2 {
    line-height: 18px;
    margin: 14px 0;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .wrapper-banner .content .heading-2 {
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 4px;
  }
  .halo-leave-sidebar .halo-sidebar-wrapper .content-title {
    padding: 18px 20px 0px 15px;
  }
}

@media (min-width: 552px) {
  .halo-leave-sidebar {
    max-width: 420px;
  }
}

body.lang-currency-sidebar-show {
  overflow: hidden;
}

body.lang-currency-sidebar-show .halo-sidebar_language_currency {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.lang-currency-sidebar-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-sidebar_language_currency .halo-sidebar-header {
  padding: 0 !important;
}

.halo-sidebar_language_currency .halo-sidebar-header .halo-sidebar-close {
  top: 1px !important;
}

.halo-sidebar_language_currency .nav-currency-language .title {
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  color: #00163a;
  line-height: 22px;
  letter-spacing: .02em;
  padding: 10px 19px 22px;
  text-align: left;
  margin: 0;
  background: #f2f2f2;
  padding: 11px 20px 12px;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list,
.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px 20px 11px;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list {
  margin: 0;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item {
  width: 33.3333%;
  padding: 10px;
  margin: 0;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item .disclosure__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .icon svg {
  width: 100%;
  height: 100%;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  color: #00163a;
}

.halo-sidebar_language_currency .nav-currency-language .disclosure__list .disclosure__item .disclosure__link.disclosure__link--active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies .currency-item {
  width: 33.3333%;
  padding: 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies .currency-item .icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies .currency-item .icon svg {
  width: 100%;
  height: 100%;
}

.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies .currency-item .text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  color: #00163a;
}

.halo-sidebar_language_currency .nav-currency-language .wrapper-currencies .currency-item.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (min-width: 1025px) {
  body.lang-currency-sidebar-show {
    padding-right: 10px;
  }
}

body.menu-sidebar_show {
  overflow: hidden;
}

body.menu-sidebar_show .halo-sidebar_menu {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.menu-sidebar_show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-sidebar_menu .halo-sidebar-header {
  padding-left: 20px;
  padding-right: 20px;
}

.halo-sidebar_menu .halo-sidebar-header .halo-sidebar-close {
  right: 5px;
}

.halo-sidebar_menu .site-nav-mobile.nav .list-menu {
  width: 100%;
}

.halo-sidebar_menu .site-nav-mobile.nav .list-menu .menu-lv-item {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  position: relative;
}

.halo-sidebar_menu .site-nav-mobile.nav .list-menu .menu-lv-item:last-child {
  border: none;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item {
  width: 100%;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #232323;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action span {
  margin-left: 10px;
  position: relative;
  z-index: -1;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action.menu-lv__flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .custom-icon {
  display: inline-block;
  vertical-align: middle;
  top: unset;
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .custom-icon.style-circle {
  border-radius: 50%;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .custom-icon img {
  width: 100%;
  height: 100%;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-2__action,
.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-3__action {
  display: block;
  padding: 11px 30px 12px;
  width: 100%;
  font-weight: 400;
  letter-spacing: .02em;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .icon-dropdown {
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  text-align: center;
  display: inline-block;
  position: absolute;
  -webkit-transform: none;
          transform: none;
  z-index: -1;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .icon-dropdown svg {
  left: 50%;
  right: inherit;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke: transparent;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .menu-lv__dropdownmenu .menu-lv__list .nav-title-mobile {
  margin: 0;
  background: #f8f8f8;
  padding: 11px 20px 12px;
  cursor: pointer;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .menu-lv__dropdownmenu .menu-lv__list .nav-title-mobile span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #232323;
  line-height: 22px;
  letter-spacing: .02em;
  padding: 0;
  z-index: 1;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .menu-lv__dropdownmenu .menu-lv__list .nav-title-mobile .icon-dropdown {
  right: inherit;
  left: 6px;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.dropdown .menu-lv__dropdownmenu .menu-lv__list .nav-title-mobile svg {
  width: 25px;
  height: 25px;
  -webkit-transform: none;
          transform: none;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.is-open > .menu-dropdown {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
  position: relative;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.is-open > .list-menu__item {
  display: none !important;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item.is-hidden {
  display: none !important;
  border-bottom: none;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0;
  height: 100%;
  z-index: 101;
  max-width: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, transform 350ms ease, visibility 350ms ease, -webkit-transform 350ms ease;
  background-color: #ffffff;
  left: 0;
  -webkit-transform: translate(-101%);
          transform: translate(-101%);
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv__dropdownmenu-3 {
  right: unset;
  top: unset;
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  height: auto;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv__dropdownmenu-3 .grid-menu {
  padding: 5px 25px 20px;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv__dropdownmenu-3 .grid-menu .menu-lv-item {
  display: inline-block;
  vertical-align: top;
  width: 33.33333% !important;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  border-bottom: none !important;
  overflow: unset !important;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv__dropdownmenu-3 .grid-menu .menu-lv-item .menu-lv-3__action {
  padding: 0;
}

.halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv__dropdownmenu-3 .grid-menu .custom-image + .text {
  display: block;
  margin-top: 5px;
}

.halo-sidebar_menu .nav-currency-language .title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #232323;
  line-height: 22px;
  letter-spacing: .02em;
  padding: 10px 19px 22px;
  text-align: left;
  margin: 0;
  background: #f8f8f8;
  padding: 11px 20px 12px;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list,
.halo-sidebar_menu .nav-currency-language .wrapper-currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px 20px 11px;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list {
  margin: 0;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item {
  width: 33.3333%;
  padding: 10px;
  margin: 0;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .icon svg {
  width: 100%;
  height: 100%;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  color: #232323;
}

.halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link.disclosure__link--active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item {
  width: 33.3333%;
  padding: 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .icon svg {
  width: 100%;
  height: 100%;
}

.halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .text {
  font-family: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  color: #232323;
}

.halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (min-width: 768px) {
  .site-nav-mobile.nav {
    margin-top: 20px;
  }
}

@media (min-width: 1025px) {
  body.menu-sidebar_show {
    padding-right: 10px;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

body.cart-sidebar-show {
  overflow: hidden;
}

body.cart-sidebar-show .halo-cart-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.cart-sidebar-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-cart-sidebar .halo-sidebar-header {
  padding: 24px 20px 0;
  border: none;
}

.halo-cart-sidebar .halo-sidebar-wrapper {
  overflow-x: inherit;
  overflow-y: inherit;
}

.halo-cart-sidebar .halo-sidebar-wrapper .CartItemDrop {
  overflow-x: inherit;
  overflow-y: inherit;
}

.previewCart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.wrapper-cartCount {
  color: #727272;
  margin-top: 7px;
  margin-bottom: 13px;
}

.haloCalculatorShipping {
  position: relative;
  margin: 0 0 12px;
  min-height: 26px;
  padding: 0 20px;
}

.haloCalculatorShipping .progress {
  position: relative;
  margin: 0 0 10px;
  font-size: 0;
  letter-spacing: 0;
  border-radius: 0;
  background: transparent;
  display: block;
  height: auto;
}

.haloCalculatorShipping .progress.progress.progress-100 .progress_shipping {
  background: #ededed;
}

.haloCalculatorShipping .progress.progress.progress-100 .progress-meter {
  background-color: #ffc206;
}

.haloCalculatorShipping .progress .progress-meter {
  -webkit-animation: 2s linear 0s infinite progress-bar-stripes;
          animation: 2s linear 0s infinite progress-bar-stripes;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-transition: .9s linear;
  transition: .9s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.haloCalculatorShipping .progress .progress_shipping {
  height: 16px;
  border: 0;
}

.haloCalculatorShipping .message {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: #727272;
  letter-spacing: .02em;
}

.haloCalculatorShipping .message .money {
  margin-right: 3px;
}

.previewCartInfo {
  position: relative;
  padding: 5px 30px 125px;
}

.previewCartInfo .previewCartTotals {
  display: block;
  font-size: 0;
  letter-spacing: 0;
  padding-top: 18px;
  padding-bottom: 14px;
}

.previewCartInfo .item {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #232323;
}

.previewCartInfo .previewCartTotals-label,
.previewCartInfo .previewCartShipping-label {
  width: 115px;
  text-align: left;
}

.previewCartInfo .previewCartTotals-value,
.previewCartInfo .previewCartShipping-text {
  width: calc(100% - 120px);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
}

.previewCartInfo .previewCartShipping {
  padding-bottom: 33px;
}

.previewCart {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 20px 0 30px;
}

.halo-cart-sidebar .previewCartItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0;
  letter-spacing: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.halo-cart-sidebar .previewCartItem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.halo-cart-sidebar .previewCartItem + .previewCartItem {
  border-top: 0;
  margin-top: 23px;
}

.halo-cart-sidebar .previewCartItem-image {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  text-align: center;
  position: relative;
  top: 6px;
}

.halo-cart-sidebar .previewCartItem-content {
  width: calc(100% - 80px);
  padding: 0 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.halo-cart-sidebar .previewCartItem-name {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .02em;
  color: #232323;
  text-transform: capitalize;
  margin: 0 0 8px;
}

.halo-cart-sidebar .previewCartItem-options {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 30px 0 0;
  margin: 0 0 7px;
}

.halo-cart-sidebar .previewCartItem-options span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  text-transform: capitalize;
  letter-spacing: .02em;
  line-height: 22px;
}

.halo-cart-sidebar .previewCartItem-edit {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.halo-cart-sidebar .previewCartItem-edit svg {
  width: 16px;
  height: 16px;
  fill: #5a5a5a;
  position: relative;
  top: -2px;
}

.halo-cart-sidebar .previewCartItem-price {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  color: #232323;
}

.halo-cart-sidebar .previewCartItem-remove {
  position: absolute;
  right: 8px;
  top: 50%;
}

.halo-cart-sidebar .previewCartItem-remove svg {
  fill: #5a5a5a;
  width: 18px;
  height: 18px;
  stroke: transparent;
}

.previewCartCheckbox input[type=checkbox] + label {
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-size: 12px;
  padding-left: 25px;
  line-height: 20px;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: unset;
}

.previewCartCheckbox input[type=checkbox] ~ a {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
  color: #3c3c3c;
  margin: 0 0 0 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(97%, transparent), color-stop(3%, #3c3c3c));
  background-image: linear-gradient(transparent 97%, #3c3c3c 3%);
  background-repeat: repeat-x;
  background-position-y: -2px;
}

.previewCartCheckbox input[type=checkbox] ~ a:hover {
  color: #232323;
}

.previewCartGroup {
  margin: 12px 0 0;
}

.previewCartGroup .button {
  width: 100%;
}

.previewCartGroup .button + .button {
  margin-top: 15px;
}

.previewCartCollection {
  padding: 35px 0 7px;
  position: relative;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.previewCartCollection .previewCartTitle {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  letter-spacing: .02em;
  text-transform: unset;
  position: relative;
  margin: 0 0 22px;
}

.previewCartCollection .halo-product-block {
  margin-top: 0;
  padding-bottom: 25px;
}

.previewCartCollection .halo-product-block .row {
  margin: 0 !important;
}

.previewCartCollection .halo-product-block .row > * {
  padding: 0px;
}

.previewCartCollection .halo-product-block .row .slick-arrow {
  top: -54px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.previewCartCollection .halo-product-block .row .slick-arrow.slick-prev {
  left: auto;
  right: 55px;
}

@media (min-width: 552px) {
  .halo-sidebar.halo-cart-sidebar {
    max-width: 420px;
  }
}

@media (min-width: 1025px) {
  .haloCalculatorShipping {
    padding: 0 30px;
  }
  body.cart-sidebar-show {
    padding-right: 10px;
  }
}

@media (min-width: 1600px) {
  .previewCartCollection .halo-product-block .row .slick-arrow.slick-prev {
    right: 43px;
  }
}

body.search_sidebar-show {
  overflow: hidden;
}

body.search_sidebar-show .halo-sidebar_search {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.search_sidebar-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-sidebar_search .header-search {
  max-width: 100%;
}

.halo-sidebar_search .header-search .header-search__form {
  padding: 0px 20px;
}

.halo-sidebar_search .halo-sidebar-wrapper {
  overflow-x: inherit;
  overflow-y: inherit;
  padding: 25px 0px 40px;
  margin: 0;
}

.halo-sidebar_search .halo-sidebar-wrapper .search-bar .input-group-field {
  padding: 10px 12px 10px;
}

.halo-sidebar_search .halo-sidebar-wrapper .search-bar .icon-search {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.halo-sidebar_search .halo-sidebar-wrapper .search-bar .icon-search svg {
  width: 100%;
  height: 100%;
}

.halo-sidebar_search .halo-sidebar-wrapper .quickSearchResultsWrap {
  position: relative;
  top: 0;
  z-index: 1;
  opacity: 1;
  width: 100%;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 20px 0px;
  padding: 0px 20px;
  max-height: calc(100vh - 150px);
  visibility: visible;
}

.halo-sidebar_search .halo-sidebar-wrapper .quickSearchResultsWrap .halo-product-block .halo-row--swipe {
  overflow: auto;
  white-space: nowrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: -10px;
  margin-right: -10px;
}

.halo-sidebar_search .halo-sidebar-wrapper .quickSearchResultsWrap .halo-product-block .halo-row--swipe > * {
  padding: 0px 10px;
}

.halo-sidebar_search .halo-sidebar-wrapper .quickSearchResultsWrap .halo-product-block .product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 220px;
}

@media (min-width: 1025px) {
  body.search_sidebar-show {
    padding-right: 10px;
  }
}

body.edit-cart-show {
  overflow: hidden;
}

body.edit-cart-show .halo-edit-option-sidebar {
  -webkit-transform: translate(-500px);
          transform: translate(-500px);
  opacity: 1;
  visibility: visible;
}

body.edit-cart-show .background-overlay-popup {
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
}

.halo-edit-option-sidebar {
  background: #f5f5f5;
  z-index: 100;
}

.halo-edit-option-sidebar .halo-sidebar-header {
  background: #f5f5f5;
}

.halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 40px;
  height: 40px;
  font-size: 0;
  z-index: 10;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  pointer-events: auto;
  background-color: transparent;
}

.halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: #5a5a5a;
  stroke: transparent;
}

.halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close:hover {
  background: #ef6454;
}

.halo-edit-option-sidebar .halo-sidebar-wrapper {
  padding: 41px 30px 70px;
}

.halo-edit-option-sidebar .product-edit-itemTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 33px;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemImage {
  width: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation {
  width: calc(100% - 120px);
  padding-left: 20px;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation .product-edit-title {
  font-size: 16px;
  letter-spacing: -.02em;
  color: #202020;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation .product-edit-title-variant {
  display: block;
  font-size: 14px;
  letter-spacing: -.02em;
  color: #505050;
  padding: 5px 0px 8px;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.halo-edit-option-sidebar .product-edit-itemTop .product-edit-itemInfomation .card-price .price-item .money {
  font-weight: 700;
  font-size: 16px;
  color: #202020;
}

.halo-edit-option-sidebar .product-edit-itemButtom .productView-variants .product-form__input {
  padding-bottom: 22px;
}

.halo-edit-option-sidebar .halo-product-block {
  padding: 0;
}

.halo-edit-option-sidebar .product-edit-action .add-more {
  display: block;
  padding: 20px 0 36px;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  color: #0a6cdc;
  position: relative;
  font-weight: 500;
  line-height: 1;
}

.halo-edit-option-sidebar .product-edit-action .add-more .text {
  position: relative;
  margin-left: 18px;
}

.halo-edit-option-sidebar .product-edit-action .add-more .text::before {
  top: 50%;
  content: "";
  width: 10px;
  height: 1px;
  line-height: 22px;
  left: -18px;
  display: block;
  position: absolute;
  background-color: #0a6cdc;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.halo-edit-option-sidebar .product-edit-action .add-more .text::after {
  top: 50%;
  content: "";
  width: 1px;
  height: 10px;
  line-height: 22px;
  left: -13.5px;
  display: block;
  position: absolute;
  background-color: #0a6cdc;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.halo-edit-option-sidebar .product-edit-action .button {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1024px) {
  body.edit-cart-show .halo-edit-option-sidebar {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }
  body.edit-cart-show .background-overlay-popup {
    z-index: 110;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
  }
}

@media (min-width: 552px) {
  .halo-edit-option-sidebar {
    max-width: 420px;
  }
}

@media (min-width: 1025px) {
  body.edit-cart-show {
    padding-right: 10px;
  }
  .halo-sidebar.halo-edit-option-sidebar {
    max-width: 500px;
  }
  .halo-sidebar.halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close {
    top: 29px;
    right: 40px;
    background: #7f7f7f;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 7px;
  }
  .halo-sidebar.halo-edit-option-sidebar .halo-sidebar-header .halo-popup-close svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
  }
  .halo-sidebar.halo-edit-option-sidebar .halo-sidebar-wrapper {
    padding: 41px 40px 70px;
  }
}

body.pickup-sidebar-show {
  overflow: hidden;
}

body.pickup-sidebar-show .halo-local-pick-up-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

body.pickup-sidebar-show .background-overlay {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.halo-local-pick-up-sidebar .halo-sidebar-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.halo-local-pick-up-sidebar .halo-sidebar-header {
  border: none;
}

.halo-local-pick-up-sidebar .pickup-product-info {
  padding-top: 30px;
  padding-bottom: 18px;
}

.halo-local-pick-up-sidebar .pickup-product-info .pickup-product-title {
  font-size: 16px;
  font-weight: 600;
  color: #232323;
  line-height: 24px;
  padding-bottom: 10px;
  margin: 0;
}

.halo-local-pick-up-sidebar .pickup-product-info .pickup-product-variant span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #323232;
  text-transform: capitalize;
  letter-spacing: .02em;
  line-height: 22px;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item {
  padding: 22px 0px 10px;
  border-top: 1px solid #e5e5e5;
  margin: 0;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item .pickup-heading {
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  color: #232323;
  margin: 0;
  padding-bottom: 6px;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item .pickup-preview {
  padding-bottom: 10px;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item .pickup-preview .icon {
  position: relative;
  top: -1px;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item .pickup-preview .icon svg {
  margin-right: 6px;
  width: 17px;
  height: 17px;
  fill: #108043;
}

.halo-local-pick-up-sidebar .pickup-list .pickup-list-item .pickup-address {
  line-height: 24px;
}

@media (min-width: 552px) {
  .halo-local-pick-up-sidebar {
    max-width: 410px;
  }
}

@media (min-width: 1025px) {
  body.pickup-sidebar-show {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=sidebar.css.map */