@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.collection-template {
  padding-bottom: 50px;
}

.collection-wrapper {
  margin-bottom: 50px;
}

.collection-wrapper .breadcrumb {
  padding: 20px 0px 27px;
}

.collection {
  margin-bottom: 80px;
}

.collection .products-grid .product-card .card-grid-hide {
  display: none;
}

.collection-header,
.page-header {
  padding-bottom: 17px;
}

.collection-header .collection-title,
.page-header .collection-title {
  font-size: 20px;
  letter-spacing: .05em;
  color: #232323;
  margin: 33px 0px 0px;
}

.collection-header .desc,
.page-header .desc {
  font-size: 12px;
  color: #3c3c3c;
  margin-top: 15px;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 30px 0;
  border-top: 1px solid #dedede;
}

.toolbar .toolbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .toolbar-wrapper:not(.toolbar-mobile) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .toolbar-wrapper.toolbar-mobile {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.toolbar .toolbar-wrapper:not(.toolbar-mobile) + .toolbar-mobile {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toolbar .toolbar-wrapper .toolbar-colLeft,
.toolbar .toolbar-wrapper .toolbar-colRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .toolbar-col {
  font-size: 0;
  letter-spacing: 0;
}

.toolbar .toolbar-label {
  display: none;
}

.toolbar .toolbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  position: relative;
  z-index: 9;
  font-size: 0;
  letter-spacing: 0;
}

.toolbar .toolbar-item .icon-mode {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  padding: 3px;
  border: 1px solid #dfdfdf;
}

.toolbar .toolbar-item .icon-mode:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #dfdfdf;
  width: 4px;
  height: 18px;
}

.toolbar .toolbar-item .icon-mode.icon-mode-list:before {
  width: 18px;
  height: 4px;
  -webkit-box-shadow: 0 7px 0 #dfdfdf,0 14px 0 #dfdfdf;
          box-shadow: 0 7px 0 #dfdfdf,0 14px 0 #dfdfdf;
}

.toolbar .toolbar-item .icon-mode + .icon-mode {
  margin-left: 5px;
}

.toolbar .toolbar-item .icon-mode.grid-2 {
  width: 19px;
}

.toolbar .toolbar-item .icon-mode.grid-2:before {
  -webkit-box-shadow: 7px 0 0 #dfdfdf;
          box-shadow: 7px 0 0 #dfdfdf;
}

.toolbar .toolbar-item .icon-mode.grid-3:before {
  -webkit-box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf;
          box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf;
}

.toolbar .toolbar-item .icon-mode.grid-4 {
  width: 33px;
}

.toolbar .toolbar-item .icon-mode.grid-4:before {
  -webkit-box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf,21px 0 0 #dfdfdf;
          box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf,21px 0 0 #dfdfdf;
}

.toolbar .toolbar-item .icon-mode.grid-5 {
  width: 40px;
}

.toolbar .toolbar-item .icon-mode.grid-5:before {
  -webkit-box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf,21px 0 0 #dfdfdf, 28px 0 0 #dfdfdf;
          box-shadow: 7px 0 0 #dfdfdf,14px 0 0 #dfdfdf,21px 0 0 #dfdfdf, 28px 0 0 #dfdfdf;
}

.toolbar .toolbar-item .icon-mode.active {
  border-color: #323232;
}

.toolbar .toolbar-item .icon-mode.active:before {
  background: #323232;
}

.toolbar .toolbar-item .icon-mode.active.icon-mode-list:before {
  -webkit-box-shadow: 0 7px 0 #323232,0 14px 0 #323232;
          box-shadow: 0 7px 0 #323232,0 14px 0 #323232;
}

.toolbar .toolbar-item .icon-mode.active.grid-2 {
  width: 19px;
}

.toolbar .toolbar-item .icon-mode.active.grid-2:before {
  -webkit-box-shadow: 7px 0 0 #323232;
          box-shadow: 7px 0 0 #323232;
}

.toolbar .toolbar-item .icon-mode.active.grid-3:before {
  -webkit-box-shadow: 7px 0 0 #323232,14px 0 0 #323232;
          box-shadow: 7px 0 0 #323232,14px 0 0 #323232;
}

.toolbar .toolbar-item .icon-mode.active.grid-4 {
  width: 33px;
}

.toolbar .toolbar-item .icon-mode.active.grid-4:before {
  -webkit-box-shadow: 7px 0 0 #323232,14px 0 0 #323232,21px 0 0 #323232;
          box-shadow: 7px 0 0 #323232,14px 0 0 #323232,21px 0 0 #323232;
}

.toolbar .toolbar-item .icon-mode.active.grid-5 {
  width: 40px;
}

.toolbar .toolbar-item .icon-mode.active.grid-5:before {
  -webkit-box-shadow: 7px 0 0 #323232,14px 0 0 #323232,21px 0 0 #323232, 28px 0 0 #323232;
          box-shadow: 7px 0 0 #323232,14px 0 0 #323232,21px 0 0 #323232, 28px 0 0 #323232;
}

.toolbar .toolbar-item.sidebar-toogle {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background: #ffffff;
}

.toolbar .toolbar-icon {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  padding: 3px;
  border: 1px solid #323232;
}

.toolbar .toolbar-icon .icon {
  width: 100%;
  height: 100%;
  fill: #323232;
}

.toolbar .toolbar-dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.toolbar .toolbar-dropdown.limited-view {
  display: none;
}

.toolbar .toolbar-dropdown .label-tab {
  background-color: #ffffff;
  border: 1px solid #dadada;
  padding: 7px 38px 7px 20px;
  min-height: 45px;
  width: 100%;
  min-width: 89px;
  max-width: 149px;
  cursor: pointer;
  position: relative;
  line-height: 29px;
}

.toolbar .toolbar-dropdown .label-tab::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.toolbar .toolbar-dropdown .label-text {
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #3c3c3c;
}

.toolbar .toolbar-dropdown .icon-dropdown {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.toolbar .toolbar-dropdown .icon-dropdown svg {
  fill: #3c3c3c;
  color: #3c3c3c;
  width: 10px;
  height: 10px;
}

.toolbar .toolbar-dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% - 5px);
  left: auto;
  right: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  letter-spacing: 0;
  background-color: #ffffff;
  z-index: 9;
  width: 100%;
  min-width: 90px;
  padding: 13px 13px 13px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: initial;
  border-radius: 0px;
  border: none;
}

.toolbar .toolbar-dropdown .dropdown-menu li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

.toolbar .toolbar-dropdown .dropdown-menu li .text {
  display: block;
  padding: 7px 0 0;
  font-weight: 400;
  color: #232323;
  font-size: 12px;
  cursor: pointer;
}

.toolbar .toolbar-dropdown .dropdown-menu li.is-active .text {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.toolbar .toolbar-dropdown .dropdown-menu.is-open {
  top: calc(100% + 5px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.toolbar .toolbar-sort .dropdown-menu {
  min-width: 180px;
}

.productListing .product-item {
  padding-bottom: 20px;
}

.pagination-page-total {
  color: #707070;
  letter-spacing: .02em;
  margin: 25px 0px 20px;
}

.pagination-page-total .pagination-total-progress {
  max-width: 190px;
  height: 3px;
  background-color: #e6e6e6;
  text-align: left;
  margin: 7px auto 0;
  display: block;
}

.pagination-page-total .pagination-total-progress .pagination-total-item {
  width: 0;
  height: 100%;
  background-color: #4b6cc0;
  display: block;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.infinite-scrolling .button {
  width: 100%;
  max-width: 290px;
}

.halo-product-block {
  clear: both;
}

.halo-product-block .category-product-header {
  border-top: 1px solid #e6e6e6;
  padding: 30px 0px 12px;
}

.halo-product-block .category-product-header .title {
  font-size: 18px;
  letter-spacing: .02em;
  font-weight: 600;
  color: #232323;
}

.products-list .product-card .product-card-bottom .product-card-information {
  text-align: left !important;
}

.products-list .product-card .product-card-bottom .product-card-information .card-vendor {
  font-weight: 500;
}

.products-list .product-card .product-card-bottom .product-card-information .card-title {
  font-weight: 500;
  font-size: 14px;
  margin-top: 3px;
}

.products-list .product-card .product-card-bottom .product-card-information .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.products-list .product-card .product-card-bottom .card-swatch {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left !important;
}

.products-list .product-card .product-card-bottom .card-summary {
  margin: 10px 0px 12px;
  color: #3c3c3c;
}

.products-list .product-card .card-swatch .item {
  margin: 0 5px;
}

.products-list .product-card .card-action {
  display: none;
}

.products-list .product-card .card-action.card-action-list {
  display: block;
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  bottom: 0;
  max-width: 210px;
}

.products-list .grid-item {
  margin-bottom: 30px;
}

.products-list .grid-item + .grid-item .product-card {
  padding-top: 30px;
  border-top: 1px solid #dedede;
}

.collection-template-right-sidebar .collection {
  margin-bottom: 60px;
}

.collection-template-right-sidebar .page-header {
  border-bottom: 1px solid #dedede;
}

.collection-template-right-sidebar .toolbar {
  border: none;
}

.collection-template-right-sidebar .halo-product-block {
  margin-top: 35px;
}

.collection-template-masonry {
  padding-bottom: 50px;
}

.collection-template-masonry .collection {
  margin-bottom: 60px;
}

.collection-template-masonry .product-collection .grid-item-masonry {
  margin-bottom: 20px;
}

.collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown {
  position: absolute;
  z-index: 9;
  bottom: 26px;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown .num {
  color: #ffffff;
  border-color: transparent;
  background-color: rgba(50, 50, 50, 0.9);
  font-size: 16px;
  font-weight: 400;
  padding: 5px 6px 5px;
  min-width: 50px;
  margin-bottom: 4px;
}

.collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown .num span {
  color: #ffffff;
  letter-spacing: .02em;
  font-size: 10px;
}

.collection-template-masonry .pagination-page-total {
  margin: 4px 0px 20px;
}

.collection-template-masonry .halo-product-block {
  margin-top: 35px;
}

.halo-custom-banner {
  clear: both;
}

.halo-custom-banner .halo-row-item .sub-banner-title {
  font-size: 12px;
  letter-spacing: .02em;
  color: #232323;
  font-weight: 400;
  margin: 0px 0px 19px;
}

.halo-custom-banner .halo-row-item .banner-title {
  font-size: 30px;
  letter-spacing: .05em;
  margin-bottom: 14px;
}

.halo-custom-banner .halo-row-item .line {
  width: 40px;
  height: 2px;
  display: block;
  background: #232323;
  border: 1px solid #232323;
  text-align: center;
  margin: 0 auto 19px;
}

.halo-custom-banner .halo-row-item .desc {
  font-size: 12px;
  letter-spacing: .02em;
  color: #3c3c3c;
  line-height: 22px;
  margin: 0 auto 33px;
  max-width: 450px;
}

.halo-custom-banner .halo-row-item .button {
  width: 100%;
  max-width: 237px;
}

.halo-custom-banner.style-2 .wrapper-content {
  border: 1px solid #646464;
  width: 100%;
  height: 100%;
  position: relative;
}

.halo-custom-banner.style-2 .halo-row-item .banner-title {
  font-size: 30px;
  margin-bottom: 18px;
}

.halo-custom-banner.style-2 .halo-row-item .desc {
  max-width: 350px;
  margin: 0 auto 28px;
}

.halo-custom-banner.style-2 .halo-row-item .button {
  max-width: 187px;
}

@media (max-width: 1024px) {
  .toolbar {
    border: none;
  }
  .toolbar .toolbar-wrapper .toolbar-colLeft {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .toolbar .toolbar-item .icon-mode.grid-5 {
    display: none;
  }
  .toolbar.toolbar-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background: #ffffff;
    z-index: 9;
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    border-bottom: 1px solid #dedede;
  }
  .collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown {
    bottom: 60px;
  }
}

@media (max-width: 768px) {
  .toolbar .toolbar-item .icon-mode.grid-4, .toolbar .toolbar-item .icon-mode.grid-5 {
    display: none;
  }
}

@media (max-width: 767px) {
  .toolbar .toolbar-item .icon-mode.grid-3, .toolbar .toolbar-item .icon-mode.grid-4, .toolbar .toolbar-item .icon-mode.grid-5 {
    display: none;
  }
  .halo-custom-banner .halo-row-item {
    margin-bottom: 15px;
  }
}

@media (max-width: 551px) {
  .collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown .num {
    color: #232323;
    border-color: transparent;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    min-width: 34px;
    font-weight: 600;
  }
  .collection-template-masonry .product-collection .grid-item-masonry .product-card .productView-countDown .num span {
    color: #232323;
    font-weight: 500;
  }
}

@media (min-width: 551px) {
  .toolbar .toolbar-dropdown.limited-view {
    display: inline-block;
  }
  .toolbar .toolbar-sort {
    margin-left: 28px;
  }
  .products-list .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 0;
    letter-spacing: 0;
  }
  .products-list .product-card .product-card-top {
    width: 250px;
  }
  .products-list .product-card .product-card-bottom {
    width: calc(100% - 250px);
    padding-left: 30px;
    position: relative;
    top: -15px;
  }
  .products-list .product-card .card-swatch .item {
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  .products-list .product-card .product-card-top {
    width: calc(33.3333333% - 8px);
  }
  .products-list .product-card .product-card-bottom {
    width: calc(66.6666667% + 8px);
  }
}

@media (min-width: 992px) {
  .products-list .product-card .product-card-top {
    width: calc(25% - 8px);
  }
  .products-list .product-card .product-card-bottom {
    width: calc(75% + 8px);
  }
}

@media (min-width: 1025px) {
  .toolbar .toolbar-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #3c3c3c;
    font-size: 12px;
    letter-spacing: .02em;
  }
  .toolbar .toolbar-item {
    display: inline-block;
  }
  .toolbar .toolbar-sidebar {
    display: none;
  }
  .collection-template-right-sidebar .page-sidebar {
    margin-top: 42px;
  }
  .collection-template-right-sidebar .page-header .desc {
    max-width: 970px;
  }
  .halo-custom-banner .halo-row-item .banner-title {
    font-size: 40px;
  }
}
/*# sourceMappingURL=component-category.css.map */