.product-layout-left-vertical{
    padding: 0px 0px 50px;
    .breadcrumb{
        padding: 20px 0px 30px;
    }
    .halo-productView-right{
        .productView-title{
            margin: 0;
        }
        .productView-rating{
            .spr-badge-starrating{
                position: relative;
                top: 1px;
            }
        }
    }
    .halo-product-block{
        clear: both;
        .product-header{
            border-top: 1px solid #e6e6e6;
            padding: 30px 0px 12px;
            .title{
                font-size: 18px;
                letter-spacing: .02em;
                font-weight: 600;
                color: #232323;
            }
        }
    }
}

@media(min-width:1025px){
    .product-layout-left-vertical{
        .productView-information{
            .halo-productView-right{
                width:500px;
                padding-left: 60px;
                padding-top: 15px;
            }
            .halo-productView-left{
                width:calc(100% - 500px);
                    overflow: hidden;
                .productView-image{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .halo-product-block {
            margin-top: 50px;
        }
    } 

    .product-layout-left-vertical{
        .halo-productView-left{
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            .productView-images-wrapper{
                width: calc(100% - 80px);
                margin-left: 20px;
            }
            .productView-thumbnail-wrapper{
                display: inline-block;
                vertical-align: top;
                width: 80px;
                padding: 0px;
                order: -1;
                margin-top: 30px;
                .productView-for{
                    padding: 0px;
                }
                .productView-thumbnail{
                    padding:0px;
                }
                .slick-arrow{
                    background: transparent;
                    &.slick-prev{
                        top: -38px!important;
                        left: 50%!important;
                        transform: translate(-50%) rotate(90deg);
                    }
                    &.slick-next{
                        top: auto!important;
                        left: 50%;
                        right: auto;
                        bottom: -28px;
                        transform: translate(-50%) rotate(90deg);
                    }
                }
            }
        }
    } 
}