@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skin-4 {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .02em;
  color: #232323;
}

.skin-4 h1, .skin-4 h2, .skin-4 h3, .skin-4 h4, .skin-4 h5, .skin-4 .h0, .skin-4 .h1, .skin-4 .h2, .skin-4 .h3, .skin-4 .h4, .skin-4 .h5, .skin-4 .nav-link {
  font-family: 'Playfair Display', serif;
  letter-spacing: .02em;
}

.skin-4 input[type="text"], .skin-4 input[type="password"], .skin-4 input[type="datetime"], .skin-4 input[type="datetime-local"], .skin-4 input[type="date"], .skin-4 input[type="month"], .skin-4 input[type="time"], .skin-4 input[type="week"], .skin-4 input[type="number"], .skin-4 input[type="email"], .skin-4 input[type="url"], .skin-4 input[type="search"], .skin-4 input[type="tel"], .skin-4 input[type="color"] {
  padding: 13px 12px 13px;
  font-size: 16px;
}

.skin-4 .productView-title {
  font-family: 'Jost', sans-serif;
}

.skin-4 label,
.skin-4 .auth-actions .auth-link {
  font-size: 16px;
  text-underline-offset: 0.3rem;
}

.skin-4 .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .02em;
  color: #3c3c3c;
}

.skin-4 .button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .05em;
  padding: 13px 15px 13px;
  border-width: 2px;
}

.skin-4 .button.button-1 {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 0 0px #a1decd;
          box-shadow: 5px 5px 0 0px #a1decd;
}

.skin-4 .button.button-1:hover {
  background: #a1decd;
  border-color: #a1decd;
  color: #000000;
  -webkit-box-shadow: 5px 5px 0 0px #000000;
          box-shadow: 5px 5px 0 0px #000000;
}

.skin-4 .button.button-2 {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
  -webkit-box-shadow: 5px 5px 0 0px #000000;
          box-shadow: 5px 5px 0 0px #000000;
}

.skin-4 .button.button-2:hover {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 0 0px #a1decd;
          box-shadow: 5px 5px 0 0px #a1decd;
}

.skin-4 .button.button-3 {
  background: #a1decd;
  border-color: #a1decd;
  color: #000000;
}

.skin-4 .button.button-3:hover {
  background: #000000;
  border-color: #a1decd;
  color: #a1decd;
}

.skin-4 .link {
  font-size: 16px;
}

.skin-4 .slick-dots {
  position: absolute;
  bottom: -40px;
}

.skin-4 .slick-dots li button {
  border-color: #232323;
  background: #232323;
}

.skin-4 .slick-dots li.slick-active button {
  border-color: #232323;
  background: transparent;
}

.skin-4 .slick-arrow.slick-next svg, .skin-4 .slick-arrow.slick-prev svg {
  top: -7px;
}

.skin-4 .halo-block-header {
  margin-bottom: 30px;
}

.skin-4 .halo-block-header .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .02em;
  color: #000000;
}

.skin-4 .halo-block-header .title::before {
  display: none;
}

.skin-4 .product-card .card__badge .badge {
  font-size: 14px;
}

.skin-4 .product-card .card-icon .text {
  font-size: 14px;
  color: #232323;
}

.skin-4 .product-card .card-action {
  position: relative;
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.skin-4 .product-card .card-action .button {
  text-transform: capitalize;
}

.skin-4 .product-card .card-vendor {
  font-size: 16px;
  letter-spacing: .02em;
  font-weight: 700;
  color: #232323;
  margin-bottom: 6px;
}

.skin-4 .product-card .card-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .02em;
  color: #232323;
}

.skin-4 .product-card .card-swatch {
  margin: 15px 0px 5px;
}

.skin-4 .product-card .product-card-bottom {
  padding: 17px 0px 30px;
}

.skin-4 .product-card .card-price .price-item .money {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.skin-4 .halo-toolbar-bottom-mobile .icon--cart .cart-count-bubble {
  background-color: #232323 !important;
  color: #ffffff;
}

.skin-4 .halo-toolbar-bottom-mobile .halo-toolbar-item .label {
  font-size: 14px;
}

.skin-4 .halo-recently-viewed-popup .recently-viewed-tab .recently-viewed-title {
  font-family: 'Jost', sans-serif;
}

.skin-4 .halo-search-popup .header-search .search-bar .input-group-field {
  font-size: 16px;
}

.skin-4 .halo-search-popup .header-search .search-bar .icon-search {
  padding: 0;
}

.skin-4 .quickSearchResultsWrap .search-block-title {
  font-family: 'Jost', sans-serif;
  letter-spacing: .05em;
  font-style: normal;
}

.skin-4 .quickSearchResultsWrap .search-block-title .text {
  letter-spacing: .05em;
  color: #232323;
  font-style: normal;
  font-weight: 700;
}

.skin-4 .quickSearchResultsWrap .list-item .link {
  font-size: 16px;
}

.skin-4 .halo-sidebar_language_currency .nav-currency-language .title {
  color: #232323;
  font-style: normal;
  font-weight: 600;
  background: #dedede;
}

.skin-4 .halo-sidebar_language_currency .nav-currency-language .text {
  color: #232323 !important;
}

.skin-4 .previewCartCollection .previewCartTitle {
  font-family: 'Jost', sans-serif;
}

.skin-4 .haloCalculatorShipping .message {
  font-size: 16px;
}

.skin-4 .previewCartCheckbox input[type=checkbox] ~ a,
.skin-4 .previewCartCheckbox input[type=checkbox] + label {
  font-size: 16px;
}

.skin-4 .previewCartInfo .item {
  font-size: 16px;
}

.skin-4 .halo-cart-sidebar .previewCartItem-name,
.skin-4 .halo-cart-sidebar .previewCartItem-price {
  font-size: 16px;
}

.skin-4 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 14px;
}

.skin-4 .halo-cart-sidebar .previewCartItem-edit:hover svg {
  fill: #a1decd;
}

.skin-4 .haloCalculatorShipping .progress.progress .progress-meter {
  background-color: #a1decd;
}

.skin-4 .halo-popup .halo-popup-header .halo-popup-title {
  font-family: 'Jost', sans-serif;
}

.skin-4 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 16px;
  font-weight: 500;
}

.skin-4 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 14px;
}

.skin-4 .halo-edit-cart-popup .product-edit-itemCenter .price-item .money {
  font-size: 18px;
}

.skin-4 .halo-edit-cart-popup .add-more {
  font-size: 14px;
}

.skin-4 .halo-edit-cart-popup .product-edit-action {
  padding: 0px 30px 30px;
}

.skin-4 .productView-variants .form__label {
  font-size: 16px !important;
}

.skin-4 .productView-variants .form__label [data-header-option] {
  font-size: 16px !important;
}

.skin-4 .productView-variants .product-form__label .text {
  font-size: 14px;
  position: relative;
  top: 1px;
}

.skin-4 .halo-quickshop-popup .halo-productView-right .card-price .price-item .money {
  font-size: 18px;
}

.skin-4 .halo-newsletter-popup .newsletter-popup-title {
  font-size: 24px;
  margin: 0 0 20px;
}

.skin-4 .halo-newsletter-popup .newsletter-form__field-wrapper .field__input {
  padding-top: 13px;
  padding-bottom: 13px;
}

.skin-4 .halo-notification-popup .halo-popup-content .product-content {
  font-size: 16px;
}

.skin-4 .header-search .search-bar .input-group-field {
  font-size: 16px;
}

.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action {
  font-weight: 600;
  letter-spacing: .05em;
  font-size: 16px;
}

.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv__list .nav-title-mobile {
  background: #dedede !important;
  font-size: 16px;
}

.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv__list .nav-title-mobile .text,
.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv__list .nav-title-mobile .icon-dropdown {
  color: #232323 !important;
}

.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv__list .nav-title-mobile .text svg,
.skin-4 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv__list .nav-title-mobile .icon-dropdown svg {
  fill: #232323 !important;
}

.skin-4 .halo-sidebar_menu .nav-currency-language .title {
  background: #dedede;
  color: #232323;
}

.skin-4 .halo-sidebar_menu .disclosure__item .disclosure__link .text {
  font-size: 16px !important;
}

.skin-4 .previewCartItem-qty .btn-quantity {
  top: 2px;
}

.skin-4 .halo-quick-view-popup .productView-image img {
  width: 100%;
}

.skin-4 .halo-quick-view-popup .card-price .price-item .money {
  font-size: 18px;
}

.skin-4 .halo-quick-view-popup .productView-wishlist svg {
  position: relative;
  top: -2px;
}

.skin-4 .review-rating .spr-badge-caption {
  font-size: 16px;
}

.skin-4 .productView-soldProduct .text {
  font-size: 16px;
}

.skin-4 .productView-information .productView-more .text {
  font-size: 16px;
}

.skin-4 .productView-information .productView-subtotal .text {
  font-size: 16px;
}

.skin-4 .productView-information .previewCartAction .previewCartCheckbox {
  margin: 20px 0px 15px;
}

.skin-4 .card__badge .badge {
  font-size: 14px;
}

@media (min-width: 768px) {
  .skin-4 .halo-block-header {
    margin-bottom: 42px;
  }
}
/*# sourceMappingURL=skin-4.css.map */