@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skin-5 {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: .02em;
  color: #232323;
}

.skin-5 .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: .02em;
  color: #3c3c3c;
}

.skin-5 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  overflow: unset;
}

.skin-5 .button.button-border::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border: 1px solid #232323;
  z-index: -1;
}

.skin-5 .button.button-1 {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-5 .button.button-1:hover {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-5 .button.button-2 {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-5 .button.button-2:hover {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-5 input[type="text"], .skin-5 input[type="password"], .skin-5 input[type="datetime"], .skin-5 input[type="datetime-local"],
.skin-5 input[type="date"], .skin-5 input[type="month"], .skin-5 input[type="time"], .skin-5 input[type="week"], .skin-5 input[type="number"],
.skin-5 input[type="email"], .skin-5 input[type="url"], .skin-5 input[type="search"], .skin-5 input[type="tel"], .skin-5 input[type="color"],
.skin-5 label {
  font-size: 14px;
}

.skin-5 .halo-block-header .title .text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  color: #232323;
  line-height: 26px;
}

.skin-5 .halo-block-header .title::before {
  width: 0 !important;
}

.skin-5 .halo-block-header .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: #3c3c3c;
}

.skin-5 .product-card .card__badge {
  top: 0;
}

.skin-5 .product-card .card__badge .badge {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: center;
}

.skin-5 .product-card .card__badge .badge.new-badge, .skin-5 .product-card .card__badge .badge.sale-badge {
  width: 40px;
  height: 19px;
}

.skin-5 .product-card .card__badge .badge.new-badge {
  background-color: #ffffff;
  color: #232323;
}

.skin-5 .product-card .card__badge .badge.sale-badge {
  background-color: #e95144;
  color: #ffffff;
}

.skin-5 .product-card .card__badge .badge.bundle-badge {
  width: 56px;
  height: 19px;
  background-color: #232323;
  color: #ffffff;
}

.skin-5 .product-card .card__badge.badge-left {
  left: 1px;
  top: 1px;
}

.skin-5 .product-card .card-vendor {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
  color: #232323;
  margin-top: 5px;
  margin-bottom: 6px;
}

.skin-5 .product-card .card-vendor:hover .text {
  color: #8b714a;
}

.skin-5 .product-card .card-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #232323;
}

.skin-5 .product-card .card-title:hover {
  color: #8b714a;
}

.skin-5 .product-card .card-price .price-item {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.skin-5 .product-card .card-price .price-item .money {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.skin-5 .product-card .card-price .price-item.price-item--regular {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-5 .product-card .card-price .price-item.price__last {
  color: #e95144;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-5 .product-card .productView-rating .spr-icon.spr-icon-star::before {
  content: "★";
  color: #ffb20d;
}

.skin-5 .product-card .productView-rating .spr-icon.spr-icon-star-empty::before {
  content: "★";
  color: #e6e6e6;
}

.skin-5 .product-card .button {
  height: 45px;
}

.skin-5 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
}

.skin-5 .slick-arrow.slick-prev svg {
  top: -7px;
  right: 1px;
}

.skin-5 .slick-arrow.slick-next svg {
  top: -7px;
  left: 1px;
}

.skin-5 .halo-auth-sidebar.halo-sidebar .halo-sidebar-header .title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-5 .halo-auth-sidebar.halo-sidebar .form-label,
.skin-5 .halo-auth-sidebar.halo-sidebar .field__label {
  font-size: 16px;
}

.skin-5 .halo-auth-sidebar.halo-sidebar .form-input,
.skin-5 .halo-auth-sidebar.halo-sidebar .field__input {
  font-size: 14px;
}

.skin-5 .halo-auth-sidebar.halo-sidebar .button {
  font-size: 16px;
}

.skin-5 .halo-auth-sidebar.halo-sidebar .auth-actions .auth-link {
  font-size: 14px;
}

.skin-5 .halo-cart-sidebar .button {
  height: 50px;
}

.skin-5 .halo-cart-sidebar .slick-slider {
  position: static;
}

.skin-5 .halo-cart-sidebar .slick-dots {
  position: absolute;
  top: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skin-5 .halo-cart-sidebar .halo-sidebar-header .title {
  font-size: 20px;
  color: #232323;
  text-transform: capitalize;
}

.skin-5 .halo-cart-sidebar .previewCartItem-name {
  font-size: 16px;
  color: #232323;
}

.skin-5 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 16px;
  color: #3c3c3c;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
}

.skin-5 .halo-cart-sidebar .previewCartItem-edit {
  position: absolute;
  top: 12px;
}

.skin-5 .halo-cart-sidebar .previewCartItem-price {
  font-size: 16px;
}

.skin-5 .halo-cart-sidebar .previewCartItem-remove {
  top: 35%;
}

.skin-5 .halo-cart-sidebar .previewCartCollection .previewCartTitle {
  font-size: 20px;
  color: #232323;
}

.skin-5 .halo-cart-sidebar .previewCartInfo .item {
  font-size: 20px;
  color: #232323;
}

.skin-5 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] + label {
  font-size: 16px;
}

.skin-5 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 16px;
}

.skin-5 .halo-cart-sidebar .button {
  font-size: 16px;
}

.skin-5 .halo-sidebar_search .halo-sidebar-header .title {
  font-size: 20px;
}

.skin-5 .halo-sidebar_search .search-bar .input-group-field {
  font-size: 16px;
}

.skin-5 .halo-sidebar_search .quickSearchResultsWrap .search-block-title .text {
  font-size: 16px;
}

.skin-5 .halo-sidebar_search .quickSearchResultsWrap .list-item .item .link {
  font-size: 14px;
}

.skin-5 .halo-sidebar_menu .halo-sidebar-header .title {
  font-size: 20px;
}

.skin-5 .halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .icon svg {
  position: relative;
  top: -4px;
}

.skin-5 .halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .icon svg {
  position: relative;
  top: -2px;
}

.skin-5 .halo-toolbar-bottom-mobile .halo-toolbar-wrapper .halo-toolbar-item .icon--cart .cart-count-bubble {
  background-color: #000000;
  color: #ffffff;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .product-title {
  font-size: 18px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .card-price .price-item .money {
  font-size: 18px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .productView-variants .form__label {
  font-size: 16px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .productView-variants [data-header-option] {
  font-size: 14px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .productView-variants .product-form__label .text {
  font-size: 14px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .wrapper-action .btn-card-action .button {
  height: 50px;
}

.skin-5 .halo-quickshop-popup .halo-productView-right .productView-see-details .button {
  height: 50px;
}

.skin-5 .halo-quickshop-popup .previewCartItem-qty .quantity {
  height: 50px;
}

.skin-5 .halo-quickshop-popup .previewCartItem-qty .btn-quantity {
  height: 50px;
  top: 3px;
}

.skin-5 .halo-quickshop-popup .previewCartItem-qty .form-input,
.skin-5 .halo-quickshop-popup .previewCartItem-qty .field__input {
  font-size: 16px;
}

.skin-5 .halo-quickshop-popup .productView-notifyMe .form-label {
  font-size: 16px;
}

.skin-5 .halo-quickshop-popup .form-input,
.skin-5 .halo-quickshop-popup .field__input {
  font-size: 16px;
  height: 50px;
}

.skin-5 .halo-quickshop-popup .button {
  height: 50px;
}

.skin-5 .halo-quick-view-popup .productView-information .share-button__fallback .form-label {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-information .share-button__fallback .button {
  position: relative;
}

.skin-5 .halo-quick-view-popup .productView-information .share-button__fallback .button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.skin-5 .halo-quick-view-popup svg.icon.icon-wishlist {
  position: relative;
  top: -2px;
}

.skin-5 .halo-quick-view-popup .card__badge .badge.new-badge {
  background-color: #ffffff;
  color: #232323;
}

.skin-5 .halo-quick-view-popup .card__badge.badge-left {
  left: 1px !important;
  top: 1px;
}

.skin-5 .halo-quick-view-popup .productView-rating .spr-badge-caption,
.skin-5 .halo-quick-view-popup .productView-rating .spr-badge-caption {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-soldProduct .text {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-countDown .num {
  font-size: 16px !important;
}

.skin-5 .halo-quick-view-popup .productView-variants .form__label {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-information .quantity_selector .quantity__label {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-information .productView-subtotal .text {
  font-size: 18px;
}

.skin-5 .halo-quick-view-popup .productView-information .productView-subtotal .money {
  font-size: 18px;
}

.skin-5 .halo-quick-view-popup .productView-information .productView-perks .link .text {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-action .button {
  height: 50px;
}

.skin-5 .halo-quick-view-popup .productView-information .productView-more .text {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .previewCartCheckbox input[type=checkbox] + label {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .button-checkout {
  height: 50px;
}

.skin-5 .halo-quick-view-popup .productView-notifyMe .form-label {
  font-size: 16px;
}

.skin-5 .halo-quick-view-popup .form-input,
.skin-5 .halo-quick-view-popup .field__input {
  font-size: 16px;
  height: 50px;
}

.skin-5 .halo-quick-view-popup .button {
  height: 50px;
}

.skin-5 .halo-compare-color-popup .wrapper-content .halo-compareColors .halo-compareColors-text {
  font-size: 16px;
}

.skin-5 .halo-ask-an-expert-popup .halo-popup-header .halo-popup-title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-5 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading {
  font-size: 16px;
  text-transform: capitalize;
}

.skin-5 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .text {
  font-size: 16px;
}

.skin-5 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  font-size: 16px;
}

.skin-5 .halo-ask-an-expert-popup .form-input,
.skin-5 .halo-ask-an-expert-popup .field__input {
  font-size: 16px;
}

.skin-5 .halo-ask-an-expert-popup label {
  font-size: 16px;
}

.skin-5 .halo-ask-an-expert-popup .button {
  height: 50px;
}

.skin-5 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action {
  font-size: 16px;
}

.skin-5 .halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .text {
  font-size: 16px;
}

.skin-5 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-2__action,
.skin-5 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-3__action {
  font-size: 16px;
}

.skin-5 .halo-notification-popup .halo-popup-content .product-content {
  font-size: 16px;
}

.skin-5 .halo-accept-cookie-popup {
  height: auto;
}

.skin-5 .customPopup-small .halo-popup-header .halo-popup-title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-5 .customPopup-small .form-field .form-label {
  font-size: 16px;
}

.skin-5 .customPopup-small .form-input,
.skin-5 .customPopup-small .field__input {
  font-size: 16px;
  height: 50px;
}

.skin-5 .customPopup-small .button {
  height: 50px;
}

.skin-5 .halo-edit-cart-popup .cart-edit {
  padding: 0 30px;
}

.skin-5 .halo-edit-cart-popup .halo-popup-header .halo-popup-title {
  font-size: 20px;
}

.skin-5 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .card-price .price-item .money {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .product-quantity .form__label {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .productView-variants .form__label {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .add-more {
  font-size: 16px;
}

.skin-5 .halo-edit-cart-popup .add-more .text::before {
  width: 14px;
}

.skin-5 .halo-edit-cart-popup .add-more .text::after {
  height: 14px;
  left: 6px;
}

.skin-5 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .no-products .text {
  font-size: 11px !important;
}

.skin-5 .halo-recently-viewed-popup .recently-viewed-tab .list-social-2 .list-social__info a {
  font-size: 12px;
}

@media (max-width: 1400px) {
  .skin-5 .container-full .row {
    margin: 0 10px;
  }
  .skin-5 .product-card .card-action {
    padding-top: 10px;
    background: #ffffff;
  }
}

@media (min-width: 1025px) {
  .skin-5 .product-card .card-action {
    padding-top: 10px;
    background: #ffffff;
  }
}
/*# sourceMappingURL=skin-5.css.map */