@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skin-9 {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  padding-bottom: 70px;
  color: #000000;
}

.skin-9 .desc,
.skin-9 .link {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.skin-9 a,
.skin-9 label {
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
}

.skin-9 input[type="text"], .skin-9 input[type="password"], .skin-9 input[type="datetime"], .skin-9 input[type="datetime-local"],
.skin-9 input[type="date"], .skin-9 input[type="month"], .skin-9 input[type="time"], .skin-9 input[type="week"], .skin-9 input[type="number"],
.skin-9 input[type="email"], .skin-9 input[type="url"], .skin-9 input[type="search"], .skin-9 input[type="tel"], .skin-9 input[type="color"] {
  padding: 13px 15px 13px;
  border-radius: 3px;
  font-size: 15px;
}

.skin-9 input[type="text"]::-webkit-input-placeholder, .skin-9 input[type="password"]::-webkit-input-placeholder, .skin-9 input[type="datetime"]::-webkit-input-placeholder, .skin-9 input[type="datetime-local"]::-webkit-input-placeholder,
.skin-9 input[type="date"]::-webkit-input-placeholder, .skin-9 input[type="month"]::-webkit-input-placeholder, .skin-9 input[type="time"]::-webkit-input-placeholder, .skin-9 input[type="week"]::-webkit-input-placeholder, .skin-9 input[type="number"]::-webkit-input-placeholder,
.skin-9 input[type="email"]::-webkit-input-placeholder, .skin-9 input[type="url"]::-webkit-input-placeholder, .skin-9 input[type="search"]::-webkit-input-placeholder, .skin-9 input[type="tel"]::-webkit-input-placeholder, .skin-9 input[type="color"]::-webkit-input-placeholder {
  color: #464646;
}

.skin-9 input[type="text"]:-ms-input-placeholder, .skin-9 input[type="password"]:-ms-input-placeholder, .skin-9 input[type="datetime"]:-ms-input-placeholder, .skin-9 input[type="datetime-local"]:-ms-input-placeholder,
.skin-9 input[type="date"]:-ms-input-placeholder, .skin-9 input[type="month"]:-ms-input-placeholder, .skin-9 input[type="time"]:-ms-input-placeholder, .skin-9 input[type="week"]:-ms-input-placeholder, .skin-9 input[type="number"]:-ms-input-placeholder,
.skin-9 input[type="email"]:-ms-input-placeholder, .skin-9 input[type="url"]:-ms-input-placeholder, .skin-9 input[type="search"]:-ms-input-placeholder, .skin-9 input[type="tel"]:-ms-input-placeholder, .skin-9 input[type="color"]:-ms-input-placeholder {
  color: #464646;
}

.skin-9 input[type="text"]::-ms-input-placeholder, .skin-9 input[type="password"]::-ms-input-placeholder, .skin-9 input[type="datetime"]::-ms-input-placeholder, .skin-9 input[type="datetime-local"]::-ms-input-placeholder,
.skin-9 input[type="date"]::-ms-input-placeholder, .skin-9 input[type="month"]::-ms-input-placeholder, .skin-9 input[type="time"]::-ms-input-placeholder, .skin-9 input[type="week"]::-ms-input-placeholder, .skin-9 input[type="number"]::-ms-input-placeholder,
.skin-9 input[type="email"]::-ms-input-placeholder, .skin-9 input[type="url"]::-ms-input-placeholder, .skin-9 input[type="search"]::-ms-input-placeholder, .skin-9 input[type="tel"]::-ms-input-placeholder, .skin-9 input[type="color"]::-ms-input-placeholder {
  color: #464646;
}

.skin-9 input[type="text"]::placeholder, .skin-9 input[type="password"]::placeholder, .skin-9 input[type="datetime"]::placeholder, .skin-9 input[type="datetime-local"]::placeholder,
.skin-9 input[type="date"]::placeholder, .skin-9 input[type="month"]::placeholder, .skin-9 input[type="time"]::placeholder, .skin-9 input[type="week"]::placeholder, .skin-9 input[type="number"]::placeholder,
.skin-9 input[type="email"]::placeholder, .skin-9 input[type="url"]::placeholder, .skin-9 input[type="search"]::placeholder, .skin-9 input[type="tel"]::placeholder, .skin-9 input[type="color"]::placeholder {
  color: #464646;
}

.skin-9 .icon {
  fill: #000000;
}

.skin-9 .button {
  padding: 14px 15px 14px;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
}

.skin-9 .button.button-1 {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-9 .button.button-1:hover {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-9 .button.button-2 {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-9 .button.button-2:hover {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-9 .button.button-3 {
  background: #f7c662;
  border-color: #f7c662;
  color: #000000;
}

.skin-9 .button.button-3:hover {
  background: #000000;
  border-color: #f7c662;
  color: #f7c662;
}

.skin-9 .slick-dots {
  position: absolute;
  bottom: -60px;
}

.skin-9 .slick-dots li button {
  border: 1px solid #000000;
  background: transparent;
}

.skin-9 .slick-dots li.slick-active button {
  border: 1px solid #000000;
  background: #000000;
}

.skin-9 .slick-arrow {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-color: #d4d5d7;
  border-radius: 5px;
  padding: 13px !important;
}

.skin-9 .slick-arrow svg {
  fill: #191919;
  top: -2px;
  left: 2px;
}

.skin-9 .slick-arrow.slick-prev {
  left: 15px;
}

.skin-9 .slick-arrow.slick-prev svg {
  top: -2px;
  left: -2px;
}

.skin-9 .slick-arrow.slick-next {
  right: 15px;
}

.skin-9 .slick-arrow:hover {
  background: #191919;
}

.skin-9 .slick-arrow:hover svg {
  fill: #ffffff;
}

.skin-9 .halo-block-header {
  position: relative;
}

.skin-9 .halo-block-header .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-block-header .title::before {
  display: none;
}

.skin-9 .halo-block-header .title span {
  width: 100%;
  background: transparent;
}

.skin-9 .halo-block-header .view_all {
  font-size: 15px;
  color: #000000;
}

.skin-9 .product-card .card-action {
  padding-top: 10px;
  background: #ffffff;
}

.skin-9 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
  color: #000000;
}

.skin-9 .product-card .card-product__group .card-icon.wishlist-added .text {
  color: #ffffff;
}

.skin-9 .product-card .product-card-bottom {
  padding: 19px 0px 22px;
}

.skin-9 .product-card .product-card-bottom .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skin-9 .product-card .product-card-bottom .card-swatch {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skin-9 .product-card .product-card-bottom .productView-rating .spr-icon.spr-icon-star::before {
  color: #f8c646;
}

.skin-9 .product-card .card-vendor {
  font-size: 13px;
  color: #787878;
  letter-spacing: 0;
  padding-bottom: 7px;
}

.skin-9 .product-card .card-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
  position: relative;
  -webkit-line-clamp: 1;
  padding-right: 90px;
}

.skin-9 .product-card .card-title:hover {
  color: #3385f6;
}

.skin-9 .product-card .card-title [data-change-title] {
  top: 0;
  right: 0;
  max-width: 90px;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #787878;
}

.skin-9 .product-card .card-price {
  margin: 2px 0px 20px;
}

.skin-9 .product-card .card-price .price-item .money {
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0;
}

.skin-9 .product-card .card-price .price-item.price-item--regular .money {
  color: #787878;
  font-weight: 400;
}

.skin-9 .product-card .card-price .price-item.price__last .money {
  color: #d14c46;
}

.skin-9 .cart-count-bubble {
  background: #000000 !important;
  width: 23px;
  height: 23px;
  line-height: 23px !important;
}

.skin-9 .cart-count-bubble .text-count {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  top: 0;
}

.skin-9 .background-overlay,
.skin-9 .background-overlay-popup {
  background-color: rgba(0, 0, 0, 0.5);
}

.skin-9 .halo-popup .halo-popup-header .halo-popup-title {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}

.skin-9 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .no-products .text {
  font-size: 11px !important;
}

.skin-9 .halo-recently-viewed-popup .recently-viewed-tab .list-social-2 .list-social__info a {
  font-size: 12px;
}

.skin-9 .productView-information .slick-current .productView-thumbnail-link img {
  border: 1px solid #000000;
  opacity: 1 !important;
}

.skin-9 .productView-information .slick-arrow {
  background: transparent;
}

.skin-9 .productView-information .productView-image img {
  width: 100%;
}

.skin-9 .productView-information .halo-productView-right .productView-title {
  color: #000000;
  letter-spacing: 0;
}

.skin-9 .productView-information .halo-productView-right .productView-title a {
  font-size: 20px;
}

.skin-9 .productView-information .halo-productView-right .productView-meta {
  position: relative;
  top: -6px;
}

.skin-9 .productView-information .halo-productView-right .productView-rating .spr-badge-caption {
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.skin-9 .productView-information .halo-productView-right .productView-rating .spr-starrating {
  position: relative;
  top: 2px;
}

.skin-9 .productView-information .halo-productView-right .productView-rating .spr-icon.spr-icon-star::before {
  color: #f8c646;
}

.skin-9 .productView-information .halo-productView-right .productView-info {
  margin: 13px 0px 13px;
}

.skin-9 .productView-information .halo-productView-right .productView-countDown {
  margin-bottom: 10px;
}

.skin-9 .productView-information .halo-productView-right .productView-soldProduct .text {
  font-size: 15px;
  letter-spacing: 0;
}

.skin-9 .productView-information .halo-productView-right .card-price {
  margin-bottom: 24px;
}

.skin-9 .productView-information .halo-productView-right .card-price span {
  font-size: 20px;
}

.skin-9 .productView-information .halo-productView-right .card-price.price__sale .price-item--regular span {
  font-weight: 400;
}

.skin-9 .productView-information .halo-productView-right .card-price.price__sale .price__last span {
  color: #dd5350;
  font-weight: 700;
}

.skin-9 .productView-information .halo-productView-right .productView-variants .form__label,
.skin-9 .productView-information .halo-productView-right .productView-variants span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .productView-information .halo-productView-right .previewCartCheckbox {
  margin: 17px 0px 12px;
}

.skin-9 .productView-information .halo-productView-right .previewCartCheckbox input[type=checkbox] + label,
.skin-9 .productView-information .halo-productView-right .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.skin-9 .productView-information .halo-productView-right .productView-more .text {
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.skin-9 .productView-information .halo-productView-right .previewCartAction .previewCartGroup .productView-wishlist a {
  border-radius: 3px;
}

.skin-9 .productView-information .halo-productView-right .previewCartAction .quantity_selector {
  margin: 0 15px 0px 0px;
}

.skin-9 .productView-information .halo-productView-right .previewCartAction .quantity_selector .previewCartItem-qty {
  width: 94px;
}

.skin-9 .productView-information .halo-productView-right .previewCartAction .quantity_selector .previewCartItem-qty .quantity {
  padding: 13px 14px 13px 20px;
  border-radius: 3px;
}

.skin-9 .card__badge {
  top: 15px !important;
}

.skin-9 .card__badge .badge {
  font-size: 13px;
  letter-spacing: 0;
}

.skin-9 .card__badge.badge-left {
  left: 15px !important;
}

.skin-9 .card__badge.badge-right {
  right: 15px !important;
}

.skin-9 .halo-quick-view-popup .productView-information .slick-arrow.slick-prev {
  left: 0;
}

.skin-9 .halo-quick-view-popup .productView-information .slick-arrow.slick-next {
  right: 0;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .product-title {
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .card-price .price-item .money {
  font-size: 20px;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .card-price.price__sale .price-item--regular span {
  font-weight: 400;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .card-price.price__sale .price__last span {
  color: #dd5350;
  font-weight: 700;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .productView-variants .form__label,
.skin-9 .halo-quickshop-popup .halo-productView-right .productView-variants span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-quickshop-popup .halo-productView-right .previewCartItem-qty .quantity {
  padding: 13px 14px 13px 20px;
  border-radius: 3px;
}

.skin-9 .halo-newsletter-popup .halo-popup-content .header-content .newsletter-popup-title {
  font-weight: 24px;
  letter-spacing: .02em;
  font-weight: 700;
}

.skin-9 .halo-newsletter-popup .halo-popup-content .header-content .desc {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .02em;
  margin: 26px 0px 9px;
}

.skin-9 .halo-newsletter-popup .halo-popup-content .newsletter-form__field-wrapper .field__input {
  padding-top: 12px;
  padding-bottom: 14px;
  border-color: #cccccc;
  color: #787878;
  font-size: 15px;
  letter-spacing: .02em;
  margin-bottom: 5px;
}

.skin-9 .halo-notification-popup {
  max-width: 370px;
  border-radius: 1px;
}

.skin-9 .halo-notification-popup .halo-popup-header .halo-popup-close {
  background: #000000;
  top: -14px;
  right: -13px;
  padding: 7px;
}

.skin-9 .halo-notification-popup .halo-popup-wrapper {
  padding: 10px;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-image {
  max-width: 60px;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content {
  margin-left: 18px;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .text {
  display: block;
  font-size: 15px;
  letter-spacing: .02em;
  color: #969696;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .product-name {
  font-size: 15px;
  color: #000000;
  letter-spacing: -.02em;
  font-weight: 600;
  padding-top: 2px;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .product-name:hover {
  color: #3385f6;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .product-name:hover span {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .info-ago {
  margin-top: 8px;
}

.skin-9 .halo-notification-popup .halo-popup-content .product-content .info-ago .time-text {
  font-size: 13px;
  color: #969696;
  letter-spacing: .02em;
}

.skin-9 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading,
.skin-9 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .text,
.skin-9 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  font-size: 16px;
  letter-spacing: 0;
}

.skin-9 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading,
.skin-9 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  color: #202020;
}

.skin-9 .halo-ask-an-expert-popup .wrapper-content .button,
.skin-9 .halo-ask-an-expert-popup .wrapper-content textarea {
  border-radius: 3px;
}

.skin-9 .halo-sidebar .halo-sidebar-header .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #202020;
  text-transform: capitalize;
}

.skin-9 .halo-auth-sidebar .auth-form .form-field + .form-field {
  margin-top: 24px;
}

.skin-9 .halo-auth-sidebar .auth-actions .auth-link {
  font-size: 15px;
  letter-spacing: 0;
  color: #3385f6;
  margin: 20px 0 21px;
}

.skin-9 .halo-search-popup .halo-popup-content .input-group-field {
  font-size: 15px;
  color: #000000;
}

.skin-9 .halo-search-popup .quickSearchResultsWrap .search-block-title .text {
  font-size: 18px;
  letter-spacing: 0;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.skin-9 .halo-search-popup .quickSearchResultsWrap .list-item {
  padding: 15px 0px;
}

.skin-9 .halo-search-popup .quickSearchResultsWrap .list-item .link {
  padding: 8px 20px 8px 12px;
  color: #464646;
  font-size: 15px;
  background: #f2f2f2;
}

.skin-9 .halo-search-popup .quickSearchResultsWrap .halo-product-block {
  margin-top: 30px;
}

.skin-9 .halo-cart-sidebar .wrapper-cartCount {
  margin-top: 8px;
  margin-bottom: 10px;
  color: #6e6e6e;
}

.skin-9 .halo-cart-sidebar .haloCalculatorShipping .progress {
  margin: 0px 0 3px;
}

.skin-9 .halo-cart-sidebar .haloCalculatorShipping .progress .progress-meter {
  background-color: #f7c662 !important;
}

.skin-9 .halo-cart-sidebar .haloCalculatorShipping .message {
  color: #6e6e6e;
  font-size: 14px;
  padding-top: 3px;
}

.skin-9 .halo-cart-sidebar .haloCalculatorShipping .message .text {
  color: #202020;
  font-weight: 600;
  text-transform: capitalize;
}

.skin-9 .halo-cart-sidebar .previewCart {
  padding: 20px 20px 0 30px;
}

.skin-9 .halo-cart-sidebar .previewCartItem-name {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-cart-sidebar .previewCartItem-name:hover {
  color: #3385f6;
}

.skin-9 .halo-cart-sidebar .previewCartItem-remove svg {
  fill: #808080;
}

.skin-9 .halo-cart-sidebar .previewCartItem-remove:hover svg {
  fill: #000000;
}

.skin-9 .halo-cart-sidebar .previewCartItem-options {
  margin: 0 0 10px;
  padding: 0 25px 0 0;
}

.skin-9 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 15px;
  color: #6e6e6e;
  letter-spacing: 0;
}

.skin-9 .halo-cart-sidebar .previewCartItem-price {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
  padding-top: 3px;
}

.skin-9 .halo-cart-sidebar .previewCartItem-qty {
  margin-top: 11px;
}

.skin-9 .halo-cart-sidebar .previewCartItem-edit svg {
  fill: #6e6e6e;
  stroke: none;
  width: 18px;
  height: 18px;
  top: -2px;
}

.skin-9 .halo-cart-sidebar .previewCartItem-edit:hover svg {
  fill: #000000;
}

.skin-9 .halo-cart-sidebar .previewCartCollection .previewCartTitle {
  font-size: 20px;
  font-weight: 700;
  color: #202020;
}

.skin-9 .halo-cart-sidebar .slick-arrow.slick-next {
  right: 0;
}

.skin-9 .halo-cart-sidebar .slick-arrow svg {
  top: -6px;
}

.skin-9 .halo-cart-sidebar .slick-dots {
  bottom: initial !important;
  top: -40px;
  right: 0;
  text-align: right;
}

.skin-9 .halo-cart-sidebar .product-card .product-card-bottom {
  padding: 0px 0px 0px 20px;
}

.skin-9 .halo-cart-sidebar .product-card .product-card-bottom .productView-rating {
  display: block;
  margin-bottom: 7px;
}

.skin-9 .halo-cart-sidebar .product-card .product-card-bottom .card-title {
  display: block;
  padding-right: 50px;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartTotals {
  padding-bottom: 6px;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartTotals-label,
.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartShipping-label {
  font-size: 15px;
  letter-spacing: 0;
  color: #000000;
  font-weight: 500;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartTotals-value,
.skin-9 .halo-cart-sidebar .previewCartInfo .money {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartShipping-text {
  font-size: 15px;
  color: #808080;
  letter-spacing: 0;
  display: inline-block;
  font-weight: 400;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartShipping {
  padding-bottom: 25px;
  margin-bottom: 28px;
  border-bottom: 1px solid #e8e8e8;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartCheckbox input[type=checkbox] + label {
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  font-weight: 400 !important;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartCheckbox input[type=checkbox] ~ a {
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px -5px 0px;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartGroup .button {
  margin: 0px 5px;
}

.skin-9 .halo-cart-sidebar .previewCartInfo .previewCartGroup .button + .button {
  margin-top: 0;
}

.skin-9 .halo-edit-cart-popup .cart-edit {
  padding: 0;
}

.skin-9 .halo-edit-cart-popup .cart-edit .wrapper-content {
  padding-left: 40px;
  padding-right: 40px;
}

.skin-9 .halo-edit-cart-popup .cart-edit .add-more {
  padding-left: 40px;
  padding-right: 40px;
}

.skin-9 .halo-edit-cart-popup .cart-edit .add-more .text {
  position: relative;
  margin-left: 18px;
}

.skin-9 .halo-edit-cart-popup .cart-edit .add-more .text::before {
  left: -18px;
}

.skin-9 .halo-edit-cart-popup .cart-edit .add-more .text::after {
  left: -13.5px;
}

.skin-9 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 15px;
  letter-spacing: 0;
  color: #000000;
  font-weight: 500;
}

.skin-9 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 15px;
  letter-spacing: 0;
  color: #8a8a8a;
}

.skin-9 .halo-edit-cart-popup .product-edit-itemCenter .card-price .money {
  font-size: 15px;
  font-weight: 700;
}

.skin-9 .halo-edit-cart-popup .button {
  border-radius: 0;
}

.skin-9 .halo-edit-cart-popup .product-quantity .form__label {
  font-size: 15px;
  font-weight: 700;
}

.skin-9 .halo-edit-cart-popup .view-detail {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #3385f6;
  font-size: 15px;
  letter-spacing: 0;
  display: block;
}

.skin-9 .halo-edit-cart-popup .productView-variants .form__label {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-edit-cart-popup .productView-variants .form__label [data-header-option] {
  color: #000000;
}

.skin-9 .halo-edit-cart-popup .productView-variants .product-form__label .text {
  font-size: 15px;
  letter-spacing: 0;
  color: #202020;
  font-weight: 600;
}

.skin-9 .halo-edit-cart-popup .add-more {
  color: #3385f6;
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  padding: 19px 0 15px 16px;
}

.skin-9 .halo-edit-cart-popup .add-more .text::before, .skin-9 .halo-edit-cart-popup .add-more .text::after {
  background-color: #3385f6;
}

.skin-9 .halo-sidebar_search .search-bar .input-group-field {
  font-size: 15px;
}

.skin-9 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-1__action {
  font-size: 15px !important;
  color: #000000 !important;
  font-weight: 700;
}

.skin-9 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-2__action,
.skin-9 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-3__action {
  font-size: 15px;
  letter-spacing: 0;
  color: #000000;
}

.skin-9 .halo-sidebar_menu .site-nav-mobile .nav-title-mobile {
  background: #e6e6e6 !important;
}

.skin-9 .halo-sidebar_menu .site-nav-mobile .nav-title-mobile span {
  color: #000000 !important;
  letter-spacing: 0 !important;
}

.skin-9 .halo-sidebar_menu .nav-currency-language .title {
  background: #e6e6e6;
  color: #000000;
  letter-spacing: 0;
}

.skin-9 .halo-sidebar_menu .nav-currency-language .text {
  font-size: 15px !important;
  color: #000000 !important;
}

.skin-9 .halo-sidebar_menu .nav-currency-language .currency-item .icon svg {
  position: relative;
  top: -5px;
}

@media (min-width: 552px) {
  .halo-block-header .view_all {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 9;
  }
}

@media (min-width: 768px) {
  .skin-9 .halo-block-header {
    margin-bottom: 60px;
  }
}

@media (min-width: 1025px) {
  .skin-9 {
    padding-bottom: 0;
  }
  .skin-9 .product-card .card-product__group {
    top: 15px;
  }
  .skin-9 .product-card .card__badge {
    top: 15px;
  }
  .skin-9 .product-card .card__badge.badge-right {
    right: 15px;
  }
  .skin-9 .product-card .card__badge.badge-left {
    left: 15px;
  }
  .skin-9 .product-card:hover .card-product__group.group-left {
    left: 15px;
  }
  .skin-9 .product-card:hover .card-product__group.group-left {
    right: 15px;
  }
  .skin-9 .halo-sidebar {
    max-width: 430px;
  }
  .skin-9 .halo-sidebar .halo-sidebar-header {
    padding: 27px 30px 8px;
  }
  .skin-9 .halo-sidebar .halo-sidebar-header .title {
    font-size: 24px;
  }
  .skin-9 .halo-sidebar .halo-sidebar-header .halo-sidebar-close {
    top: 2px;
    right: initial;
    left: -50px;
  }
  .skin-9 .halo-sidebar .halo-sidebar-header .halo-sidebar-close svg {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .skin-9 .halo-sidebar.halo-cart-sidebar {
    max-width: 480px;
  }
  .skin-9 .halo-edit-cart-popup {
    max-width: 870px;
  }
  .skin-9 .halo-edit-cart-popup .halo-popup-header {
    padding: 28px 40px 30px;
  }
  .skin-9 .halo-popup .halo-popup-header .halo-popup-close {
    top: -6px;
    right: -40px;
    padding: 4px;
    background: transparent;
  }
  .skin-9 .halo-popup .halo-popup-header .halo-popup-close:hover {
    background: transparent;
  }
}
/*# sourceMappingURL=skin-9.css.map */