.footer-2 {
  background-color: #ffffff;
  color: #000000;
}

.footer-2 .halo-row-item {
  padding: 0;
}

.footer-2 .newsletter-form .newsletter-form__field-wrapper .newsletter-form__button {
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
}

.footer-2 .footer-top {
  background-color: #f7f7f7;
  padding: 57px 0 41px;
}

.footer-2 .footer-top .link {
  line-height: 34px;
}

.footer-2 .footer-top .contact-info .contact-store a {
  color: #000000 !important;
}

.footer-2 .footer-top .footer-block-newsletter {
  margin-left: 105px;
}

.footer-2 .footer-top .contact-address {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  line-height: 24px;
}

.footer-2 .footer-top .contact-store {
  margin-top: -2px;
}

.footer-2 .footer-bottom {
  padding-top: 20px;
  padding-bottom: 38px;
  border-top: none;
}

.footer-2 .footer-bottom .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

.footer-2 .footer-bottom .halo-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-2 .footer-bottom .copyright__content {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
}

.footer-2 .footer-block__heading {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 800;
  padding-bottom: 6px;
  line-height: 28px;
  color: #000000;
}

.footer-2 .list-unstyled {
  margin-bottom: 5px;
}

.footer-2 .list-social {
  max-height: inherit;
  margin-top: 25px;
}

.footer-2 .desc {
  margin-top: 2px;
}

.footer-2 .footer-block__newsletter-form {
  margin-top: 6px;
  max-width: 100%;
}

.footer-2 .footer-block__newsletter-form .field__input {
  padding: 13px 18px;
  max-width: 320px;
  background: #ffffff;
  color: #646464;
  border: 1px solid #555555;
  height: 50px;
}

.footer-2 .newsletter-form .newsletter-form__field-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-2 .newsletter-form .newsletter-form__field-wrapper .newsletter-form__button {
  width: 126px;
  min-width: 126px;
}

.footer-2 .footer-block__list-social {
  margin-top: 8px;
}

.footer-2 .newsletter-form .newsletter-form__field-wrapper .field {
  margin-right: 5px;
  width: 320px;
  max-width: 320px;
}

.footer-2 .list-unstyled li {
  margin-bottom: 0;
}

.footer-2 .list-unstyled.list-social {
  margin-bottom: 34px;
}

.footer-2 .list-unstyled.list-social .list-social__link {
  background: none;
  border: none;
  padding: 0;
}

.footer-2 .list-unstyled.list-social .list-social__link::before {
  display: none;
}

.footer-2 .list-unstyled.list-social .list-social__link:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-2 .list-unstyled.list-social .list-social__link svg {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}

.footer-2 #ContactFooter {
  width: 100%;
}

@media (max-width: 1024px) {
  .footer-2 .row {
    margin: 0 -2px;
  }
  .footer-2 .footer-top .footer-block-newsletter {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .footer-2 .footer-bottom .col-left {
    padding-right: 0;
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .footer-2 .footer-top .footer-block__heading::before, .footer-2 .footer-top .footer-block__heading::after {
    background-color: #000000;
  }
  .footer-2 .footer-top .footer-block__heading.block-heading_custom {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer-2 .footer-top .footer-col-left .row {
    margin: 0;
  }
  .footer-2 .footer-top .footer-block-newsletter .desc {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .footer-2 .footer-top .contact-address {
    line-height: 32px;
  }
  .footer-2 .footer-top .contact-store {
    margin-bottom: 15px;
  }
  .footer-2 .footer-block__list-social {
    margin-top: -16px;
  }
}

@media (max-width: 551px) {
  .footer-2 .newsletter-form .newsletter-form__field-wrapper .field {
    width: 100%;
    max-width: 100%;
  }
  .footer-2 .newsletter-form .newsletter-form__field-wrapper .field .field__input {
    max-width: 100%;
  }
}
/*# sourceMappingURL=footer-2.css.map */