.footer-page {
  padding: 0;
}

.footer-page .footer-top {
  background: #fafafa;
  padding: 67px 0 40px;
}

.footer-page .footer-top .footer-logo {
  margin-bottom: 24px;
}

.footer-page .footer-top .footer-logo img {
  max-width: 62px;
}

.footer-page .footer-top .footer-block__heading {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .05em;
  color: #232323;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.footer-page .footer-top .footer-link,
.footer-page .footer-top .desc {
  font-size: 12px;
  letter-spacing: .02em;
  color: #707070;
  padding: 3px 0;
}

.footer-page .footer-top .footer-block-newsletter .desc {
  padding: 3px 0px 0px;
}

.footer-page .footer-top .footer-block-newsletter .footer-block__newsletter-form {
  margin-top: 13px;
}

.footer-page .footer-top .newsletter-form__field-wrapper .button {
  width: 100%;
  max-width: 130px;
}

.footer-page .footer-top .newsletter-form__field-wrapper .field__input {
  letter-spacing: .02em;
  color: #646464;
  font-size: 12px;
  background: #fafafa;
  border-color: #969696;
  padding-top: 11px;
  padding-bottom: 10px;
}

.footer-page .footer-top .newsletter-form__field-wrapper .newsletter-form__button {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}

.footer-page .footer-top .newsletter-form__field-wrapper .newsletter-form__button:hover {
  background-color: #ffffff;
  border-color: #232323;
  color: #232323;
}

.footer-page .footer-top .footer-securityImage {
  margin-top: 38px;
}

.footer-page .footer-top .footer-securityImage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-page .footer-top .footer-securityImage ul li {
  padding: 0px 12px 10px;
}

.footer-page .footer-top .contact-info {
  color: #707070;
  line-height: 22px;
}

.footer-page .footer-top .contact-info span, .footer-page .footer-top .contact-info a, .footer-page .footer-top .contact-info p {
  color: #707070;
}

.footer-page .footer-top .list-social .list-social__link {
  border-color: transparent;
  background: transparent;
  padding: 0;
  margin-right: 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-page .footer-top .list-social .list-social__link::before {
  display: none;
}

.footer-page .footer-top .list-social .list-social__link svg {
  fill: #232323;
  width: 20px;
  height: 20px;
}

.footer-page .footer-bottom {
  background: #ffffff;
  padding-top: 25px;
  padding-bottom: 39px;
  border: none;
}

.footer-page .footer-bottom .copyright__content {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: .02em;
  color: #707070;
}

.footer-page .footer-bottom .footer__payment .list-payment {
  padding-top: 0;
  position: relative;
  top: 0;
}

.footer-page .footer-bottom .footer__payment .list-payment__item svg {
  height: 30px;
}

@media (max-width: 991px) {
  .footer-page .footer-bottom {
    padding-top: 20px;
  }
  .footer-page .footer-bottom .halo-row-item {
    width: 100%;
  }
  .footer-page .footer-bottom .halo-row-item.halo-row-item {
    margin-top: 20px;
  }
  .footer-page .footer-bottom .footer__payment .list-payment {
    text-align: left !important;
  }
  .footer-page .footer-bottom .footer__payment .list-payment li {
    margin: 5px 10px 5px 0px;
  }
}

@media (max-width: 767px) {
  .footer-page .footer-newsletter .footer-block__heading {
    border: none;
  }
  .footer-page .footer-newsletter .footer-block__heading::before, .footer-page .footer-newsletter .footer-block__heading::after {
    display: none;
  }
  .footer-page .footer-top {
    padding: 50px 0 40px;
  }
  .footer-page .footer-top .footer-block__heading::after, .footer-page .footer-top .footer-block__heading::before {
    background-color: #232323;
  }
  .footer-page .footer-block__list-social {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=footer-page.css.map */