.footer-page{
    padding: 0;
    .footer-top{
        background: #fafafa;
        padding: 67px 0 40px;
        .footer-logo{
            margin-bottom: 24px;
            img{
                max-width: 62px;
            }
        }
        .footer-block__heading{
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .05em;
            color: #232323;
            text-transform: uppercase;
            padding-bottom: 18px;
        }
        .footer-link, 
        .desc{
            font-size: 12px;
            letter-spacing: .02em;
            color: #707070;
            padding: 3px 0;
        }
        .footer-block-newsletter{
            .desc{
                padding: 3px 0px 0px;
            }
            .footer-block__newsletter-form{
                margin-top: 13px;
            }
        }
        .newsletter-form__field-wrapper{
            .button{
                width: 100%;
                max-width: 130px;
            }
            .field__input{
                letter-spacing: .02em;
                color: #646464;
                font-size: 12px;
                background: #fafafa;
                border-color:#969696;
                padding-top: 11px;
                padding-bottom: 10px;
            }
            .newsletter-form__button{
                background-color: #232323;
                border-color: #232323;
                color: #ffffff;
                &:hover{
                    background-color: #ffffff;
                    border-color: #232323;
                    color: #232323;
                }
            }
        }
        .footer-securityImage{
            margin-top: 38px;
            ul{
                display: flex;
                justify-content: flex-start;
                margin: 0px -12px;
                flex-wrap: wrap;
                li{
                    padding: 0px 12px 10px;
                }
            }
        }
        .contact-info{
            color: #707070;
            line-height: 22px;
            span,a,p{
                color: #707070;
            }
        }
        .list-social{
            .list-social__link{
                border-color: transparent;
                background: transparent;
                padding: 0;
                margin-right: 5px;
                border:none;
                box-shadow: none;
                &::before{
                    display: none;
                }
                svg{
                    fill:#232323;
                    width: 20px;
                    height: 20px;
                }
            }
        } 
    }
    .footer-bottom{
        background: #ffffff;
        padding-top: 25px;
        padding-bottom: 39px;
        border:none;
        .copyright__content{
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: .02em;
            color: #707070;
        }
        .footer__payment{
            .list-payment{
                padding-top: 0;
                position: relative;
                top: 0;
            }
            .list-payment__item {
                svg{
                    height: 30px;
                }
            }
        }
    }
}

@media(max-width:991px){
    .footer-page{
        .footer-bottom {
            padding-top: 20px;
            .halo-row-item{
                width: 100%;
                &.halo-row-item{
                    margin-top: 20px;
                }
            }
            .footer__payment{
                .list-payment{
                    text-align: left!important;
                    li{
                        margin: 5px 10px 5px 0px;
                    }   
                }
            }
        }
    }
}

@media(max-width:767px){
    .footer-page{
        .footer-newsletter{
            .footer-block__heading{
                border:none;
                &::before,
                &::after{
                    display: none;
                }
            }
        }
        .footer-top{
            padding: 50px 0 40px;
            .footer-block__heading{
                &::after,
                &::before{
                    background-color: #232323;
                }
            }
        }
        .footer-block__list-social {
            margin-top: 20px;
        }
    }
}
