@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.skin-7 {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  line-height: 26px;
  letter-spacing: 0;
  color: #232323;
}

.skin-7 .desc {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: #232323;
}

.skin-7 .link {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-7 input[type="text"], .skin-7 input[type="password"], .skin-7 input[type="datetime"], .skin-7 input[type="datetime-local"], .skin-7 input[type="date"], .skin-7 input[type="month"], .skin-7 input[type="time"], .skin-7 input[type="week"], .skin-7 input[type="number"], .skin-7 input[type="email"], .skin-7 input[type="url"], .skin-7 input[type="search"], .skin-7 input[type="tel"], .skin-7 input[type="color"] {
  padding: 13px 23px 13px;
  font-size: 14px;
  border-radius: 5px;
}

.skin-7 label {
  font-size: 14px;
}

.skin-7 .button {
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  border-radius: 4px;
  padding: 15px 15px 14px;
}

.skin-7 .button.button-1 {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}

.skin-7 .button.button-1:hover {
  background-color: #ffffff;
  border-color: #232323;
  color: #232323;
}

.skin-7 .button.button-2 {
  background-color: #ffffff;
  border-color: #232323;
  color: #232323;
}

.skin-7 .button.button-2:hover {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}

.skin-7 .button.button-3 {
  background-color: #f84248;
  border-color: #f84248;
  color: #ffffff;
}

.skin-7 .button.button-3:hover {
  background-color: #ffffff;
  border-color: #f84248;
  color: #f84248;
}

.skin-7 .slick-arrow {
  border: 1px solid #dcdcdc;
  color: #323232;
  background: #ffffff !important;
}

.skin-7 .slick-arrow svg {
  fill: #323232;
  top: -6px;
}

.skin-7 .slick-dots {
  position: absolute;
  bottom: -45px;
}

.skin-7 .halo-block-header {
  margin-bottom: 34px;
}

.skin-7 .halo-block-header .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #232323;
  text-transform: uppercase;
}

.skin-7 .halo-block-header .title:before {
  display: none;
}

.skin-7 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
}

.skin-7 .product-card .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skin-7 .product-card .card-vendor {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  color: #232323;
  padding-bottom: 3px;
}

.skin-7 .product-card .card-title {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  padding-bottom: 4px;
}

.skin-7 .product-card .card-price .money {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.skin-7 .product-card .card-swatch {
  margin: 14px 0px 0px;
}

.skin-7 .halo-sidebar .halo-sidebar-header {
  padding: 24px 30px 0;
}

.skin-7 .halo-sidebar .halo-sidebar-header .title {
  font-weight: 700;
}

.skin-7 .halo-sidebar .haloCalculatorShipping .message {
  font-size: 14px;
}

.skin-7 .halo-sidebar .haloCalculatorShipping .progress-meter {
  background-color: #f84248 !important;
}

.skin-7 .halo-sidebar .previewCartItem-name {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
}

.skin-7 .halo-sidebar .previewCartItem-options span {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-7 .halo-sidebar .previewCartItem-price {
  font-size: 16px;
}

.skin-7 .halo-sidebar .previewCartInfo .item {
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.skin-7 .halo-sidebar .previewCartInfo .item .money {
  font-size: 16px;
}

.skin-7 .halo-sidebar.halo-sidebar_menu .nav-currency-language .title {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  background: #3a3e45;
  padding: 12px 20px 10px;
}

.skin-7 .card__badge .badge {
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 500;
  border-radius: 1px;
}

.skin-7 .productView-information .productView-subtotal .text {
  font-size: 14px;
}

.skin-7 .productView-information .productView-more .text {
  font-size: 14px;
}

.skin-7 .productView-rating .spr-badge-caption {
  font-size: 14px;
}

.skin-7 .productView-soldProduct .text {
  font-size: 14px;
}

.skin-7 .productView-countDown .num {
  font-size: 14px;
}

.skin-7 .review-rating .spr-badge-caption {
  font-size: 14px;
}

.skin-7 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .no-products .text {
  font-size: 11px !important;
}

.skin-7 .halo-recently-viewed-popup .recently-viewed-tab .list-social-2 .list-social__info a {
  font-size: 12px;
}

.skin-7 .productView-variants .form__label {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-7 .productView-variants .product-form__label .text {
  font-size: 14px;
}

.skin-7 .previewCartCheckbox input[type=checkbox] + label,
.skin-7 .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 14px;
}

.skin-7 .halo-popup {
  border-radius: 5px;
}

.skin-7 .halo-popup .wrapper-content {
  border-radius: 5px;
  overflow: hidden;
}

.skin-7 .halo-popup .halo-popup-close {
  border-radius: 5pxs;
}

.skin-7 .halo-popup.halo-edit-cart-popup .product-edit-action {
  padding: 0 50px 30px;
}

.skin-7 .halo-popup.halo-edit-cart-popup .product-edit-title,
.skin-7 .halo-popup.halo-edit-cart-popup .product-edit-title-variant,
.skin-7 .halo-popup.halo-edit-cart-popup .form__label {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-7 .halo-popup.halo-edit-cart-popup .card-price .money {
  font-size: 16px;
}

.skin-7 .halo-popup.halo-edit-cart-popup .product-form__label {
  line-height: 39px;
}

.skin-7 .halo-toolbar-bottom-mobile {
  padding: 10px;
}

.skin-7 .halo-toolbar-bottom-mobile .halo-toolbar-item .label {
  text-transform: uppercase;
}

.skin-7 .halo-toolbar-bottom-mobile .cart-count-bubble {
  background-color: #f84248 !important;
}

.skin-7 .halo-toolbar-bottom-mobile .cart-count-bubble span {
  color: #ffffff;
}

.skin-7 .previewCartItem-qty .btn-quantity {
  height: 50px;
}

.skin-7 .previewCartItem-qty .quantity {
  padding: 12px 14px 15px 20px;
  border-radius: 5px;
  font-size: 14px;
}

.skin-7 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .text,
.skin-7 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading,
.skin-7 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  font-size: 14px;
  letter-spacing: 0;
}

.skin-7 .auth-actions .auth-link {
  font-size: 14px;
}

@media (max-width: 767px) {
  .skin-7 .halo-sidebar .halo-sidebar-header {
    padding: 9px 20px 9px;
  }
  .skin-7 .halo-sidebar .title {
    font-size: 14px;
  }
}
/*# sourceMappingURL=skin-7.css.map */