.footer-6{
    background: #00163a;
    .footer-top{
        padding: 63px 0 48px;
        .halo-row-item{
            .footer-block__heading{
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 15px;
                letter-spacing: 0;
            }
            .list-unstyled{
                li{
                    margin-bottom: 8px;
                }
            }
            .footer-link{
                font-size:14px;
                color: #ffffff;
                letter-spacing: 0;
            }
            .footer-block__list-social{
                margin: 0;
                .list-social{
                    margin-bottom: 32px;
                }
                .list-social__link{
                    background: transparent;
                    border-color: transparent;
                    padding: 0px;
                    svg{
                        fill:#ffffff;
                        width: 24px;
                        height: 24px;
                    }
                    &:hover{
                        box-shadow: none;
                    }
                }
                .list-social__item{
                    margin: 2px 27px 6px 0;
                    &.item-instagram{
                        margin-right: 32px;
                    }
                    &.item-pinterest{
                        margin-right: 30px;
                    }
                }
            }
            .footer-block-newsletter{
                .footer-block__newsletter-form{
                    margin-top: 10px;
                    max-width: 100%;
                }
                .newsletter-form__button{
                    color: #ffffff;
                    border: 1px solid #075ee2;
                    background-color: #075ee2;
                    width: 126px;
                    min-width: 126px;
                }
                .field__input{
                    color: #646464;
                    background-color: #ffffff;
                    border: 1px solid #ffffff;
                    font-size: 14px;
                    width: 100%;
                    padding-left: 20px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    line-height: 22px;
                    border-radius: 30px;
                    text-transform: capitalize;
                }
                .field{
                    margin-right: 5px;
                }
            }
            .footer-logo{
                margin-bottom: 30px;
            }
            .contact-info{
                padding-bottom: 30px;
                address{
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 26px;
                }
                .contact-store{
                    a,
                    p{
                        color: #ffffff;
                        font-size: 14px; 
                    }
                }
                
            }
        }
    }
    .footer-bottom{
        padding-bottom: 20px;
        background:#ffffff;
        border:none;
        .copyright__content{
            font-size:14px;
            color: #000000;
            letter-spacing:0;
            line-height: 20px;
        }
        .footer__payment{
            .list-payment{
                margin: 0;
                padding: 0;
                position: relative;
                top: -6px
            }
        }
    }
}