@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.skin-6 {
  font-size: 14px;
  font-family: "Inter", "Arial", "sans-serif";
  line-height: 24px;
  color: #00163a;
}

.skin-6 .desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.skin-6 label {
  font-size: 14px;
  color: #00163a;
}

.skin-6 .slick-dots {
  margin-top: 15px;
}

.skin-6 .slick-dots button {
  border-color: #abb2bd;
  background: #abb2bd;
}

.skin-6 .slick-dots li.slick-active button {
  border-color: #142849;
}

.skin-6 .halo-product-block .slick-arrow {
  width: 47px;
  height: 47px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  padding: 0 !important;
}

.skin-6 .halo-product-block .slick-arrow svg {
  fill: #00163a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.skin-6 .halo-block-header {
  margin-bottom: 33px;
}

.skin-6 .halo-block-header .title {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 900;
  color: #00163a;
  font-style: italic;
}

.skin-6 .halo-block-header .title:before {
  display: none;
}

.skin-6 .halo-block-header .title span {
  background: transparent;
}

.skin-6 .halo-block-header .desc,
.skin-6 .halo-block-header .text {
  color: #00163a;
}

.skin-6 .button {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: bold;
  border-radius: 30px;
  padding: 14px 15px 14px;
  text-transform: capitalize;
}

.skin-6 .button.button-1 {
  background-color: #00163a;
  border-color: #00163a;
  color: #ffffff;
}

.skin-6 .button.button-1:hover {
  background-color: #ffffff;
  border-color: #00163a;
  color: #00163a;
}

.skin-6 .button.button-2 {
  background-color: #ffffff;
  border-color: #00163a;
  color: #00163a;
}

.skin-6 .button.button-2:hover {
  background-color: #00163a;
  border-color: #00163a;
  color: #ffffff;
}

.skin-6 input[type="text"], .skin-6 input[type="password"], .skin-6 input[type="datetime"], .skin-6 input[type="datetime-local"], .skin-6 input[type="date"], .skin-6 input[type="month"], .skin-6 input[type="time"], .skin-6 input[type="week"], .skin-6 input[type="number"], .skin-6 input[type="email"], .skin-6 input[type="url"], .skin-6 input[type="search"], .skin-6 input[type="tel"], .skin-6 input[type="color"] {
  padding: 13px 15px 13px;
  font-size: 14px;
}

.skin-6 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
}

.skin-6 .product-card .product-card-bottom {
  padding: 14px 0px 10px;
}

.skin-6 .product-card .product-card-information .card-vendor {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0;
  color: #00163a;
  font-style: italic;
  padding-bottom: 2px;
}

.skin-6 .product-card .product-card-information .card-vendor:hover {
  color: #232323;
}

.skin-6 .product-card .product-card-information .card-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #00163a;
  margin-bottom: 3px;
}

.skin-6 .product-card .product-card-information .card-title:hover {
  color: #075ee2;
}

.skin-6 .product-card .product-card-information .card-price .price-item .money {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  color: #00163a;
}

.skin-6 .product-card .product-card-information .card-price.price__sale .price-item--regular span {
  color: #969696;
}

.skin-6 .product-card .product-card-information .card-price.price__sale .price__last span {
  color: #e95144;
}

.skin-6 .product-card .card-action {
  background: #ffffff;
}

.skin-6 .product-card .card-action .button {
  background: #00163a;
  color: #ffffff;
  border-color: #00163a;
}

.skin-6 .product-card .card-action .button:hover {
  background: #ffffff;
  color: #00163a;
  border-color: #00163a;
}

.skin-6 .product-card .card-product__group .card-icon.wishlist-added {
  background: #00163a;
}

.skin-6 .product-card .card-product__group .card-icon.wishlist-added .text {
  background: #00163a;
}

.skin-6 .productView-rating {
  margin-bottom: 3px;
}

.skin-6 .productView-rating .spr-icon.spr-icon-star::before {
  color: #ffc50d;
}

.skin-6 .productView-rating .spr-icon.spr-icon-star-empty::before {
  color: #f0f0f0;
}

.skin-6 .productView-rating .count-review {
  font-size: 12px;
  color: #969696;
  padding-left: 3px;
  position: relative;
  top: -1px;
}

.skin-6 .card-swatch {
  margin: 17px 0px 0px;
}

.skin-6 .halo-product-block .halo-block-header {
  margin-bottom: 28px !important;
}

.skin-6 .halo-product-block .halo-block-header .title {
  margin-bottom: 7px;
}

.skin-6 .halo-product-block .row {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.skin-6 .halo-product-block .row .halo-row-item {
  padding: 0px 5px !important;
}

.skin-6 .halo-product-block .product-infinite-scroll {
  margin: 24px 0px 70px;
}

.skin-6 .halo-product-block .product-infinite-scroll .button {
  max-width: 340px;
}

.skin-6 .card__badge .badge {
  border-radius: 3px;
  padding: 2px 8px 1px;
  font-size: 14px;
  letter-spacing: 0;
}

.skin-6 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .no-products .text {
  font-size: 11px !important;
}

.skin-6 .halo-recently-viewed-popup .recently-viewed-tab .list-social-2 .list-social__info a {
  font-size: 12px;
}

.skin-6 .halo-sidebar .halo-sidebar-header {
  padding: 14px 30px 0px;
}

.skin-6 .halo-sidebar .halo-sidebar-header .title {
  font-size: 18px;
  font-weight: 900;
  color: #00163a;
  letter-spacing: 0;
  font-style: italic;
}

.skin-6 .halo-sidebar .button {
  border-radius: 0;
}

.skin-6 .halo-sidebar .halo-sidebar-close {
  top: 6px;
}

.skin-6 .halo-sidebar .previewCartItem-options {
  font-size: 14px;
}

.skin-6 .halo-sidebar .previewCartItem-price {
  font-weight: bold;
  letter-spacing: 0;
  color: #00163a;
}

.skin-6 .halo-sidebar .slick-arrow {
  width: 25px;
  height: 25px;
}

.skin-6 .halo-sidebar .slick-arrow.slick-next {
  right: 0;
}

.skin-6 .wrapper-cartCount {
  color: #00163a;
  letter-spacing: 0;
  margin-top: 20px;
}

.skin-6 .haloCalculatorShipping .message {
  color: #00163a;
  font-size: 14px;
  letter-spacing: 0;
}

.skin-6 .previewCartCheckbox input[type=checkbox] + label,
.skin-6 .previewCartCheckbox input[type=checkbox] ~ a {
  color: #00163a;
  font-size: 14px;
  letter-spacing: 0;
}

.skin-6 .halo-cart-sidebar .previewCartItem-name {
  color: #00163a;
  font-size: 14px;
  letter-spacing: 0;
}

.skin-6 .haloCalculatorShipping .progress.progress.progress-100 .progress-meter {
  background-color: #00163a;
}

.skin-6 .halo-popup .halo-popup-header .halo-popup-title {
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0;
}

.skin-6 .halo-popup .halo-popup-header .halo-popup-close {
  background: #00163a;
}

.skin-6 .halo-popup .halo-popup-header .halo-popup-close.close-notify-popup {
  background: transparent;
}

.skin-6 .halo-popup .button {
  border-radius: 0;
}

.skin-6 .halo-quickshop-popup .halo-productView-right .product-title {
  color: #00163a;
  font-weight: 600;
}

.skin-6 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #00163a;
}

.skin-6 .productView-variants .form__label {
  color: #00163a;
  font-size: 14px;
}

.skin-6 .productView-information .halo-productView-right .productView-title {
  letter-spacing: 0;
  color: #00163a;
}

.skin-6 .productView-information .halo-productView-right .productView-title a {
  color: #00163a;
}

.skin-6 .link {
  font-size: 14px;
  letter-spacing: 0;
  color: #00163a;
}

.skin-6 .halo-newsletter-popup .halo-popup-content .header-content .newsletter-popup-title {
  color: #00163a;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0;
}

.skin-6 .cart-count-bubble {
  background: #e73e45 !important;
}

.skin-6 .cart-count-bubble .text-count {
  color: #ffffff !important;
}

.skin-6 .halo-search-popup .quickSearchResultsWrap .halo-product-block .card-action .button {
  border-radius: 30px;
}

.skin-6 .productView-rating .spr-badge-caption {
  font-size: 14px;
}

.skin-6 .productView-soldProduct .text {
  font-size: 14px;
}

.skin-6 .productView-countDown .num {
  font-size: 14px;
}

.skin-6 .productView-information .productView-rating {
  margin: 0;
}

.skin-6 .productView-information .productView-rating .spr-badge-starrating {
  position: relative;
  top: 1px;
}

.skin-6 .productView-information .productView-subtotal .text {
  font-size: 14px;
}

.skin-6 .productView-information .productView-more .text {
  font-size: 14px;
}

.skin-6 .previewCartInfo .item {
  font-size: 14px;
}

.skin-6 .previewCartInfo .item .money {
  font-size: 18px;
}

.skin-6 .auth-actions .auth-link {
  font-size: 14px;
}

.skin-6 .productView-variants .product-form__label .text {
  font-size: 14px !important;
}

.skin-6 .productView-variants [data-header-option] {
  font-size: 14px !important;
}

.skin-6 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 14px;
}

.skin-6 .halo-cart-sidebar .product-card .product-card-bottom {
  padding: 0 0 0 20px;
}

.skin-6 .halo-cart-sidebar .halo-product-block .slick-arrow.slick-next {
  right: 0;
}

.skin-6 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 14px;
}

.skin-6 .halo-edit-cart-popup .product-edit-itemCenter .card-price .price-item .money {
  font-size: 16px;
}

@media (max-width: 767px) {
  .skin-6 .halo-sidebar .halo-sidebar-header {
    padding: 9px 20px 9px;
  }
}

@media (max-width: 1024px) {
  .skin-6 .halo-product-block .halo-row-item .button {
    border-radius: 0;
  }
}

@media (min-width: 1025px) {
  .skin-6 .product-card .card-action {
    padding-top: 10px;
  }
}

@media (min-width: 1300px) {
  .skin-6 .halo-product-block .slick-arrow.slick-next {
    right: -59px;
  }
  .skin-6 .halo-product-block .slick-arrow.slick-prev {
    left: -59px;
  }
}
/*# sourceMappingURL=skin-6.css.map */