.header-7 .header-top {
  background: #232830;
  padding: 17px 0px 23px;
}

.header-7 .header-top .header-top--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-7 .header-top .header-top--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 10px);
          flex: 0 0 calc(20% - 10px);
  max-width: calc(20% - 10px);
  display: block;
  position: relative;
}

.header-7 .header-top .header-top--left .header__heading {
  position: relative;
  top: 4px;
}

.header-7 .header-top .header-top-center {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(44.666667% + 20px);
          flex: 0 0 calc(44.666667% + 20px);
  max-width: calc(44.666667% + 20px);
}

.header-7 .header-top .header-top-center .search-bar {
  border-radius: 5px;
}

.header-7 .header-top .header-top-center .search-bar .input-group-field {
  padding: 15px 20px 13px;
  font-size: 14px;
  color: #808080;
  letter-spacing: 0;
  width: calc(100% - 42px);
}

.header-7 .header-top .header-top-center .search-bar .icon-search {
  padding: 0;
  width: 42px;
}

.header-7 .header-top .header-top-center .search-bar .icon-search svg {
  width: 22px;
  height: 22px;
  fill: #232830;
}

.header-7 .header-top .header-top-center .quickSearchResultsWrap {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}

.header-7 .header-top .header-top-center .quickSearchResultsWrap .quickSearchResult {
  padding: 30px 30px 30px;
  max-height: calc(80vh - 150px);
  overflow-x: hidden;
  overflow-y: auto;
}

.header-7 .header-top .header-top-center .quickSearchResultsWrap .search-block-title span {
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
}

.header-7 .header-top .header-top-center .quickSearchResultsWrap .item .link {
  border-radius: 5px;
}

.header-7 .header-top .header-top-center .quickSearchResultsWrap.show {
  top: calc(100% + 10px);
}

.header-7 .header-top .header-top--right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333% - 10px);
          flex: 0 0 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
}

.header-7 .header-top .header-top--right .header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-7 .header-top .header-top--right .customer-service-text {
  font-size: 14px;
  text-align: left;
  margin-right: 22px;
  position: relative;
  top: 5px;
  color: #ffffff;
}

.header-7 .header-top .header-top--right .customer-service-text a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.header-7 .header-top .header-top--right .header__icon {
  position: relative;
  text-align: center;
}

.header-7 .header-top .header-top--right .header__icon svg {
  width: 30px;
  height: 30px;
  margin: 0;
  position: relative;
  top: 2px;
  fill: #ffffff;
}

.header-7 .header-top .header-top--right .header__icon > span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  display: block !important;
  height: auto;
  margin-top: 10px;
  margin-left: 0;
  letter-spacing: 0;
  color: #ffffff;
}

.header-7 .header-top .header-top--right .header__icon .cart-count-bubble {
  position: absolute;
  right: -8px;
  top: -7px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #f84248;
}

.header-7 .header-top .header-top--right .header__icon .cart-count-bubble span {
  color: #ffffff;
}

.header-7 .header-top .header-top--right .header__icon + .header__icon {
  margin-left: 40px;
}

.header-7 .header-bottom {
  background: #232830;
}

.header-7 .header-bottom .header-bottom--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .menu-lv-1__action {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 700;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .label {
  font-size: 12px;
  border-radius: 3px;
  line-height: 18px;
  height: 18px;
  padding: 0 9px;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .label.new-label {
  background: #3dc781;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .label.hot-label {
  background: #ff750f;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .label.sale-label {
  background: #e52f69;
}

.header-7 .header-bottom .list-menu .menu-lv-1 .label::before {
  display: none;
}

.header-7 .header-bottom .list-menu .site-nav-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}

.header-7 .header-bottom .list-menu .product-card .card-price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-7 .header-bottom .header-language_currency {
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 0;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button {
  padding: 0;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .icon svg {
  width: 16px;
  height: 16px;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .text {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .text + svg {
  fill: #ffffff;
  width: 11px;
  height: 11px;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .text.text-language {
  position: relative;
}

.header-7 .header-bottom .header-language_currency .halo-language_currency .disclosure__button .text.text-language::after {
  position: absolute;
  content: "/";
  top: 0px;
  right: -14px;
  color: #ffffff;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fafafa;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  padding-bottom: 19px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency.show {
  top: calc(100% + 9px);
  opacity: 1;
  z-index: 9;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .dropdown-item {
  width: 50%;
  padding: 0;
  text-align: left;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .dropdown-item:hover {
  background: transparent;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .title {
  font-size: 16px;
  line-height: 24px;
  color: #232830;
  padding: 13px 30px 13px;
  font-weight: 600;
  background: #fafafa;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .text {
  position: relative;
  color: #232830;
  font-size: 14px;
  font-weight: 400;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 22px;
  letter-spacing: .02em;
  padding: 7px 15px 8px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item .icon svg {
  width: 24px;
  height: 24px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item.active span {
  font-weight: 600;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .currency-item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__list {
  background: transparent;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px 4px 30px;
  text-decoration: none;
  line-height: 1.8;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link .icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link .icon svg {
  width: 24px;
  height: 24px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link.disclosure__link--active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link.disclosure__link--active span {
  font-weight: 700;
}

.header-7 .header-bottom .header-language_currency .dropdown-language_currency .disclosure__link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-mobile {
  background: #232830;
}

.header-mobile .header-mobile--icon .mobileMenu-toggle {
  color: #ffffff;
}

.header-mobile .header-mobile--icon .mobileMenu-toggle .mobileMenu-toggle__Icon {
  background-color: #ffffff;
}

.header-mobile .header-mobile--icon .mobileMenu-toggle .mobileMenu-toggle__Icon::before, .header-mobile .header-mobile--icon .mobileMenu-toggle .mobileMenu-toggle__Icon::after {
  background-color: #ffffff;
}

.header-mobile .header-mobile--icon svg {
  fill: #ffffff;
}

.header-mobile .header-mobile--icon .cart-count-bubble {
  background-color: #f84248 !important;
}

.header-mobile .header-mobile--icon .cart-count-bubble span {
  color: #ffffff;
}
/*# sourceMappingURL=header-7.css.map */