.page-about-us-2 {
  margin-bottom: 13px;
}

.page-about-us-2 .about-us-header {
  position: relative;
  background-image: url(../../images/Pages/contact-us/about-bg-image.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center top;
  height: 270px;
  background-attachment: fixed;
}

.page-about-us-2 .about-us-header .breadcrumb {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 18px 0px 0px;
  margin: 0;
}

.page-about-us-2 .about-us-header .breadcrumb .separate svg {
  color: #ffffff;
  fill: #ffffff;
}

.page-about-us-2 .about-us-header .breadcrumb a {
  color: #ffffff;
}

.page-about-us-2 .about-us-header .page-heading .page-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .05em;
  color: #ffffff;
  position: relative;
  padding: 50px 0 17px;
  margin: 0;
}

.page-about-us-2 .about-us-header .page-heading .desc {
  margin-top: 5px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.page-about-us-2 .about-us-navigation {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  background-color: #fafafa;
  border: 1px solid;
  border-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.page-about-us-2 .about-us-navigation .nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.page-about-us-2 .about-us-navigation .nav .nav-item {
  position: relative;
  padding: 0px 25px;
}

.page-about-us-2 .about-us-navigation .nav .nav-item a {
  color: #232323;
  font-weight: 500;
  -webkit-transition: color .35s ease-in-out;
  transition: color .35s ease-in-out;
}

.page-about-us-2 .page-content .header-title {
  font-size: 26px;
  padding: 35px 15px 30px;
  letter-spacing: 0.05em;
  margin: 0;
}

.page-about-us-2 .page-content .banner-with-text {
  padding-bottom: 30px;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper > * {
  padding: 0;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 57.5%;
  height: 116%;
  background-color: #fafafa;
  z-index: -1;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-banner,
.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-row-carousel .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 27px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-row-carousel .slick-dots button {
  border-color: #ffffff;
  background: transparent;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-row-carousel .slick-dots li.slick-active button {
  background: #ffffff;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content {
  z-index: 2;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content .content-box {
  max-width: 475px;
  padding: 30px 15px;
  margin: 0 auto;
  position: relative;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content .content-box .title {
  display: inline-block;
  position: relative;
  font-size: 24px;
  color: #232323;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 24px;
  margin: 0 0 20px;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content .content-box .desc {
  font-size: 12px;
  color: #3c3c3c;
  line-height: 24px;
  margin: 0 0 35px;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper .halo-block-content .content-box .bottom {
  max-width: 165px;
  width: 100%;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.page-about-us-2 .page-content .banner-with-text .block-wrapper.row-reverse::after {
  left: 0;
}

.page-about-us-2 .page-content .custom-service-block .halo-block-header .title {
  color: #232323;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 13px;
}

.page-about-us-2 .page-content .custom-service-block .halo-block-header .title:before {
  display: none;
}

.page-about-us-2 .page-content .custom-service-block .halo-block-header .desc {
  color: #3c3c3c;
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 680px;
}

.page-about-us-2 .page-content .custom-service-block .halo-row-item {
  margin-top: 12px;
}

.page-about-us-2 .page-content .custom-service-block .custom-service-item .img-box {
  margin-bottom: 32px;
}

.page-about-us-2 .page-content .custom-service-block .custom-service-item .content .name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 9px;
  color: #232323;
  letter-spacing: .05em;
}

.page-about-us-2 .page-content .custom-service-block .custom-service-item .content .position {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #3c3c3c;
  letter-spacing: .02em;
}

@media (max-width: 767px) {
  .page-about-us-2 .banner-with-text .block-wrapper .col {
    max-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .page-about-us-2 .banner-with-text .block-wrapper::after {
    width: 100% !important;
    height: 100% !important;
  }
  .page-about-us-2 .banner-with-text .block-wrapper .content-box {
    max-width: 100% !important;
    padding: 30px 15px 40px !important;
  }
}

@media (min-width: 768px) {
  .page-about-us-2 .page-content .header-title {
    font-size: 30px;
    padding: 40px 15px;
  }
  .page-about-us-2 .page-content .banner-with-text {
    padding-bottom: 90px;
  }
}

@media (min-width: 1025px) {
  .page-about-us-2 .page-content .header-title {
    padding: 52px 15px 50px;
  }
  .page-about-us-2 .page-content .banner-with-text .block-wrapper .content-box .desc {
    margin-bottom: 42px !important;
  }
}

@media (min-width: 1600px) {
  .page-about-us-2 .page-content .banner-with-text {
    padding-bottom: 130px;
  }
}
/*# sourceMappingURL=about-us-2.css.map */