.page-about-us-2{
    margin-bottom: 13px;
    .about-us-header{
        position: relative;
        background-image: url(../../images/Pages/contact-us/about-bg-image.png);
        background-size: cover;
        background-repeat: repeat-x;
        background-position: center top;
        height: 270px;
        background-attachment: fixed;
        .breadcrumb{
            justify-content: center;
            color:#ffffff;
            padding: 18px 0px 0px;
            margin: 0;
            .separate {
                svg{
                    color: #ffffff;
                    fill: #ffffff;      
                }
            }
            a{
                color: #ffffff;
            }
        }
        .page-heading{
            .page-title{
                display: block;
                font-size: 24px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: .05em;
                color: #ffffff;
                position: relative;
                padding: 50px 0 17px;
                margin: 0;
            }
            .desc{
                margin-top: 5px;
                max-width: 540px;
                margin-left: auto;
                margin-right: auto;
                color: #ffffff;
            }
        }
    }
    .about-us-navigation{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 10px;
        background-color: #fafafa;
        border: 1px solid;
        border-color: #fafafa;
        display: flex;
        place-items: center;
        .nav{
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0 auto;
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            .nav-item{
                position: relative;
                padding: 0px 25px;
                a{
                    color: #232323;
                    font-weight: 500;
                    transition: color .35s ease-in-out;
                }
            }
        }
    }
    .page-content{
        .header-title{
            font-size: 26px;
            padding: 35px 15px 30px;
            letter-spacing: 0.05em;
            margin: 0;
        }
        .banner-with-text{
            padding-bottom: 30px;
            .block-wrapper{
                position: relative;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                & > *{
                    padding: 0;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 57.5%;
                    height: 116%;
                    background-color: #fafafa;
                    z-index: -1;
                }
                .halo-block-banner,
                .halo-block-content{
                    max-width: 50%;
                    flex-basis:50%;
                }
                .halo-row-carousel{
                    .slick-dots{
                        position: absolute;
                        left: 50%;
                        bottom: 27px;
                        transform: translate(-50%);
                        button{
                            border-color:#ffffff;
                            background:transparent;
                        }
                        li{
                            &.slick-active button{
                                background: #ffffff;
                            }
                        }
                    }
                }
                .halo-block-content{
                    z-index: 2;
                    .content-box{
                        max-width: 475px;
                        padding: 30px 15px;
                        margin: 0 auto;
                        position: relative;
                        .title{
                            display: inline-block;
                            position: relative;
                            font-size: 24px;
                            color: #232323;
                            font-weight: 600;
                            letter-spacing:.05em;
                            line-height:24px;
                            margin: 0 0 20px;
                        }
                        .desc{
                            font-size: 12px;
                            color: #3c3c3c;
                            line-height: 24px;
                            margin: 0 0 35px;
                        }
                        .bottom{
                            max-width: 165px;
                            width: 100%;
                        }
                    }
                }
                &.row-reverse{
                    flex-direction: row-reverse;
                    &::after{
                        left:0;
                    }
                }
            }
        }
        .custom-service-block{
            .halo-block-header{
                .title{
                    color: #232323;
                    font-size: 24px;
                    margin-bottom: 20px;
                    margin-top: 13px;
                    &:before{
                        display:none;
                    }
                }
                .desc{
                    color: #3c3c3c;
                    font-size: 12px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 680px;
                }
            }
            .halo-row-item{
                margin-top: 12px;
            }
            .custom-service-item{
                .img-box{
                    margin-bottom: 32px;
                }
                .content{
                    .name{
                        display: block;
                        font-weight: 700;
                        font-size:  18px;
                        margin-bottom: 9px;
                        color: #232323;
                        letter-spacing: .05em;
                    }
                    .position{
                        margin-top: 0;
                        margin-bottom:0;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 22px;
                        color: #3c3c3c;
                        letter-spacing: .02em;
                    }
                }
            }
        }
    }
}

@media(max-width:767px){
    .page-about-us-2 {
        .banner-with-text {
            .block-wrapper {
                .col{
                    max-width: 100%!important;
                    flex-basis: 100%!important;
                }
                &::after{
                    width: 100%!important;
                    height: 100%!important;
                }
                .content-box{
                    max-width: 100%!important;
                    padding: 30px 15px 40px!important;
                }
            }
        }
    }
}

@media(min-width:768px){
    .page-about-us-2{
        .page-content{
            .header-title{
                font-size: 30px;
                padding: 40px 15px;
            }
            .banner-with-text{
                padding-bottom: 90px;
            }
        }
    }
}
@media(min-width:1025px){
    .page-about-us-2{
        .page-content{
            .header-title{
                padding: 52px 15px 50px;
            }
            .banner-with-text{
                .block-wrapper{
                    .content-box{
                        .desc{
                            margin-bottom: 42px!important;
                        } 
                    }
                }
            }  
        }
    }
}
@media(min-width:1600px){
    .page-about-us-2{
        .page-content{
            .banner-with-text{
                padding-bottom: 130px;
            }
        }
    }
}