.faqs .breadcrumb {
  margin-bottom: 0;
}

.faqs .halo-faqs-content .link-support {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.faqs .page-header {
  position: relative;
  font-weight: bold;
  font-style: normal;
  color: #232323;
  display: block;
  letter-spacing: .05em;
  line-height: 20px;
  font-size: 24px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 38px;
}

.faqs .faqs-message-and-questions {
  margin-top: 45px;
}

.faqs .faqs-title:after {
  content: "";
  background-color: #69c69c;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.faqs .faqs-title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 28px;
  padding-bottom: 7px;
}

.faqs .page-subheader {
  display: block;
  position: relative;
  color: #232323;
  font-size: calc(24px - 6px);
  font-weight: 600;
  letter-spacing: .02em;
  line-height: calc(24px + 2px);
  margin: 0;
}

.paragraph-content.content-bottom {
  margin-top: 55px;
}

.faqs-message {
  width: 100%;
}

.faqs-message .content-top .faqs-body {
  margin-top: 35px;
}

.faqs-message .desc {
  margin-top: 27px;
}

.faqs-message .faqs-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 110px;
  margin-top: 26px;
  border: 2px solid #fafafa;
}

.faqs-message .faqs-icon-container .message-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  row-gap: 6px;
  height: 52px;
}

.faqs-message .faqs-icon-container .message-icon-text-1,
.faqs-message .faqs-icon-container .message-icon-text-2 {
  margin-top: 5px;
}

.faqs-message .faqs-icon-container .message-icon-1 + .message-icon-2 {
  border-left: 1px solid #232323;
}

.faqs-message .faqs-icon-container img {
  width: 28px;
  height: 29px;
}

.faqs-message .content-bottom {
  margin-top: 55px;
}

.faqs-message .content-bottom h3.title-technical {
  margin-top: 55px;
}

.faqs-item {
  cursor: pointer;
  background-color: #fafafa;
  margin-top: 15px;
  padding-bottom: 20px;
}

.faqs-item .faqs-heading {
  display: inline-block;
  position: relative;
  color: #232323;
  width: 100%;
  top: 8px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: .02em;
}

.faqs-item .faqs-heading .text {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 135px 5px 30px;
}

.faqs-item .arrow {
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 11px;
  height: 11px;
  z-index: 2;
  padding: 3px;
  -webkit-transition: all ease .55s;
  transition: all ease .55s;
  border: solid #232323;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.faqs-item .icon-plus {
  right: 32px;
}

.faqs-item .desc-demo {
  position: relative;
  width: 100%;
  padding: 25px 0 10px 0;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .02em;
  color: #3c3c3c;
  border-top: 1px solid #767676;
}

.faqs-item .desc-demo .list-item:first-child {
  margin-top: 18px;
}

.faqs-item .desc-demo ul {
  margin: 0;
}

.faqs-item .desc-demo .list-item {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  margin-top: 17px;
}

.faqs-item .desc-demo .list-item .list-circle-container {
  height: 100%;
  width: 7px;
  margin: 0;
  padding: 0;
}

.faqs-item .desc-demo .list-item .list-circle-container .list-circle:empty {
  display: inline-block;
}

.faqs-item .desc-demo .list-item .list-circle-container .list-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #232323;
}

.faqs-item .desc-demo .list-item .a-color {
  color: #0688E2;
}

.faqs-item:not(.collapsed) .arrow {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.box-desc {
  padding: 16px 30px 0 30px;
}

.button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 50px 0 100px 0;
}

.button-contact a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ef6454;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: .05em;
  width: 245px;
  height: 46px;
}

.button-contact .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  letter-spacing: .02em;
  height: 46px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .faqs-message {
    margin-bottom: 35px;
  }
  .faqs-message-and-questions {
    margin-top: 25px;
  }
  .faqs-item .icon-plus {
    right: 10px;
  }
  .faqs-item {
    padding-bottom: 5px;
  }
  .faqs-item .desc-demo {
    padding: 15px 0 0 0;
  }
  .button-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .button-contact .btn-text {
    padding-right: 0;
  }
  .box-desc {
    padding: 10px;
  }
  .faqs-item .faqs-heading .text {
    padding: 5px 35px 5px 10px;
  }
  .faqs-item .faqs-heading {
    top: 0;
  }
}

@media (min-width: 768px) {
  .faqs-message {
    max-width: 298px;
  }
}
/*# sourceMappingURL=faqs.css.map */