@-webkit-keyframes box-shadow {
  0%,
  100% {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 4px;
    box-shadow: 0 0 0 4px;
  }
}

@keyframes box-shadow {
  0%,
  100% {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 4px;
    box-shadow: 0 0 0 4px;
  }
}

.lookbook-page {
  margin-bottom: 20px;
}

.lookbook-page .page-header .page-title {
  margin-bottom: 37px;
}

.lookbook-page .slick-arrow {
  width: 60px;
  height: 60px;
  border: none;
}

.lookbook-page .slick-arrow.slick-next {
  right: -77px;
}

.lookbook-page .slick-arrow.slick-prev {
  left: -77px;
}

.lookbook-page .slick-arrow:hover {
  background-color: #ffffff;
}

.lookbook-page .slick-arrow:hover svg {
  fill: #232323;
  color: #ffffff;
}

.lookbook-page .halo-row-carousel .item-lookbook .image-mobile {
  display: none;
}

.lookbook-page .lookbook-bottom .list-social {
  text-align: center;
}

.lookbook-page .lookbook-bottom .list-social ul {
  margin: 0;
  padding: 30px 0px 15px;
}

.lookbook-page .lookbook-bottom .list-social .list-social__item {
  padding-left: 0;
  margin: 0px 4px 6px 0;
}

.lookbook-page .lookbook-bottom .list-social .list-social__item .list-social__link::before {
  display: none;
}

.lookbook-page .lookbook-bottom .list-social .list-social__item svg {
  width: 26px;
  height: 26px;
}

.lookbook-page .lookbook-bottom .list-social .list-social__item:nth-child(1) {
  padding-left: 0;
}

.lookbook-page .lookbook-bottom .action {
  text-align: center;
}

.lookbook-page .lookbook-bottom .action .button {
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.lookbook-page .point-icon {
  position: absolute;
  z-index: 2;
  width: 27px;
  height: 27px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  background-color: #232323;
}

.lookbook-page .point-icon::before {
  -webkit-animation: box-shadow 1.5s linear infinite;
          animation: box-shadow 1.5s linear infinite;
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: rgba(35, 35, 35, 0.3);
}

.lookbook-page .point-icon .glyphicon::before, .lookbook-page .point-icon .glyphicon::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.lookbook-page .point-icon .glyphicon::before {
  width: 12px;
  height: 2px;
  top: 13px;
  left: 7px;
}

.lookbook-page .point-icon .glyphicon::after {
  width: 2px;
  height: 12px;
  top: 8px;
  left: 12px;
}

.lookbook-page .popup-lookbook-mb {
  opacity: 0;
}

.lookbook-page .popup-lookbook {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 210px;
}

.lookbook-page .popup-lookbook.open {
  opacity: 1;
  z-index: 9;
}

.lookbook-page .popup-lookbook .pupop-top img {
  width: 100%;
  height: 100%;
}

.lookbook-page .popup-lookbook .icon-close-popup {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 9;
}

.lookbook-page .popup-lookbook .icon-close-popup svg {
  width: 100%;
  height: 100%;
  fill: #232323;
}

.lookbook-page .popup-lookbook .content-popup {
  padding: 15px 20px 20px;
  background-color: #ffffff;
}

.lookbook-page .popup-lookbook .content-popup .card-vendor a {
  font-size: 12px;
  color: #969696;
  letter-spacing: .02em;
  font-weight: 400;
  margin-bottom: 3px;
}

.lookbook-page .popup-lookbook .content-popup .card-title .text {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .02em;
  color: #232323;
  font-weight: 500;
}

.lookbook-page .popup-lookbook .content-popup .card-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.lookbook-page .popup-lookbook .content-popup .card-price .money {
  font-size: 14px;
  font-weight: 600;
  color: #232323;
  line-height: 25px;
  padding: 4px 0 11px 0;
  display: block;
}

.lookbook-page .popup-lookbook .content-popup .button-2 {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.lookbook-page .popup-lookbook .content-popup .button {
  padding: 10px;
}

.lookbook-page .wrapper-popup {
  position: absolute;
  top: 19%;
  right: 35%;
  z-index: 12;
}

.halo-custom-banner {
  clear: both;
}

.halo-custom-banner .halo-row-item .sub-banner-title {
  font-size: 12px;
  letter-spacing: .02em;
  color: #232323;
  font-weight: 400;
  margin: 0px 0px 19px;
}

.halo-custom-banner .halo-row-item .banner-title {
  font-size: 30px;
  letter-spacing: .05em;
  margin-bottom: 14px;
}

.halo-custom-banner .halo-row-item .line {
  width: 40px;
  height: 2px;
  display: block;
  background: #232323;
  border: 1px solid #232323;
  text-align: left;
  margin: 0 auto 19px;
}

.halo-custom-banner .halo-row-item .desc {
  font-size: 12px;
  letter-spacing: .02em;
  color: #3c3c3c;
  line-height: 22px;
  margin: 0 auto 33px;
  max-width: 450px;
}

.halo-custom-banner .halo-row-item .button {
  width: 100%;
  max-width: 237px;
}

.halo-custom-banner.style-3 .wrapper-content {
  background: #fff6f6;
  width: 100%;
  height: 100%;
  position: relative;
}

.halo-custom-banner.style-3 .wrapper-content .content-box {
  max-width: 370px;
}

.halo-custom-banner.style-3 .halo-row-item .line {
  margin: 0;
}

.halo-custom-banner.style-3 .halo-row-item .banner-title {
  font-size: 40px;
  letter-spacing: .02em;
  font-weight: 700;
  color: #232323;
  padding: 43px 0px 18px;
}

.halo-custom-banner.style-3 .halo-row-item .desc {
  max-width: 100%;
  color: #3c3c3c;
  padding-bottom: 12px;
  line-height: 24px;
}

.halo-custom-banner.style-3 .halo-row-item .button {
  max-width: 210px;
  text-align: center;
}

.halo-block-five-banner {
  margin-top: 30px;
}

.halo-block-five-banner .halo-row-item:first-child {
  margin-bottom: 30px;
}

.halo-block-five-banner .halo-row-item .img-box {
  position: relative;
}

.halo-block-five-banner .halo-row-item .img-box + .img-box {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .lookbook-page .slick-dots {
    position: absolute;
    bottom: 17%;
  }
  .lookbook-page .slick-dots button {
    border: 1px solid #ffffff;
    background: #ffffff;
    width: 14px;
    height: 14px;
  }
  .lookbook-page .slick-dots li.slick-active button {
    background: rgba(255, 255, 255, 0);
    border-color: #ffffff;
  }
  .lookbook-page .slick-dots {
    bottom: 6% !important;
  }
}

@media (max-width: 992px) {
  .halo-custom-banner.style-3 .wrapper-content .content-box {
    padding: 50px 30px 40px;
  }
}

@media (max-width: 768px) {
  .lookbook-page .halo-row-carousel .item-lookbook .popup-lookbook {
    top: 7% !important;
    left: 48.8% !important;
    max-width: 150px;
  }
  .lookbook-page .halo-row-carousel .item-lookbook .popup-lookbook .button {
    min-width: 100px;
  }
}

@media (max-width: 767px) {
  .lookbook-page .halo-row-carousel .item-lookbook .image-mobile {
    display: block;
  }
  .lookbook-page .halo-row-carousel .item-lookbook .image-desktop {
    display: none;
  }
  .lookbook-page .lookbook-bottom .list-social ul {
    margin: 0;
    margin-left: -15px;
    padding: 15px 0px 17px;
  }
  .lookbook-page .lookbook-bottom .list-social__item {
    margin: 0;
    padding-left: 0 !important;
  }
  .lookbook-page .popup-lookbook {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 40% !important;
    left: 3% !important;
    width: 100%;
    max-width: calc(100% - 30px);
  }
  .lookbook-page .popup-lookbook .icon-close-popup {
    top: -14px;
    right: -12px;
    background: #232323;
    width: 25px;
    height: 25px;
  }
  .lookbook-page .popup-lookbook .icon-close-popup svg {
    width: 12px;
    height: 12px;
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .lookbook-page .popup-lookbook .button {
    display: none;
  }
  .lookbook-page .popup-lookbook .pupop-top {
    background-color: #ffffff;
    width: 100%;
    max-width: 100px;
  }
  .lookbook-page .popup-lookbook .popup-button .content-popup {
    padding: 20px;
    margin-left: -3px;
  }
  .lookbook-page .popup-lookbook .popup-button .content-popup .price {
    padding: 12px 0 4px 0;
  }
  .halo-custom-banner.style-3 .wrapper-content {
    height: auto;
  }
  .halo-custom-banner.style-3 .content-box {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 20px;
  }
  .halo-custom-banner.style-3 .halo-row-item .banner-title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .halo-custom-banner.style-3 .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .halo-block-five-banner .halo-row-item:first-child {
    margin-bottom: 0;
  }
  .halo-block-five-banner .halo-row-item .img-box {
    position: relative;
  }
  .halo-block-five-banner .halo-row-item .img-box + .img-box {
    margin-top: 20px;
  }
  .halo-block-five-banner.style-2 .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1025px) {
  .halo-block-five-banner .halo-row-item .img-box {
    position: relative;
  }
  .halo-block-five-banner .halo-row-item .img-box + .img-box {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=lookbook.css.map */