.page-password-2{
    &.page{
        padding: 0;
    }
    .header{
        .announcement-bar{
            background-color: #f5f5f5;
            color: #232323;
            .message{
                padding: 7px 15px;
                position: relative;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .05em;
                line-height: 22px;
                margin: 0;
                a{
                    color: #7a7a7a;
                    letter-spacing: .02em;
                    text-transform: initial;
                    font-weight: 400;
                }
            }
        }
        .header-logo{
            display: flex;
            justify-content: center;
            padding: 20px 0px 20px;
            .logo{
                width: 100%;
                max-width: 65px;
                display: block;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .page-content{
        .top-content{
            .fullwidth-banner{
                .halo-block-content{
                    .img-box{
                        .image{
                            position: relative;
                            background-image: url(../../images/Pages/password/banner-section.jpg);
                            background-size: cover;
                            background-repeat: repeat-x;
                            background-position: center center;
                            background-attachment: fixed;
                        }
                    }
                    .content-box{
                        .sub-title{
                            font-size: 16px;
                            letter-spacing: .05em;
                            font-weight: 400;
                            color: #ffffff;
                            margin-bottom: 15px;
                            span{
                                background-image: linear-gradient(transparent 97%, #ffffff 3%);
                                background-repeat: repeat-x;
                                background-position-y: 0px;
                            }
                            
                        }
                        .banner-title{
                            font-size: 40px;
                            letter-spacing: .05em;
                            color: #ffffff;
                            font-weight: 800;
                            margin-bottom: 12px;
                        }
                        .countdownText{
                            color: #FFFFFF;
                            text-align: center;
                            margin-bottom: 28px;
                            letter-spacing: .02em;
                        }
                    }

                    .password-countdown{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 10px 0 45px 0;
                        .clock-item{
                            text-align: center;
                            margin-right: 10px;
                            &:last-child{
                                margin-right: 0;
                            }
                            span{
                                &::before,
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #e0e0e0;
                                    position: absolute;
                                    left: 0;
                                }
                                &::before{
                                    bottom: 2px
                                }
                                &::after{
                                    bottom: 5px
                                }
                            }
                            p{
                                display: block;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: .02em;
                                margin-top: 6px;
                                color: #ffffff;
                            }
                        }
                        .num{
                            display: flex;
                            span{
                                display: inline-block;
                                font-size: 20px;
                                font-weight: 600;
                                letter-spacing:.02em;
                                line-height: normal;
                                margin-right: 5px;
                                min-width: 25px;
                                min-height: 32px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                border-radius: 3px;
                                background: #FFFFFF;
                                color: #232323;
                                font-size: 30px;
                                min-width: 59px;
                                min-height: 75px;
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .password-form{
                        width: 100%;
                        max-width: 425px;
                        margin: 12px auto 0px;
                        label{
                            letter-spacing: .02em;
                            margin: 0 0 15px;
                            color: #ffffff;
                            text-align: center;
                            font-weight: 400;
                            display: block;
                        }
                        .form-input{
                            text-align: center;
                            padding: 13px 15px 14px;
                            border: none;
                            width: 100%;
                        }
                        .button{
                            width: 100%;
                            margin-top: 15px;
                            padding: 14px 15px 14px;
                        }
                    }
                }
            }
        }
        .bottom-content{
            background: #f5f5f5;
            text-align: center;
            padding: 63px 0px 5px;
            .title{
                font-size: 24px;
                letter-spacing: .05em;
                font-weight: 600;
                color: #232323;
                margin-bottom: 13px;
            }
            .desc{
                font-size: 12px;
                line-height: 24px;
                letter-spacing: .02em;
                color: #3c3c3c;
                margin-bottom: 15px;
            }
            .contact-form{
                width: 100%;
                max-width: 425px;
                margin: 30px auto 30px;
                .field__input{
                    text-align: center;
                    padding: 13px 15px 14px;
                    width: 100%;
                }
                .button{
                    width: 100%;
                    margin-top: 15px;
                    padding: 14px 15px 14px;
                }
                .global-checkbox{
                    padding: 18px 0px 18px;
                    label{
                        color: #848484;
                        &::before{
                            top: 2px;
                            background: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .footer{
        background: #ffffff;
        .copyright__content {
            padding: 28px 0px 40px;
        }
        .copyright__content,
        a{
            font-size: 12px;
            line-height: 24px;
            letter-spacing: .02em;
            color: #848484;
        }
    }

}
@media(max-width:1024px){
    .page-password-2 .fullwidth-banner .halo-block-content .img-box .image{
        min-height: 600px!important;
    }
}
@media(max-width:600px){
    .page-password-2 .password-countdown .num span{
        font-size: 20px!important;
        min-width: 40px!important;
        min-height: 40px!important;
    }
}
@media(max-width:420px){
    .page-password-2 .password-countdown .num span{
        font-size: 18px!important;
        min-width: 30px!important;
        min-height: 38px!important;
    }
}
@media(max-width:320px){
    .page-password-2 .password-countdown .num span{
        font-size: 18px!important;
        min-width: 25px!important;
        min-height: 35px!important;
    }
}
@media (min-width: 360px) {
    .password-countdown{
        .clock-item {
            margin-right: 15px;
        }
        .num{
            span{
                min-width: 30px;
                min-height: 38px;
            }
        }
    } 
}
@media (min-width: 768px) {
    .password-countdown {
        .num {
            span {
                font-size: 30px;
                min-width: 59px;
                min-height: 75px;
            }
        }
        .clock-item{
            margin-right: 20px;
        }
    }
}