.page-password-2.page {
  padding: 0;
}

.page-password-2 .header .announcement-bar {
  background-color: #f5f5f5;
  color: #232323;
}

.page-password-2 .header .announcement-bar .message {
  padding: 7px 15px;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 22px;
  margin: 0;
}

.page-password-2 .header .announcement-bar .message a {
  color: #7a7a7a;
  letter-spacing: .02em;
  text-transform: initial;
  font-weight: 400;
}

.page-password-2 .header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px;
}

.page-password-2 .header .header-logo .logo {
  width: 100%;
  max-width: 65px;
  display: block;
}

.page-password-2 .header .header-logo .logo img {
  width: 100%;
  height: 100%;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .img-box .image {
  position: relative;
  background-image: url(../../images/Pages/password/banner-section.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center center;
  background-attachment: fixed;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .content-box .sub-title {
  font-size: 16px;
  letter-spacing: .05em;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .content-box .sub-title span {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(97%, transparent), color-stop(3%, #ffffff));
  background-image: linear-gradient(transparent 97%, #ffffff 3%);
  background-repeat: repeat-x;
  background-position-y: 0px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .content-box .banner-title {
  font-size: 40px;
  letter-spacing: .05em;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 12px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .content-box .countdownText {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 28px;
  letter-spacing: .02em;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 45px 0;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item {
  text-align: center;
  margin-right: 10px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item:last-child {
  margin-right: 0;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item span::before, .page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item span::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  left: 0;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item span::before {
  bottom: 2px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item span::after {
  bottom: 5px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .clock-item p {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: .02em;
  margin-top: 6px;
  color: #ffffff;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .num span {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .02em;
  line-height: normal;
  margin-right: 5px;
  min-width: 25px;
  min-height: 32px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 3px;
  background: #FFFFFF;
  color: #232323;
  font-size: 30px;
  min-width: 59px;
  min-height: 75px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-countdown .num span:last-child {
  margin-right: 0;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-form {
  width: 100%;
  max-width: 425px;
  margin: 12px auto 0px;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-form label {
  letter-spacing: .02em;
  margin: 0 0 15px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  display: block;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-form .form-input {
  text-align: center;
  padding: 13px 15px 14px;
  border: none;
  width: 100%;
}

.page-password-2 .page-content .top-content .fullwidth-banner .halo-block-content .password-form .button {
  width: 100%;
  margin-top: 15px;
  padding: 14px 15px 14px;
}

.page-password-2 .page-content .bottom-content {
  background: #f5f5f5;
  text-align: center;
  padding: 63px 0px 5px;
}

.page-password-2 .page-content .bottom-content .title {
  font-size: 24px;
  letter-spacing: .05em;
  font-weight: 600;
  color: #232323;
  margin-bottom: 13px;
}

.page-password-2 .page-content .bottom-content .desc {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .02em;
  color: #3c3c3c;
  margin-bottom: 15px;
}

.page-password-2 .page-content .bottom-content .contact-form {
  width: 100%;
  max-width: 425px;
  margin: 30px auto 30px;
}

.page-password-2 .page-content .bottom-content .contact-form .field__input {
  text-align: center;
  padding: 13px 15px 14px;
  width: 100%;
}

.page-password-2 .page-content .bottom-content .contact-form .button {
  width: 100%;
  margin-top: 15px;
  padding: 14px 15px 14px;
}

.page-password-2 .page-content .bottom-content .contact-form .global-checkbox {
  padding: 18px 0px 18px;
}

.page-password-2 .page-content .bottom-content .contact-form .global-checkbox label {
  color: #848484;
}

.page-password-2 .page-content .bottom-content .contact-form .global-checkbox label::before {
  top: 2px;
  background: #ffffff;
}

.page-password-2 .footer {
  background: #ffffff;
}

.page-password-2 .footer .copyright__content {
  padding: 28px 0px 40px;
}

.page-password-2 .footer .copyright__content,
.page-password-2 .footer a {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .02em;
  color: #848484;
}

@media (max-width: 1024px) {
  .page-password-2 .fullwidth-banner .halo-block-content .img-box .image {
    min-height: 600px !important;
  }
}

@media (max-width: 600px) {
  .page-password-2 .password-countdown .num span {
    font-size: 20px !important;
    min-width: 40px !important;
    min-height: 40px !important;
  }
}

@media (max-width: 420px) {
  .page-password-2 .password-countdown .num span {
    font-size: 18px !important;
    min-width: 30px !important;
    min-height: 38px !important;
  }
}

@media (max-width: 320px) {
  .page-password-2 .password-countdown .num span {
    font-size: 18px !important;
    min-width: 25px !important;
    min-height: 35px !important;
  }
}

@media (min-width: 360px) {
  .password-countdown .clock-item {
    margin-right: 15px;
  }
  .password-countdown .num span {
    min-width: 30px;
    min-height: 38px;
  }
}

@media (min-width: 768px) {
  .password-countdown .num span {
    font-size: 30px;
    min-width: 59px;
    min-height: 75px;
  }
  .password-countdown .clock-item {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=password-2.css.map */