.page-password {
  height: 100vh;
  overflow-y: clip;
}

.page-password .background-banner {
  position: relative;
}

.page-password .background-banner .img-box .image {
  position: relative;
  padding-bottom: 129.7297297297297%;
}

.page-password .background-banner .img-box .image-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.page-password .background-banner .password-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  right: 55px;
  color: #ffffff;
  letter-spacing: .02em;
}

.page-password .background-banner .password-form .link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 18px;
}

.page-password .background-banner .password-form #login_form {
  width: 100%;
  max-width: 300px;
  display: none;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 0 0 1px #000000;
          box-shadow: 0 0 0 1px #000000;
  cursor: default;
}

.page-password .background-banner .password-form .form-mail {
  max-width: 260px;
}

.page-password .background-banner .password-form .button.button-1 {
  margin-top: 10px;
  width: 100%;
  max-width: 260px;
}

.page-password .background-banner .password-form svg {
  width: 25px;
  height: 20px;
  margin-left: 20px;
}

.page-password .background-banner .popup-password {
  position: absolute;
  right: 22px;
  top: 100%;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 300px;
}

.page-password .background-banner .popup-password.open {
  top: calc(100% + 20px);
  opacity: 1;
  z-index: 9;
  overflow: visible;
}

.page-password .wrapper-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.page-password .wrapper-content .content {
  width: 100%;
  max-width: 382px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-password .wrapper-content .content .logo {
  position: absolute;
  top: 30px;
  left: 60px;
  width: 68px;
  height: auto;
}

.page-password .wrapper-content .content .contact-form {
  width: 100%;
}

.page-password .wrapper-content .content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-password .wrapper-content .content .title .title-top,
.page-password .wrapper-content .content .title .title-bottom {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: .02em;
  margin-bottom: 0;
}

.page-password .wrapper-content .content .desc {
  padding: 22px 0;
}

.page-password .wrapper-content .content .button {
  width: 100%;
  max-width: 380px;
  margin: 15px 0;
}

.page-password .wrapper-content .content .button-2 {
  text-transform: capitalize;
  font-weight: 400;
}

.page-password .wrapper-content .content .form-field {
  text-align: center;
}

.page-password .wrapper-content .content .form-field .text-checkbox {
  color: #b3b3b3;
  font-size: 12px;
  letter-spacing: .02em;
  font-weight: 400;
}

.page-password .wrapper-content .content .form-field .text {
  position: relative;
  top: -1px;
}

.page-password .wrapper-content .content .social-icon {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-password .wrapper-content .content .social-icon li {
  padding-left: 20px;
}

.page-password .wrapper-content .content .social-icon li:nth-child(1) {
  padding-left: 0;
}

.page-password .wrapper-content .content .social-icon svg {
  width: 20px;
  height: 20px;
}

.page-password .wrapper-content .content .coppyright {
  position: absolute;
  bottom: 60px;
  left: 60px;
  color: #848484;
  font-size: 12px;
  letter-spacing: .02em;
  font-weight: 400;
  width: 100%;
}

.page-password .wrapper-content .global-checkbox {
  text-align: center;
  padding: 3px 0px 15px;
}

@media (max-width: 768px) {
  .password-page .wrapper-content .content .contact-form {
    width: calc(100% - 30px);
  }
}

@media (max-width: 1024px) {
  .password-page .background-banner .img-box .image {
    position: relative;
    padding-bottom: 129.7297297297297%;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .password-page .wrapper-content {
    position: absolute;
  }
  .password-page .wrapper-content .content {
    background-color: transparent;
    z-index: 11;
  }
  .password-page .wrapper-content .content .title .our, .password-page .wrapper-content .content .title .will {
    font-weight: bold;
  }
  .password-page .wrapper-content .content .logo {
    top: 20px;
    left: 20px;
  }
  .password-page .wrapper-content .content .form-field .text-checkbox {
    color: #232323;
  }
  .password-page .wrapper-content .content .coppyright {
    left: 5px;
    text-align: center;
    color: #232323;
  }
  .password-page .wrapper-content .content input#NewsletterForm--Popup {
    background: transparent;
    border: 1px solid;
  }
  .password-page .wrapper-content .content .coppyright {
    text-align: center;
    left: 0;
    color: #232323;
  }
  .password-page .wrapper-content .content .form-label--checkbox:before {
    border-color: #232323;
  }
  .password-page .background-banner .password-form {
    top: 25px;
    right: 0;
  }
  .password-page .background-banner .password-form .link {
    color: #232323;
  }
  .password-page .background-banner .img-box .image::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 0;
  }
}

@media (max-width: 320px) {
  .password-page .wrapper-content .content .title .title-top,
  .password-page .wrapper-content .content .title .title-bottom {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
}
/*# sourceMappingURL=password.css.map */