.page-wishlist .heading {
  margin-bottom: 12px;
}

.page-wishlist .wishlist-rowHeading {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.9658% 41.735% 15.102% 16.094% auto;
      grid-template-columns: 11.9658% 41.735% 15.102% 16.094% auto;
  background-color: #fafafa;
}

.page-wishlist .wishlist-rowHeading .wishlist-rowItem {
  font-size: 12px;
  font-weight: 600;
  color: #232323;
  letter-spacing: .05em;
  line-height: 22px;
  padding: 11.5px 0;
  margin: 0;
  border: none;
}

.page-wishlist .wishlist-rowHeading .wishlist-image {
  margin-left: 20px;
  max-width: 120px;
  width: 100%;
}

.page-wishlist .wishlist-rowHeading .wishlist-product-name {
  max-width: 385px;
  width: 100%;
}

.page-wishlist .wishlist-rowHeading .wishlist-price {
  max-width: 70px;
  width: 100%;
  text-align: center;
}

.page-wishlist .wishlist-rowHeading .wishlist-add {
  width: 100%;
  max-width: 441px;
  text-align: center;
}

.page-wishlist .wishlist-rowHeading .wishlist-remove {
  width: 100%;
  max-width: 114px;
  margin: 0 auto;
  text-align: end;
}

.page-wishlist .wishlist-items .wishlist-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wishlist .wishlist-items .wishlist-add {
  text-align: -webkit-center;
}

.page-wishlist .wishlist-items .wishlist-row {
  border: 1px solid #e7e7e7;
  margin-top: 10px;
  min-height: 164px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.9658% 42.735% 14.102% 18.094% auto;
      grid-template-columns: 11.9658% 42.735% 14.102% 18.094% auto;
}

.page-wishlist .wishlist-items .wishlist-row .item .item-image {
  display: block;
  overflow: hidden;
  margin: 15px;
  width: 80px;
}

.page-wishlist .wishlist-items .wishlist-row .item-vendor {
  font-size: 12px;
  line-height: 22px;
  color: #999999;
  font-weight: 400;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 10px;
}

.page-wishlist .wishlist-items .wishlist-row .item-price .money {
  font-size: 14px;
  font-weight: 500;
  color: #232323;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-add .button {
  width: 100%;
  max-width: 210px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-add .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
  height: 45px;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-remove {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 45px;
}

.page-wishlist .wishlist-items .wishlist-row .wishlist-remove .item-remove svg {
  width: 20px;
  height: 20px;
}

.page-wishlist .wishlist-footer {
  margin-top: 30px;
  margin-bottom: 5px;
}

.page-wishlist .wishlist-footer .wishlist-share {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  float: left;
}

.page-wishlist .wishlist-footer .wishlist-share .mail-icon-container {
  width: 46px;
  height: 46px;
  background-color: #fafafa;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wishlist .wishlist-footer .wishlist-share .mail-icon-container .icon-mail {
  width: 25px;
  height: 20px;
}

.page-wishlist .wishlist-footer .wishlist-share .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
}

.page-wishlist .wishlist-footer .pagination__list {
  width: 50%;
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1024px) {
  .page-wishlist .wishlist-rowHeading {
    display: none !important;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row {
    -ms-grid-columns: 14.9658% 46.735% 25.102% auto auto;
        grid-template-columns: 14.9658% 46.735% 25.102% auto auto;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-rowItem:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-rowItem:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-price {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-add {
    position: relative;
    top: 0%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-remove {
    position: relative;
    top: 0%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .page-wishlist .wishlist-items .wishlist-row {
    -ms-grid-columns: 16% 35% 14.102% 18.094% auto;
        grid-template-columns: 16% 35% 14.102% 18.094% auto;
  }
}

@media (max-width: 767px) {
  .page-wishlist .wishlist-items .wishlist-row {
    -ms-grid-columns: 30% 60% auto;
        grid-template-columns: 30% 60% auto;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-price {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-add {
    margin: 5px 0 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-add .button {
    max-width: 170px;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-remove {
    padding-left: 0;
    position: relative;
    left: -15px;
    top: -2px;
  }
  .page-wishlist .wishlist-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .page-wishlist .wishlist-footer .wishlist-share {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-wishlist .wishlist-footer .pagination__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 550px) {
  .page-wishlist .wishlists .wishlist-items .wishlist-row {
    -ms-grid-columns: 33% auto;
        grid-template-columns: 33% auto;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .item .item-image {
    margin: 10px;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-rowItem:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .page-wishlist .wishlists .wishlist-items .wishlist-row .wishlist-rowItem:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
}

@media (max-width: 320px) {
  .page-wishlist .wishlist-items .wishlist-row {
    -ms-grid-columns: 33% 60% auto;
        grid-template-columns: 33% 60% auto;
  }
  .page-wishlist .wishlist-items .wishlist-row .item .item-image {
    margin: 10px;
  }
  .page-wishlist .wishlist-items .wishlist-row .wishlist-product-name .item-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
/*# sourceMappingURL=wishlists.css.map */