.announcement-bar {
  background-color: #f7e3dc;
  color: #b05d5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.announcement-bar .message {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.header-5 .header-top {
  padding: 27px 0px 17px;
}

.header-5 .header-top .wrapper-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-5 .header-top .header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-5 .header-top .header-top-left .wrapper-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency {
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 0;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button {
  padding: 0;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .icon svg {
  width: 24px;
  height: 24px;
  position: relative;
  top: -4px;
  left: -7px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .text {
  font-size: 16px;
  font-weight: 400;
  color: #3c3c3c;
  letter-spacing: 0;
  margin-left: 10px;
  margin-right: 7px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .text + svg {
  position: relative;
  top: -1px;
  width: 12px;
  height: 12px;
  fill: #3c3c3c;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .text.text-language {
  position: relative;
  margin-right: 5px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .halo-language_currency .disclosure__button .text.text-language::after {
  position: absolute;
  content: "|";
  top: 0px;
  right: -10px;
  color: #3c3c3c;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fafafa;
  position: absolute;
  right: auto;
  left: 0;
  top: 10px;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  padding-bottom: 19px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency.show {
  top: calc(100% + 9px);
  opacity: 1;
  z-index: 9;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .dropdown-item {
  width: 50%;
  padding: 0;
  text-align: left;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .dropdown-item:hover {
  background: transparent;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .title {
  font-size: 16px;
  line-height: 24px;
  color: #232830;
  padding: 13px 30px 13px;
  font-weight: 600;
  background: #fafafa;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .text {
  position: relative;
  color: #232830;
  font-size: 14px;
  font-weight: 400;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 22px;
  letter-spacing: .02em;
  padding: 7px 15px 8px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item .icon svg {
  width: 24px;
  height: 24px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item.active span {
  font-weight: 500;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .currency-item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__list {
  background: transparent;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px 4px 30px;
  text-decoration: none;
  line-height: 1.8;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link .icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link .icon svg {
  width: 24px;
  height: 24px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link.disclosure__link--active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link.disclosure__link--active span {
  font-weight: 500;
}

.header-5 .header-top .header-top-left .wrapper-header-left .header-language_currency .dropdown-language_currency .disclosure__link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-5 .header-top .header-top-left .wrapper-header-left .text-header-left {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #3c3c3c;
  margin-left: 22px;
}

.header-5 .header-top .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-5 .header-top .header-top-right .header-search {
  max-width: 175px;
  margin-left: 0;
}

.header-5 .header-top .header-top-right .header-search .quickSearchResultsWrap.show {
  top: calc(100% + 15px);
}

.header-5 .header-top .header-top-right .header-search .quickSearchResultsWrap .search-block-title .text {
  font-size: 16px;
  text-transform: capitalize;
}

.header-5 .header-top .header-top-right .header-search .quickSearchResultsWrap .list-item .item .link {
  font-size: 14px;
}

.header-5 .header-top .header-top-right .search-bar {
  background-color: #ffffff;
  height: 27px;
  position: relative;
  top: 6px;
}

.header-5 .header-top .header-top-right .search-bar .input-group-field {
  font-size: 16px;
  color: #3c3c3c;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
}

.header-5 .header-top .header-top-right .search-bar .icon-search {
  padding: 0;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-5 .header-top .header-top-right .search-bar .icon-search svg {
  position: relative;
  top: -3px;
  width: 22px;
  height: 22px;
  fill: #3c3c3c !important;
}

.header-5 .header-top .header-top-right .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-5 .header-top .header-top-right .locations svg {
  width: 23px;
  height: 24px;
  fill: #3c3c3c;
  margin-left: 25px;
}

.header-5 .header-top .header-top-right .locations .wishlist svg,
.header-5 .header-top .header-top-right .locations .cart svg {
  margin-left: 22px;
}

.header-5 .header-top .header-top-right .locations .nav-wishlist,
.header-5 .header-top .header-top-right .locations .cart {
  position: relative;
}

.header-5 .header-top .header-top-right .locations .nav-wishlist .wishlist-quantity,
.header-5 .header-top .header-top-right .locations .cart .wishlist-quantity {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 22px;
  height: 22px;
  background-color: #232323;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-5 .header-bottom {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-5 .header-bottom .list-menu--disclosure li a {
  font-size: 16px;
}

.header-5 .header-bottom .space-megamenu_style_3 {
  padding: 30px 0 40px !important;
}

.header-5 .header-bottom .header-bottom--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-5 .header-bottom .menu-dropdown {
  border-top: 1px solid #efefef;
  padding: 30px 0 16px;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .menu-lv-1__action {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: capitalize;
  padding: 11px 22px 23px;
  color: #232323;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .label {
  font-size: 14px;
  border-radius: 3px;
  line-height: 22px;
  height: 22px;
  padding: 0 12px;
  right: -10px;
  top: -13px;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .label.new-label {
  color: #0a6cdc;
  background-color: #d2e7ff;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .label.hot-label {
  background: #feedbd;
  color: #fd9427;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .label.sale-label {
  background: #ffd8d7;
  color: #e10600;
}

.header-5 .header-bottom .list-menu .menu-lv-1 .label::before {
  display: none;
}

.header-5 .header-bottom .list-menu .site-nav-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
  margin: 0 0 6px;
}

.header-5 .header-bottom .list-menu .site-nav-link {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  padding: 6px 0;
}

.header-5 .header-bottom .list-menu .site-nav-link:hover {
  color: #234bbb;
}

.header-5 .header-bottom .list-menu .product-card .card-vendor {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0;
}

.header-5 .header-bottom .list-menu .product-card .card-title {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  padding: 3px 0px 0px;
}

.header-5 .header-bottom .list-menu .product-card .card-price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-5 .header-bottom .list-menu .product-card .card-price span {
  font-size: 16px;
}

.header-5 .header-bottom .list-menu .product-card .card-swatch .item {
  margin: 0px 7.5px;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .site-nav-banner .site-nav-banner--item {
  width: 100%;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .site-nav-banner .site-nav-banner--item .banner {
  margin-bottom: 20px;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .content-box .sub-title {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .content-box .title {
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  font-weight: 700;
  max-width: 175px;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .content-box .link {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .col-brands .title {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .col-brands .azbrandstable a {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.header-5 .header-bottom .list-menu .megamenu_style_2 .wrapper-mega-banner .col-brands .link-brands {
  font-size: 16px;
  color: #000000;
}

.header-5 .header-mobile .header__iconItem .header__icon span {
  color: #ffffff;
}

.header-5 .header-mobile .header__iconItem .header__icon--cart .cart-count-bubble {
  background-color: #000000;
}

@media (max-width: 1024px) {
  .header-5 .header-bottom {
    display: none;
  }
}
/*# sourceMappingURL=header-5.css.map */