@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400&family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap");
.skin-2 {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
}

.skin-2 .desc,
.skin-2 .link {
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0;
}

.skin-2 label {
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
}

.skin-2 input[type="text"],
.skin-2 input[type="email"] {
  padding: 13px 12px 12px;
  border-radius: 0;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
  color: #646464;
}

.skin-2 .icon {
  fill: #000000;
}

.skin-2 .link-underline:hover .text {
  text-underline-offset: 0.2rem;
}

.skin-2 .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  line-height: 28px;
  height: 55px;
}

.skin-2 .button.button-1 {
  background: #ffffff;
  border-color: #ffffff;
  color: #4f8b7b;
}

.skin-2 .button.button-1:hover {
  background: #4f8b7b;
  border-color: #ffffff;
  color: #ffffff;
}

.skin-2 .button.button-2 {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-2 .button.button-2:hover {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-2 .button.button-3 {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.skin-2 .button.button-3:hover {
  background: #ffffff;
  border-color: #000000;
  color: #000000;
}

.skin-2 .halo-block-header {
  position: relative;
  margin-bottom: 18px;
}

.skin-2 .halo-block-header .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  color: #202020;
}

.skin-2 .halo-block-header .title::before {
  display: none;
}

.skin-2 .halo-block-header .title span {
  width: 100%;
  background: transparent;
}

.skin-2 .card__badge {
  top: 0;
  left: 0;
}

.skin-2 .card__badge .badge {
  font-size: 14px;
}

.skin-2 .card__badge .badge.new-badge {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.skin-2 .card__badge .badge.Bundle-badge {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}

.skin-2 .card-price .price-item--regular {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

.skin-2 .product-card .product-card-information .card-vender {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 25px;
  color: #969696;
  margin-top: 2px;
}

.skin-2 .product-card .product-card-information .text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  line-height: 28px;
}

.skin-2 .product-card .product-card-information .card-price {
  margin-top: -3px;
  font-size: 16px;
  font-weight: 600;
}

.skin-2 .product-card .product-card-information .card-price .price-item.price-item--regular .money {
  color: #d5d5d5;
  font-weight: 400;
}

.skin-2 .product-card .product-card-information .card-price .price-item.price__last .money {
  color: #e74a45;
}

.skin-2 .product-card .product-card-information .card-price .price-item .money {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #000000;
  letter-spacing: 0;
}

.skin-2 .product-card .product-card-information .card-swatch {
  margin-top: 16px;
}

.skin-2 .product-card .card-product__group .card-icon .text {
  font-size: 14px;
}

.skin-2 .product-card .product-card-bottom {
  padding: 11px 0px 10px;
}

.skin-2 .product-card .card-action {
  background-color: #ffffff;
}

.skin-2 .product-card .card-action .button {
  height: 45px;
}

.skin-2.quickSearchResult-show {
  overflow: hidden;
}

.skin-2.quickSearchResult-show .background-header-search {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.skin-2 .halo-compare-color-popup .halo-popup-header .halo-popup-title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-2 .halo-compare-color-popup .wrapper-content .halo-compareColors .halo-compareColors-text {
  font-size: 16px;
}

.skin-2 .halo-ask-an-expert-popup .halo-popup-header .halo-popup-title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-2 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .heading {
  font-size: 16px;
  text-transform: capitalize;
}

.skin-2 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .text {
  font-size: 16px;
}

.skin-2 .halo-ask-an-expert-popup .wrapper-content .ask-an-expert .intro {
  font-size: 16px;
}

.skin-2 .halo-ask-an-expert-popup .form-input,
.skin-2 .halo-ask-an-expert-popup .field__input {
  font-size: 16px;
}

.skin-2 .halo-ask-an-expert-popup label {
  font-size: 16px;
}

.skin-2 .halo-ask-an-expert-popup .button {
  height: 50px;
}

.skin-2 .slick-arrow {
  width: 40px;
  height: 40px;
  top: 50%;
}

.skin-2 .slick-arrow:hover svg {
  fill: #000000;
  stroke: #000000;
}

.skin-2 .slick-arrow svg {
  top: -5px;
  right: 2px;
}

.skin-2 .slick-arrow.slick-prev {
  left: -15px;
}

.skin-2 .slick-arrow.slick-next {
  right: -15px;
}

.skin-2 .halo-recently-viewed-popup .recently-viewed-tab.recently-viewed-list .products-grid .no-products .text {
  font-size: 14px;
}

.skin-2 .productView-countDown .num {
  font-size: 16px;
}

.skin-2 .halo-accept-cookie-popup .desc,
.skin-2 .halo-accept-cookie-popup .group-action-links {
  font-size: 14px;
  line-height: 24px;
}

.skin-2 .header-language_currency .halo-language svg {
  position: relative;
  top: -1px;
}

.skin-2 .halo-auth-sidebar .halo-sidebar-header .title {
  font-size: 20px;
}

.skin-2 .halo-auth-sidebar .halo-sidebar-wrapper .form-field .form-input {
  font-size: 16px;
  padding: 16px 12px 15px;
}

.skin-2 .halo-auth-sidebar .halo-sidebar-wrapper .auth-actions .auth-link {
  font-size: 16px;
}

.skin-2 .halo-cart-sidebar .halo-sidebar-header .title {
  font-size: 20px;
}

.skin-2 .halo-cart-sidebar .slick-slider {
  position: static;
}

.skin-2 .halo-cart-sidebar .slick-dots {
  position: absolute;
  top: 38px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skin-2 .halo-cart-sidebar .product-card .product-card-bottom {
  padding: 11px 0 10px 40px;
  margin-top: -10px;
}

.skin-2 .halo-cart-sidebar .previewCartItem-price {
  font-size: 18px;
  font-weight: 500;
}

.skin-2 .halo-cart-sidebar .previewCartCollection .previewCartTitle {
  font-size: 18px;
}

.skin-2 .halo-cart-sidebar .previewCartCarousel .halo-row-item {
  padding: 0;
}

.skin-2 .halo-cart-sidebar .previewCartCarousel .card-media {
  width: 100%;
}

.skin-2 .halo-cart-sidebar .previewCartCarousel .card-media img {
  width: 108px;
  max-width: 108px;
}

.skin-2 .halo-cart-sidebar .previewCartItem-image {
  width: 108px;
}

.skin-2 .halo-cart-sidebar .previewCartItem-name {
  font-size: 16px;
}

.skin-2 .halo-cart-sidebar .haloCalculatorShipping .message {
  font-size: 16px;
}

.skin-2 .halo-cart-sidebar .previewCartItem-options span {
  font-size: 16px;
}

.skin-2 .halo-cart-sidebar .previewCartInfo .item {
  font-size: 18px;
}

.skin-2 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] + label {
  font-size: 16px;
}

.skin-2 .halo-cart-sidebar .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 16px;
}

.skin-2 .halo-edit-cart-popup .halo-popup-header .halo-popup-title {
  font-size: 18px;
}

.skin-2 .halo-edit-cart-popup .add-more {
  font-size: 16px;
}

.skin-2 .halo-edit-cart-popup .productView-variants .form__label {
  font-size: 16px;
}

.skin-2 .halo-edit-cart-popup .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-2 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title {
  font-size: 16px;
  font-weight: 500;
}

.skin-2 .halo-edit-cart-popup .product-edit-itemCenter .product-edit-title-variant {
  font-size: 16px;
}

.skin-2 .halo-edit-cart-popup .card-price .price-item .money {
  font-size: 18px;
}

.skin-2.size-chart-show .background-overlay {
  z-index: 9999;
}

.skin-2.compare-color-show .background-overlay {
  z-index: 9999;
}

.skin-2.ask-an-expert-show .background-overlay {
  z-index: 9999;
}

.skin-2.quick-view-show .background-overlay-popup {
  z-index: 99;
}

.skin-2 .background-overlay,
.skin-2 .background-overlay-popup,
.skin-2 .background-header-search {
  background-color: rgba(0, 0, 0, 0.4);
}

.skin-2 .background-header-search {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25vh;
  cursor: pointer;
  display: block;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.skin-2 .halo-sidebar_search .search-bar .input-group-field {
  font-size: 16px;
}

.skin-2 .halo-sidebar_search .halo-sidebar-header .title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-2 .halo-sidebar_search .quickSearchResultsWrap .search-block-title .text {
  font-size: 16px;
  text-transform: capitalize;
}

.skin-2 .halo-toolbar-bottom-mobile .halo-toolbar-wrapper .halo-toolbar-item .icon--cart .cart-count-bubble {
  background-color: #000000;
  color: #ffffff;
  line-height: 22px;
}

.skin-2 .halo-quickshop-popup .previewCartItem-qty .quantity {
  padding: 16px 14px 15px 20px;
}

.skin-2 .halo-quickshop-popup .previewCartItem-qty .btn-quantity {
  height: 55px;
  top: 5px;
}

.skin-2 .halo-quickshop-popup .halo-productView-right .product-title {
  padding-bottom: 5px;
}

.skin-2 .halo-quick-view-popup input[type=text] {
  padding: 16px 12px 15px;
}

.skin-2 .halo-quick-view-popup .productView-information .share-button__fallback .button-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skin-2 .halo-quick-view-popup .productView-information .productView-share .share-button svg {
  position: relative;
  top: 2px;
}

.skin-2 .halo-quick-view-popup .productView-rating .spr-badge-caption {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-soldProduct .text {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-perks::-webkit-scrollbar {
  display: none;
}

.skin-2 .halo-quick-view-popup .productView-variants .form__label {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-information .productView-subtotal .text,
.skin-2 .halo-quick-view-popup .productView-information .productView-subtotal .money {
  font-size: 18px;
}

.skin-2 .halo-quick-view-popup .previewCartCheckbox input[type=checkbox] + label {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .previewCartCheckbox input[type=checkbox] ~ a {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-information .productView-more .text {
  font-size: 16px;
}

.skin-2 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a {
  width: 55px;
  height: 55px;
}

.skin-2 .halo-quick-view-popup .productView-information .previewCartAction .previewCartGroup .previewCartGroup-top .productView-wishlist a svg {
  position: relative;
  top: -1px;
}

.skin-2 .halo-quickshop-popup .halo-productView-right .productView-variants [data-header-option] {
  font-size: 16px;
}

.skin-2 .halo-quickshop-popup .halo-productView-right .productView-variants .form__label {
  font-size: 16px;
}

.skin-2 .halo-quickshop-popup .halo-productView-right .productView-variants .product-form__label .text {
  font-size: 16px;
}

.skin-2 .halo-quickshop-popup .halo-productView-right .productView-variants .product-form__label.available .text {
  font-size: 16px;
}

.skin-2 .halo-sidebar_menu .halo-sidebar-header .title {
  font-size: 20px;
  text-transform: capitalize;
}

.skin-2 .halo-sidebar_menu .site-nav-mobile.nav .menu-lv-item .menu-lv-1__action {
  font-size: 16px;
}

.skin-2 .halo-sidebar_menu .nav-currency-language .disclosure__list {
  font-size: 14px;
}

.skin-2 .halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link .text {
  font-size: 16px;
}

.skin-2 .halo-sidebar_menu .nav-currency-language .disclosure__list .disclosure__item .disclosure__link svg {
  position: relative;
  top: -5px;
}

.skin-2 .halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item .text {
  font-size: 16px;
}

.skin-2 .halo-sidebar_menu .nav-currency-language .wrapper-currencies .currency-item svg {
  position: relative;
  top: -5px;
}

.skin-2 .halo-toolbar-bottom-mobile .halo-toolbar-wrapper .halo-toolbar-item .label {
  font-size: 14px;
}

.skin-2 .live_help_group .title {
  font-size: 16px;
}

.skin-2 .live_help_group .desc {
  font-size: 16px;
  margin-bottom: 16px;
}

.skin-2 .live_help_group .text {
  font-size: 16px;
}

.skin-2 .halo-notification-popup .halo-popup-content .product-content {
  font-size: 16px;
}

.skin-2 .halo-block-product-tab .slick-arrow,
.skin-2 .halo-product .slick-arrow {
  top: 35% !important;
}

.skin-2 .halo-block-product-tab .slick-arrow svg,
.skin-2 .halo-product .slick-arrow svg {
  top: -5px;
}

.skin-2 .halo-block-product-tab .slick-arrow:hover svg,
.skin-2 .halo-product .slick-arrow:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}

@media (max-width: 1024px) {
  .skin-2 .slick-arrow {
    top: 35%;
  }
  .skin-2 .slick-arrow.slick-prev {
    left: -2px;
  }
  .skin-2 .slick-arrow.slick-next {
    right: -2px;
  }
}

@media (max-width: 992px) {
  .skin-2 .slick-arrow {
    top: 50%;
  }
  .skin-2 .halo-banner.style-2 .slick-arrow.slick-prev {
    left: 10px;
  }
  .skin-2 .halo-banner.style-2 .slick-arrow.slick-next {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .skin-2 .product-card .text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .skin-2 .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .skin-2 .container.container-1640 .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (min-width: 1025px) {
  .skin-2 .custom-magamenu-1 .row {
    margin: 0 -15px !important;
  }
  .skin-2 .row {
    margin-left: 0;
    margin-right: 0;
  }
  .skin-2.quickSearchResult-show {
    padding-right: 10px;
  }
  .skin-2 .product-card .card-action {
    padding: 15px;
  }
}

@media (min-width: 1670px) {
  .skin-2 .container.container-1640 {
    max-width: 1670px !important;
  }
  .skin-2 .container.container-1640 .row {
    margin: 0 -15px;
  }
}
/*# sourceMappingURL=skin-2.css.map */