@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.skin-10{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
    h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5,.card-price{
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        letter-spacing: 0;
    }
    .link{
        color: #051c42;
        letter-spacing: 0;

    }
    .desc{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        color: #202020;
    }
    .link-underline:hover .text,
    .text-underline .text {
        text-underline-offset: 0.3rem;
    }
    label{
        font-size: 16px;
        color: #202020;
        letter-spacing: 0;
        font-weight: 500!important;
        margin: 0 0 11px;
    }
    input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        padding: 10px 15px 12px;
        line-height: 24px;
        border-radius: 3px;
    }
    .button{
        padding: 13px 15px 13px;
        letter-spacing: 0;
        text-transform: capitalize;
        border-radius: 30px;
        min-width: 166px;
        font-size: 16px;
        &.button-1{
            background: #ffffff;
            border-color: #202020;
            color: #202020;
            &:hover{
                background: #0a6cdc;
                border-color: #0a6cdc;
                color: #ffffff;
            }
        }
        &.button-2{
            background: #161880;
            border-color: #161880;
            color: #ffffff;
            &:hover{
                background: #ffffff;
                border-color: #202020;
                color: #202020;
            }
        }
        &.button-3{
            background: #0a6cdc;
            border-color: #0a6cdc;
            color: #ffffff;
            height: auto;
            &:hover{
                background: #ffffff;
                border-color: #0a6cdc;
                color: #0a6cdc;
            }
        }
    }
    .slick-arrow{
        border-color: #505050;
        border-width: 2px;
        padding: 7px !important;
        width: 36px;
        height: 36px;
        &.slick-prev{
            left: 0;
        }
        &.slick-next{
            right: 0;
        }
        svg{
            fill: #505050;
            top: -5px;
        }
        &:hover{
            background: #ffffff;
            border-color: #051c42;
            svg{
                fill: #051c42;
            }
        }
    }
    .slick-dots{
        margin-top: 25px;
        position: absolute;
        bottom: -50px;
        li{
            button{
                border-color: #cecece;
                width: 10px;
                height: 10px;
                background: #cecece;
            }
            &.slick-active {
                button{
                    background: #0064e4;
                    border-color: #0064e4;
                }
            }
        }
    } 
    .halo-row-item{
        .img-box{
            border-radius: 6px;
            overflow: hidden;
        }
    }
    .halo-block-header{
        position: relative;
        .title{
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0;
            color: #202020;
            span{
                width: auto;
                background: transparent;
                padding: 0;
            }
            &::before{
                display: none;
            }
            
        }
        .view_all{
            font-size: 14px;
            color: #202020;
            letter-spacing: 0;
            font-weight: 500;
        }
        &.text-center{
            .title{
                font-size: 20px;
            }
            .view_all{
                bottom: -10px;
            } 
        }
    }
    .product-card{
        .card-product__group{
            .card-icon{
                background: #f5f5f5;
                .text{
                    font-size: 14px;
                    letter-spacing: 0;
                    color: #202020;
                    background: #f5f5f5;
                }
            } 
        } 
        .product-card-bottom{
            padding: 15px 0px 15px;
        }
        .card-title{
            display: inline;
            font-size: 16px;
            line-height: 24px;
            color:#202020;
            letter-spacing: 0;
        }
        .card-vendor-title{
            line-height: 24px;
            padding: 6px 0px 11px;
            a{
                display: inline;
                font-size: 16px;
                line-height: 24px;
                color:#202020;
                letter-spacing: 0;
                &.card-vendor{
                    font-weight: 600;
                }
            }
        }
        .card-price{
            justify-content: flex-start;
            padding-bottom: 2px;
            .price-item{
                .text{
                    color: #505050;
                    position: relative;
                    top: 2px;
                    font-size: 14px;
                    font-weight: 400;
                }
                .money{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0;
                    color:#202020;
                }
            }
            &.price__sale{
                .price-item--regular{
                    span{
                        color: #505050;
                        font-weight: 400;
                        padding-left: 5px;
                    }
                }
                .price__last{
                    span{
                        color: #e10600;
                        font-weight: 700;
                    }
                }
            }
        }
        .card-swatch{
            margin: 15px 0px 23px;
            .swatch{
                margin-bottom: 0;
            }
        } 
        .card-action{
            position: relative;
            z-index: 10;
            opacity: 1;
            visibility: visible;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            form{
                width: 100%;
                .button{
                    width: 100%;
                    border-color: #202020;
                    color: #202020;
                    padding: 9px 15px 9px;
                }
            }
            .wishlist-icon{
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                background: #f5f5f5;
                position: relative;
                display: none;
                svg{
                    fill: #202020;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &.wishlist-added{
                    background: #ffe5e5;
                }
                &:hover{
                    background: #ffe5e5;
                }
            }
        }
    }
    .card__badge{
        top: 0;
            .badge{
                font-size: 14px;
                letter-spacing: 0;
                padding: 5px 16px;
                border-radius: 3px;
                &.sale-badge{
                    background: #ffd8d7;
                    color: #e10600;
                }
                &.sold-out-badge{
                    background: #f5f5f5;
                    color: #666666;
                }
                &.custom-badge{
                    background: #feedbd;
                    color: #fd9427;
                }
                &.bundle-badge{
                    background: #d7ffd2;
                    color: #43b200;
                }
            }
        &.badge-left{
            left: 0;
        }
        &.badge-right{
            right: 0;
        }
    }
    .productView-rating{
        .spr-icon{
            &.spr-icon-star{
                &::before{
                    color: #ffc50d;
                }
            }
            &.spr-icon-star-empty{
                &::before{
                    color: #f0f0f0;
                }
            }
        }
        .count-review{
            font-size: 12px;
            color:#878787;
            padding-left: 3px;
            position: relative;
            top: -2px;
        }
    }
    .halo-recently-viewed-popup{
        .recently-viewed-tab{
            &.recently-viewed-list{
                .no-products{
                    .text{
                        font-size: 11px!important;
                    }
                } 
            }
            .list-social-2{
                .list-social__info{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .background-overlay, 
    .background-overlay-popup{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .halo-popup{
        .halo-popup-header{
            .halo-popup-title{
                font-size: 18px;
                letter-spacing: 0;
            }
            .halo-popup-close {
                top: 10px;
                right: 10px;
                background: #7f7f7f;
                border-radius: 8px;
            }
        }
        &.halo-quick-view-popup{
            border-radius: 3px;
            overflow: hidden;
            .halo-popup-header{
                .halo-popup-close {
                    top: 20px;
                    right: 20px;
                }
            } 
        }
    }
    .halo-sidebar{
        .halo-sidebar-header{
            padding: 25px 30px 6px;
            border: none;
            .title{
                font-family: 'Rubik', sans-serif;
                letter-spacing: 0;
                color: #202020;
                font-size: 20px;
                font-weight: 700;
            }
        } 
    }
    .desc{
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        color: #505050;
    }
    .form-input, .field__input{
        font-size: 15px;
        letter-spacing: 0;
        color: #202020;
    }
    .productView-information{
        .productView-images{
            .zoom-image{
                text-align: center;
                padding: 0 15px 15px;
                span{
                    font-size: 14px;
                    color: #808080;
                }
                svg{
                    fill: #808080;
                    position: relative;
                    top: -2px;
                    margin-right: 6px;
                    width: 15px;
                    height: 15px;
                }
            }
            .productView-thumbnail-wrapper{
                .slick-current{
                    .productView-thumbnail-link{
                        img{
                            border:1px solid #575757;
                            opacity: 1;
                        }
                    } 
                } 
                .slick-arrow{
                    width: 35px;
                    height: 35px;
                    border: 1px solid #cacaca;
                    padding: 7px!important;
                    svg{
                        fill:#cacaca;
                        position: relative;
                        top: -2px;
                    }
                    &.slick-prev{
                        left: 0;
                    }
                    &.slick-next{
                        right: 0;
                    }
                }
            }
        }
        .halo-productView-right{
            .productView-title{
                font-size: 24px;
                letter-spacing: 0;
                font-weight: 700;
                color: #202020;
                margin-bottom: 7px;
            }
        }
        .productView-ask{
            background: #f5f5f5;
            padding: 20px 37px;
            border-radius: 50px;
            margin-top: 34px;
            .wrapper-col,
            .col-left{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
            }
            .col-left{
                .icon{
                    width: 60px;
                    height: 60px;
                    margin-right: 5px;
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                }
                .title{
                    font-size: 16px;
                    font-weight: 700;
                    font-style: italic;
                    color: #202020;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }
                .desc{
                    font-size: 14px;
                    color: #202020;
                    letter-spacing: 0;
                }
            }
            .col-right{
                .button-ask{
                    background: #f6b924;
                    color:#202020;
                    font-size: 14px;
                    text-transform: uppercase;
                    padding: 9px 15px 9px;
                    min-width: 160px;
                    &:hover{
                        background: transparent;
                        color:#202020;
                        border-color: #202020;
                    }
                }
            }
        }
        .productView-info{
            margin: 17px 0px 23px;
            .productView-info-item{
                padding-bottom: 0px;
                span{
                    color: #808080;
                    letter-spacing: 0;
                    &.productView-info-value{
                        color: #202020;
                    }
                }
            }
        }
        .card-price{
            margin-bottom: 8px;
            .money{
                font-size: 24px;
            }
            &.price__sale{
                .price__last{
                    span{
                        color: #e10600;
                        font-weight: 700;
                        margin-right: 15px;
                    }
                }
            }
        }
        .productView-countDown{
          &.style-3{
            .num,
            span{
                font-size: 16px;
                font-weight: 500;
            }
          }  
        }
        .productView-rating{
            .spr-badge-caption,
            .spr-badge-caption{
                font-size: 15px;
                letter-spacing: 0;
                color: #808080;
            }
        }
        .productView-soldProduct{
            .text{
                font-size: 15px;
                letter-spacing: 0;
                color: #e10600;
            }
        }
        .short-desc{
            margin: 10px 0px 23px;
        }
    }
    .productView-variants {
        .product-form__inputs{
            margin-bottom: 12px;
        }
        .form__label{
            font-size: 16px!important;
            font-weight: 400!important;
            letter-spacing: 0;
            color: #808080;
            line-height: 24px;
            margin-bottom: 0px;
            span{
                font-size: 16px!important;
                color: #202020;
            }
        }
        .product-form__label{
            padding: 0 15px;
            border-radius: 3px;
            margin-top: 9px;
            margin-right: 12px;
            background: #ffffff;
            .text{
                font-size: 16px;
                color: #202020;
            }
            &.soldout{
                background: #f5f5f5;
                color: #808080;
                border-color: #f5f5f5;
                &::before{
                    display: none;
                }
            }
        }
        .product-form__radio{
            &:hover{
                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
            }
            &:checked {
                & + .product-form__label{
                    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .product-form__swatch{
            .product-form__label{
                margin-top: 5px;
                padding: 2px;
                border-color: transparent;
                border-width: 2px;
                margin-right: -2px;
                background: transparent;
                &:hover{
                    border-color: #d6d5d6;
                    box-shadow: none;
                }
            }
            .product-form__radio{
                &:checked {
                    & + .product-form__label{
                        position: relative;
                        border-color: transparent;
                        box-shadow: none;
                        &::after{
                            content: '';
                            width: 14px;
                            height: 7px;
                            position: absolute;
                            top: 12px;
                            left: 12px;
                            z-index: 9;
                            border-color: #ffffff;
                            border: 2px solid #ffffff;
                            border-top: none;
                            border-right: none;
                            transform: rotate(-45deg);
                            transition: all 0.1s;
                        }
                    }
                }
            }
        }   
    }
    .productView-information{
        .previewCartAction{
            .previewCartGroup{
                .previewCartGroup-top{
                    .quantity_selector{
                        margin: 0;
                        .quantity__label{
                            margin: 0 0 10px;
                        }
                    }
                    .previewCartItem-qty{
                        margin-right: 10px;
                        .quantity{
                            padding: 19px 14px 17px 20px;
                            font-size: 15px;
                            color: #202020;
                            border-radius: 30px;
                        }
                        .btn-quantity{
                            height: 60px;
                            left: 5px;
                            &::before,
                            &::after{
                                top: 30px;
                            }
                            &.plus{
                                right: 5px;
                                left: auto;
                            }
                        }
                    }
                    .productView-action{
                        .button{
                            padding: 19px 15px; 
                            &:hover{
                                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                    .productView-wishlist{
                        margin: 0 0 0 10px;
                        a{
                            width: 60px;
                            height: 60px;
                            border-color: #cccccc;
                            padding: 16px;
                            svg{
                                fill: #202020;
                            }
                        }
                    }
                    .productView-share{
                        .share-button{
                            width: 60px;
                            height: 60px;
                            padding: 0;
                            margin-left: 10px;
                            border: 1px solid #cccccc;
                            svg{
                                fill: #202020;
                            }
                            &:hover{
                                border-color: #e95144;
                                svg{
                                    fill: #e95144;
                                }
                            }
                        }
                    }
                }
                .previewCartGroup-bottom{
                    .button-checkout{
                        padding: 19px 15px 19px;
                    }
                    .previewCartCheckbox{
                        margin: 27px 0px 24px;
                        label{
                            font-size: 14px;
                            color: #808080;
                        }
                        a{
                            font-size: 14px;
                            color: #202020;
                        }
                    }
                }
            }
            
        }
        .productView-more{
            margin: 21px 0px 0px;
            .text{
                font-size: 14px;
                color: #808080;
                letter-spacing: 0;
            }
            svg{
                fill: #808080;
            }
        } 
        .productView-securityImage {
            margin: 23px 0px 0px;
        }
    }
    .halo-ask-an-expert-popup{
        border-radius: 3px;
        overflow: hidden;
        .wrapper-content{
            .ask-an-expert{
                .heading,
                .text,
                .intro{
                    font-size: 16px;
                    letter-spacing: 0;
                }
                .heading,
                .intro{
                    color: #202020;
                }
            }
            .button,
            textarea{
                border-radius: 3px;
            } 
        } 
    }
    .halo-quickshop-popup{
        border-radius: 3px;
        overflow: hidden;
        .halo-productView-right{
            .product-title{
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                font-weight: 600;
            }
            .card-price{
                .price-item{
                    .money{
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0;
                        color:#202020;
                    }
                }
                &.price__sale{
                    .price-item--regular{
                        span{
                            color: #505050;
                            font-weight: 400;
                            padding-left: 10px;
                        }
                    }
                    .price__last{
                        span{
                            color: #e10600;
                            font-weight: 600;
                        }
                    }
                }
            }
            .productView-variants {
                .product-form__label{
                    min-width: 40px; 
                    height: 40px;
                    line-height: 40px;
                    .text{
                        font-size: 16px;
                    }
                }
            }
            .product-options{
                margin-top: 10px;
                .quantity{
                    padding: 10px 15px 12px;
                    border-radius: 3px;
                }
                .button,
                input{
                    border-radius: 3px;
                }
                
            }
        }
    }
    .halo-notify-popup {
        border-radius: 3px;
        overflow: hidden;
        .button,
        input{
            border-radius: 3px;
        }
    }
    .halo-newsletter-popup{
        border-radius: 3px;
        overflow: hidden;
        .halo-popup-content {
            .newsletter {
                .button,
                input{
                    border-radius: 3px;
                }
                input{
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
    .halo-notification-popup{
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        max-width: 442px;
        .halo-popup-header{
            .halo-popup-close{
                width: 14px!important;
                height: 14px!important;
                svg{
                    fill: #202020!important;
                }
            }   
        }
        .halo-popup-wrapper{
            padding: 16px 10px 14px;
        }
        .halo-popup-content {
            .product-image{
                max-width: 90px;
            }
            .product-content{
                margin-left: 18px;
                .text{
                    display: block;
                    font-size: 14px;
                    letter-spacing: 0;
                    color: #505050;
                }
                .product-name{
                    font-size: 14px;
                    color: #202020;
                    letter-spacing: -.02em;
                    padding-top: 8px;
                    display: block;
                    &:hover{
                        color: #0a6cdc;
                        span{
                            text-decoration: underline;
                            text-underline-offset: 0.2rem;
                        }
                    }
                }
                .info-ago{
                    margin-top: 12px;
                    .time-text{
                        font-size: 12px;
                        font-style: italic;
                        color: #808080;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
    .halo-accept-cookie-popup{
        left: 40px;
        bottom: 190px;
        background: #ffffff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        max-width: 442px;
        padding: 23px 30px 30px;
        .halo-popup-header{
            .halo-popup-close{
                width: 14px;
                height: 14px;
                top: 10px;
                right: 10px;
                position: absolute;
                display: block;
                line-height: 1;
                font-size: 0;
                letter-spacing: 0;
                text-align: center;
                z-index: 9;
                svg{
                    fill: #202020;
                    width: 100%;
                    height: 100%;
                }
            }   
        }
        .desc{
            color: #505050;
        }
        .group-action-links{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-top: 26px;
            .accept{
                font-size: 14px;
                color: #202020;
                font-weight: 500;
                margin-left: 0;
                margin-right: 30px;
                min-width: 150px;
                padding: 9px 15px 9px;
                &:hover{
                    color: #ffffff;
                }
            }
            .link{
                .text{
                    font-weight: 500;
                    color: #202020;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    font-size: 14px;
                }
                &:hover{
                    .text{
                        color: #0a6cdc;
                    }  
                }
            }
        }
        
    }
    .halo-sidebar_menu{
        .site-nav-mobile{
            &.nav{
                .menu-lv-1__action{
                    font-size: 14px!important;
                    color: #202020!important;
                }
                .menu-lv-2__action,
                .menu-lv-3__action{
                    font-size: 14px;
                    letter-spacing: 0;
                    color: #202020;
                }
            } 
            .nav-title-mobile{
                background: #e6e6e6!important ;
                span{
                    color: #202020!important;
                    letter-spacing: 0!important;
                }
            }
        }
        .nav-currency-language{
            .title{
                background: #e6e6e6 ;
                color: #202020;
                letter-spacing: 0;
            }
        }
        .nav-currency-language{
            .text{
                font-size: 14px!important;
                color: #202020!important;
            }
            .currency-item{
                .icon{
                    svg{
                        position: relative;
                        top: -5px;
                    }
                }
            } 
        }
    }
    .halo-sidebar_search{
        .search-bar {
          .input-group-field{
              font-size: 14px;
              color: #808080;
          }
          .icon-search{
            padding: 4px!important;
            position: relative;
            right: 5px;
          }
          .form_search_type{
            width: 100%;
            position: relative;
            max-width: 85px;
            background: #f5f5f5;
                .srch_type{
                    border: none;
                    padding: 11px 27px 8px 11px;
                    color: #808080;
                    letter-spacing: 0;
                    background: transparent;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .icon-dropdown{
                    position: absolute;
                    bottom: 0;
                    font-size: 20px;
                    right: 5px;
                    background-color: transparent;
                    top: 1px;
                    z-index: 0;
                    height: auto;
                    cursor: pointer;
                    svg{
                        fill:#808080;
                    }
                }
            }
        }
    }
    .quickSearchResultsWrap{
        .search-block-title{
            span{
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0;
                color: #202020;
            }
        }
        .list-item{
            .item{
                .link{
                    font-size: 14px;
                    color: #202020;
                    padding: 9px 14px 9px 9px;
                }
            } 
        }
        .product-card{
            .card-action{
                .button{
                    width: 100%!important;
                }
            } 
        } 
    }
    .halo-auth-sidebar{
        .halo-sidebar-header{
            .desc{
                font-size: 16px;
                color: #505050;
                letter-spacing: 0;
                padding: 15px 0px 15px;
            }
        }
        .form-input{
            border-radius: 30px;
        }
        .auth-form {
            .form-field {
                & + .form-field{
                    margin-top: 22px;
                }
            }
        }
        .auth-actions{
            margin: 17px 0 0;
            .auth-link{
                color: #0a6cdc;
                letter-spacing: 0;
                font-size: 16px;
                text-underline-offset: 0.3rem;
                margin: 22px 0 28px;
            }
            .text-create-acc{
                font-size: 16px;
                line-height: 24px;
                color: #505050;
                padding: 29px 0px 27px;
                border-top:1px solid #e6e6e6;
            }
        }
    }
    .halo-cart-sidebar{
        .haloCalculatorShipping{
            .progress{
                border-radius: 20px;
                margin: 0px 0 3px;
                .progress-meter{
                    background-color:#ff9c00!important;
                }
            }
            .message{
                color: #505050;
                .text{
                    color: #202020;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
        }
        .previewCart{
            padding: 20px 20px 0 30px;
        }
        .previewCartItem-name{
            font-size: 16px;
            letter-spacing: -.02em;
            color: #202020;
        }
        .previewCartItem-remove{
            svg{
                fill: #b2b2b2;
            }
            &:hover{
                svg{
                    fill: #000000;
                } 
            }
        }
        .previewCartItem-options{
            margin: 0 0 10px;
            padding: 0 25px 0 0;
            span{
                font-size: 14px;
                color: #505050;
                letter-spacing: -.02em;
            }
        }
        .previewCartItem-price{
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0;
            color: #202020;
            font-family: 'Rubik', sans-serif;
        }
        .previewCartItem-edit{
            svg{
                fill: #b2b2b2;
                stroke: none;
                width: 18px;
                height: 18px;
                top: 0;
            }
            &:hover{
                svg{
                    fill: #000000;
                }
            }
        }
        .previewCartCollection{
            .previewCartTitle{
                font-size: 20px;
                font-weight: 700;
                color: #202020;
            }
        }
        .slick-arrow{
            &.slick-next{
                right: 0;
            }
            svg{
                top: -6px;
            }
        }
        .slick-dots{
            bottom: initial;
            top: -63px;
            right: 0;
            text-align: right;
        }
        .product-card{
            .product-card-bottom{
                padding: 0px 0px 0px 20px;
                .productView-rating{
                    display: block;
                    margin-bottom: 7px;
                }
                .card-title{
                    display: block;
                }
            }
        }
        .previewCartInfo{
            .previewCartTotals{
                padding-bottom: 6px;
            }
            .previewCartTotals-label,
            .previewCartShipping-label{
                font-size: 14px;
                letter-spacing: -.02em;
                color: #202020;
                font-weight: 500;
            }
            .previewCartTotals-value,
            .money{
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -.02em;
            }
            .previewCartShipping-text{
                font-size: 14px;
                color: #808080;
                letter-spacing: -.02em;
                font-style: italic;
                display: inline-block;
                font-weight: 400;
            }
            .previewCartCheckbox{
                input[type=checkbox]{
                    & + label{
                        font-size: 14px;
                        color: #808080;
                        letter-spacing: 0;
                        font-weight: 400!important;
                    }
                    & ~ a{
                        color: #202020;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
            }
            .previewCartGroup{
                display: flex;
                align-items: center;
                margin: 14px -5px 0px;
                .button {
                    margin: 0px 5px;
                    & + .button{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:1024px){
    .skin-10 {
        .halo-accept-cookie-popup{
            left: 15px;
            bottom: 220px;
        }
    }
}
@media(max-width:767px){
    .skin-10{
        .halo-cart-sidebar {
            .previewCartInfo{
                .previewCartGroup{
                    display: block;
                    .button{
                        & + .button{
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:551px){
    .skin-10 {
        .halo-accept-cookie-popup{
            left: 0;
            bottom: 69px;
        }
    }
}
@media(min-width:768px){
    .skin-10{
        .halo-block-header {
            margin-bottom: 35px;
            .view_all{
                position: absolute;
                right: 0;
                bottom: -13px;
                z-index: 9;
                &:hover{
                    color: #0a6cdc;
                }
            }
        }
    }
}

@media(min-width:992px){
    .halo-quick-view-popup{
        min-width: 1270px;
    }
}

@media(min-width:1025px){
    .skin-10{
        .product-card{
            .card-vendor-title{
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.3rem;
                    a{
                        color: #0a6cdc;
                    }
                }
            }
            .card-action{
                .button{
                    width: calc(100% - 50px)!important;
                    &:hover{
                        background: #0a6cdc;
                        color: #ffffff;
                        border-color: #0a6cdc;
                    }
                }
                .wishlist-icon{
                    width: 0;
                    min-width: 0;
                    opacity: 0;
                    visibility: hidden;
                    display: block;
                }
            }
            &:hover{
                .card-action{
                    .button{
                        width: calc(100% - 10px)!important;
                    }
                    .wishlist-icon{
                        width: 40px;
                        min-width: 40px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .halo-sidebar{
            max-width: 400px;
            .halo-sidebar-header{
                padding: 33px 30px 0;
                .halo-sidebar-close{
                    top: 29px;
                    right: 30px;
                    background: #7f7f7f;
                    border-radius: 8px;
                    width: 30px;
                    height: 30px;
                    padding: 7px;
                    svg{
                        width: 100%;
                        height: 100%;
                        fill: #ffffff;
                    }
                    &:hover{
                        background: #ef6454;
                    }
                }
            }
            &.halo-edit-option-sidebar{
                .halo-sidebar-header{
                    padding: 33px 40px 0;
                }
            }
            &.halo-cart-sidebar{
                max-width: 500px;
                .halo-sidebar-header{
                    padding: 33px 40px 0;
                    .halo-sidebar-close{
                        right: 40px;
                    }
                }
                .haloCalculatorShipping{
                    margin-top: 24px;
                    padding: 0 40px;
                }
                .previewCart{
                    padding: 20px 40px 0 40px;
                }
                .previewCartInfo{
                    padding: 5px 40px 125px;
                }
                .previewCartItem-image{
                    width: 100px;
                }
                .previewCartItem-content{
                    width: calc(100% - 100px);
                }
            } 
        }
    }
}

@media(min-width:1300px){
    .halo-quick-view-popup{
        min-width: 1270px;
    }
}

@media(min-width:1200px){
    .skin-10{
        .productView-information{
            .halo-productView-left{
                width: 570px;
                .productView-thumbnail-wrapper{
                    .productView-for{
                        padding: 0px 70px;
                        .slick-arrow{
                            &.slick-next{
                                right: 15px;
                            }
                            &.slick-prev{
                                left: 15px;
                            }
                        }
                    }
                } 
            }
            .halo-productView-right{
                width: calc(100% - 570px);
                padding-left: 50px;
            }
        }
    }
}


@media(min-width:1600px){
    .skin-10{
        .slick-arrow{
            &.slick-prev{
                left: -67px;
            }
            &.slick-next{
                right: -67px;
            }
        }
        .slick-dots{
            bottom: -52px;
        }
        .halo-quick-view-popup  {
            .halo-popup-wrapper {
                .halo-popup-content{
                    padding: 62px 40px 100px;
                }
            }
        }
        .productView-information  {
            .halo-productView-right{
                padding-left: 65px;
            }
        }
    }
}