.footer-8 {
  background: #ffffff;
}

.footer-8 .footer-top {
  background: #f5f5f5;
  padding: 53px 0 22px;
}

.footer-8 .footer-top .footer-newsletter {
  padding: 22px 0px 16px;
}

.footer-8 .footer-top .footer-newsletter .footer-block__heading {
  color: #051c42;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer-8 .footer-top .footer-newsletter .footer-block__newsletter-form {
  margin: 24px auto 30px;
  max-width: 632px;
}

.footer-8 .footer-top .footer-newsletter .footer-block__newsletter-form .newsletter-form__button {
  width: 100%;
  max-width: 174px;
}

.footer-8 .footer-top .footer-newsletter .footer-block__newsletter-form .field__input {
  background: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  color: #808080;
  padding: 13px 23px 13px;
}

.footer-8 .footer-top .footer-newsletter .footer-block__newsletter-form .field {
  margin-right: 15px;
}

.footer-8 .footer-top .footer-nav .footer-block__heading {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #051c42;
  font-weight: 700;
}

.footer-8 .footer-top .footer-nav .footer-link,
.footer-8 .footer-top .footer-nav .contact-info p,
.footer-8 .footer-top .footer-nav .contact-info a {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #051c42;
}

.footer-8 .footer-top .footer-nav .footer-logo {
  margin: 7px 0px 10px;
}

.footer-8 .footer-top .footer-nav .contact-info .icon {
  width: 33px;
  display: inline-block;
  vertical-align: top;
}

.footer-8 .footer-top .footer-nav .contact-info .icon svg {
  height: 22px;
  width: 22px;
}

.footer-8 .footer-top .footer-nav .contact-info .icon + span {
  width: calc(100% - 40px);
  display: inline-block;
}

.footer-8 .footer-top .footer-nav .list-social {
  margin-top: 30px;
}

.footer-8 .footer-top .footer-nav .list-social .list-social__item {
  margin: 10px 10px 0px 0;
}

.footer-8 .footer-top .footer-nav .list-social .list-social__link {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: #051c42;
  border: 1px solid #051c42;
}

.footer-8 .footer-top .footer-nav .list-social .list-social__link svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  position: relative;
  left: 3px;
  top: 2px;
}

.footer-8 .footer-top .footer-nav .list-social .list-social__link:hover::before {
  -webkit-box-shadow: 0 0 0 2px #051c42 !important;
          box-shadow: 0 0 0 2px #051c42 !important;
}

.footer-8 .footer-top .footer-securityImage {
  padding: 16px 0px 19px;
}

.footer-8 .footer-top .footer-securityImage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-8 .footer-top .footer-securityImage ul li {
  padding: 0px 15px;
}

.footer-8 .footer-bottom {
  background: #ffffff;
  border-top: 0;
  padding-top: 22px;
  padding-bottom: 48px;
}

.footer-8 .footer-bottom .copyright__content {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #808080;
}

.footer-8 .footer-bottom .copyright__content span {
  display: block;
}

.footer-8 .footer-bottom .footer__payment {
  position: relative;
  top: -5px;
}

.footer-8 .footer-bottom .footer__payment .list-payment {
  text-align: right;
  padding-top: 10px;
}

@media (max-width: 992px) {
  .footer-8 .footer-nav .col-custom-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .footer-8 .footer-top .footer-securityImage ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0px -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-8 .footer-top .footer-securityImage ul li {
    padding: 0px 15px 10px;
    min-width: 115px;
  }
  .footer-8 .footer__payment .list-payment {
    margin: 20px 0px 0px;
    text-align: left !important;
  }
  .footer-8 .footer__payment .list-payment li {
    margin: 5px 15px 5px 0px !important;
  }
}

@media (max-width: 767px) {
  .footer-8 .footer-newsletter .footer-block__heading {
    border: none;
  }
  .footer-8 .footer-newsletter .footer-block__heading::before, .footer-8 .footer-newsletter .footer-block__heading::after {
    display: none;
  }
  .footer-8 .footer-top .footer-block__heading::after, .footer-8 .footer-top .footer-block__heading::before {
    background-color: #051c42;
  }
}

@media (max-width: 552px) {
  .footer-8 .newsletter-form__button {
    border-radius: 5px;
  }
}
/*# sourceMappingURL=footer-8.css.map */